.data-area {
    position: relative;
}

table.fixedTableHeader {
    border: 1px solid #dfdfdf;
    /*width: 954px;*/
    position: absolute;
    background: #f9f9fa;
    max-width: none;
    table-layout: fixed;
}

table.fixedTableHeader tr{
    height: 25px;
}

table.fixedTableHeader tr th {
    border: 1px solid #eeeeee;
    border-left: 0; /*border-right:0;*/
    border-bottom: 0;
    text-align: center;
    background: none;
}

table.fixedTableHeader tr th {
    background: #f9f9fa;
    font-family: dotum, '돋움', 'Open Sans', 'sens-serif';
    font-size: 11px;
    color: #8b8b8b;
    letter-spacing: -1px;
}

table.fixedTableHeader tr th {
    border-right: 1px solid #eeeeee;
    padding: 5px;
}