<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true" />
        <setting name="useColumnLabel" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.skplanet.bisportal.common.model.JqGridRequest" alias="JqGridRequest"/>
        <typeAlias type="com.skplanet.bisportal.common.model.OlapDimensionRequest" alias="OlapDimensionRequest"/>

        <typeAlias type="com.skplanet.bisportal.model.syrup.CustomerSituation" alias="CustomerSituation"/>
        <typeAlias type="com.skplanet.bisportal.model.syrup.SmwMbrJoin" alias="SmwMbrJoin"/>
        <typeAlias type="com.skplanet.bisportal.model.syrup.SmwCponStatDtl" alias="SmwCponStatDtl"/>
        <typeAlias type="com.skplanet.bisportal.model.syrup.SmwCldrWk" alias="SmwCldrWk"/>
        <typeAlias type="com.skplanet.bisportal.model.syrup.SmwCardIssueDtl" alias="SmwCardIssueDtl"/>
        <typeAlias type="com.skplanet.bisportal.model.syrup.SmwCponLocStat" alias="SmwCponLocStat"/>
        <typeAlias type="com.skplanet.bisportal.model.syrup.SmwRcmdStatDtl" alias="SmwRcmdStatDtl"/>
        <typeAlias type="com.skplanet.bisportal.model.syrup.SmwPushTickerStatDtl" alias="SmwPushTickerStatDtl"/>
        <typeAlias type="com.skplanet.bisportal.model.syrup.SmwAppExec" alias="SmwAppExec"/>
        <typeAlias type="com.skplanet.bisportal.model.syrup.SmwAppClickN" alias="SmwAppClickN"/>
        <typeAlias type="com.skplanet.bisportal.model.syrup.SmwCardIssue" alias="SmwCardIssue"/>
        <typeAlias type="com.skplanet.bisportal.model.syrup.SmwCponStat" alias="SmwCponStat"/>
        <typeAlias type="com.skplanet.bisportal.model.syrup.SmwSyrupDauFunnels" alias="SmwSyrupDauFunnels"/>
        <typeAlias type="com.skplanet.bisportal.model.ocb.RtdDau" alias="RtdDau"/>
        <typeAlias type="com.skplanet.bisportal.model.mstr.MstrWeek" alias="MstrWeek"/>
    </typeAliases>

</configuration>
