<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">
    <bean id="memberEnterExcelView" class="com.skplanet.bisportal.view.ocb.MemberEnterExcelView" />
    <bean id="memberEnterDetailExcelView" class="com.skplanet.bisportal.view.ocb.MemberEnterDetailExcelView" />
    <bean id="visitOutlineExcelView" class="com.skplanet.bisportal.view.ocb.VisitOutlineExcelView" />
    <bean id="visitExceptPushOutlineExcelView" class="com.skplanet.bisportal.view.ocb.VisitExceptPushOutlineExcelView" />
    <bean id="visitSexAgeExcelView" class="com.skplanet.bisportal.view.ocb.VisitSexAgeExcelView" />
    <bean id="dayVisitorExcelView" class="com.skplanet.bisportal.view.admin.DayVisitorExcelView" />
    <bean id="feedExposureOrderExcelView" class="com.skplanet.bisportal.view.ocb.FeedExposureOrderExcelView" />
    <bean id="storeSingleExcelView" class="com.skplanet.bisportal.view.ocb.StoreSingleExcelView" />
    <bean id="feedExposureExcelView" class="com.skplanet.bisportal.view.ocb.FeedExposureExcelView" />
    <bean id="newOcbSeqExcelView" class="com.skplanet.bisportal.view.khub.NewOcbSeqExcelView" />
    <bean id="mktPushSndRsltExcelView" class="com.skplanet.bisportal.view.ocb.MktPushSndRsltExcelView" />
    <bean id="marketingPushExcelView" class="com.skplanet.bisportal.view.ocb.MarketingPushExcelView" />
    <bean id="pointPresentSumExcelView" class="com.skplanet.bisportal.view.khub.PointPresentSumExcelView" />
    <bean id="sosBleView" class="com.skplanet.bisportal.view.ocb.SosBleView" />
    <bean id="bpmResultSumExcelView" class="com.skplanet.bisportal.view.admin.BpmResultSumExcelView" />
    <bean id="mbrJoinExcelView" class="com.skplanet.bisportal.view.syrup.MbrJoinExcelView" />
    <bean id="mebershipIssueMemExcelView" class="com.skplanet.bisportal.view.syrup.MebershipIssueMemExcelView" />
    <bean id="issuePaVouExcelView" class="com.skplanet.bisportal.view.syrup.IssuePaVouExcelView" />
    <bean id="couponLocStatExcelView" class="com.skplanet.bisportal.view.syrup.CouponLocStatExcelView" />
    <bean id="rcmdStatExcelView" class="com.skplanet.bisportal.view.syrup.RcmdStatExcelView" />
    <bean id="pushTickerStatExcelView" class="com.skplanet.bisportal.view.syrup.PushTickerStatExcelView" />
    <bean id="bleServiceExcelView" class="com.skplanet.bisportal.view.syrup.BleServiceExcelView" />
    <bean id="monKpiView" class="com.skplanet.bisportal.view.tmap.MonKpiView" />
    <bean id="summaryExcelView" class="com.skplanet.bisportal.view.SummaryExcelView" />
    <bean id="bossExcelView" class="com.skplanet.bisportal.view.BossExcelView" />
    <bean id="pivotExcelView" class="com.skplanet.bisportal.view.PivotExcelView" />
    <bean id="dynamicHeaderPivotExcelView" class="com.skplanet.bisportal.view.DynamicHeaderPivotExcelView" />
    <bean id="dayKpiExcelView" class="com.skplanet.bisportal.view.tmap.DayKpiExcelView" />
    <bean id="inflRtVisitSituationExcelView" class="com.skplanet.bisportal.view.syrup.InflRtVisitSituationExcelView" />
    <bean id="platformExcelView" class="com.skplanet.bisportal.view.dashboard.PlatformExcelView" />
</beans>
