@font-face {
    font-family: 'dau132';
    font-style: normal;
    font-weight: normal;
    src: url('dau132.eot');
    src: url('dau132.eot?#iefix') format('embedded-opentype'),
         url('dau132.woff') format('woff'),
         url('dau132.ttf') format('truetype');
    src: local(※), url('dau132.woff') format('woff');
}

@font-face {
    font-family: 'dau142';
    font-style: normal;
    font-weight: normal;
    src: url('dau142.eot');
    src: url('dau142.eot?#iefix') format('embedded-opentype'),
         url('dau142.woff') format('woff'),
         url('dau142.ttf') format('truetype');
    src: local(※), url('dau142.woff') format('woff');
}

@font-face {
    font-family: 'dau152';
    font-style: normal;
    font-weight: normal;
    src: url('dau152.eot');
    src: url('dau152.eot?#iefix') format('embedded-opentype'),
         url('dau152.woff') format('woff'),
         url('dau152.ttf') format('truetype');
    src: local(※), url('dau152.woff') format('woff');
}

@font-face {
    font-family: 'skp-mm';
    font-style: normal;
    font-weight: normal;
    src: url('SKPGoMM.eot');
    src: url('SKPGoMM.eot?#iefix') format('embedded-opentype'),
         url('SKPGoMM.woff') format('woff'),
         url('SKPGoMM.ttf') format('truetype');
}

@font-face {
    font-family: 'skp-bm';
    font-style: normal;
    font-weight: normal;
    src: url('SKPGoBM.eot');
    src: url('SKPGoBM.eot?#iefix') format('embedded-opentype'),
         url('SKPGoBM.woff') format('woff'),
         url('SKPGoBM.ttf') format('truetype');
}