<div ng-controller="newOcbSegCtrl" data-ng-init="init()" ng-style="style(0)" resize table-id="tableId">
    <report-search-box search-callback="search" search-config="searchConfig"
                       menu-context="menuContext"></report-search-box>

    <div class="non-sub-title obj-section">
        <report-sub-nav excelConfig="excelConfig"></report-sub-nav>
    </div>

    <div class="data-area jq-board" ng-style="dataAreaStyle()" resize>
        <!--<div id="newOcbSegPivot" class="pivot-board01" report-indicator="pageState"></div>-->
        <jq-grid config="newOcbSegConfig" id="newOcbSegForGrid"></jq-grid>

    </div>
</div>
<script type="text/javascript" src="resources/app/khub/newOcbSeg/newOcbSegCtrl.js"></script>
