<div class="section-content">
	<div class="row">
		<div class="col-md-3" cg-busy="formPromise">
			<form name="form">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Pnet ID" ng-model="newUsername" ng-required="true">
					<span class="input-group-btn"><button type="button" class="btn btn-primary" ng-click="createUser()" ng-disabled="form.$invalid">사용자 등록</button></span>
				</div>
			</form>
		</div>

		<div class="col-md-9">
			<div cg-busy="usersPromise">
				<div ui-grid="gridOptionsUserList" ui-grid-selection ui-grid-resize-column ui-grid-edit></div>
			</div>
		</div>
	</div>
</div>