<div class="col-md-12" ng-controller="roleMenuCtrl" data-ng-init="init()" ng-style="styleNoTab(0)" resize table-id="tableId">
    <!--<admin-search-box search-callback="search" admin-date-types="adminDateTypes" text-flag="textFlag" date-flag="dateFlag" menu-context="menuContext"></admin-search-box>-->
    <div class="page-title obj-clear">
        <h1 class="pull-left">{{menuContext.menu.name}}</h1>
        <div class="pagenation">
            {{menuContext.category.name}} <span>&gt;</span> {{menuContext.menu.name}}
        </div>
    </div>
    <div class="search-select-area obj-clear">
        <div class="select-box">
            <label for="searchString" class="text-check">권한명</label>
            <input id="searchString" class="select" type="text" data-ng-click="activeRoleModal()" data-ng-model="searchString" />
        </div>
        <button class="btn btn-warning basic pull-left mar-l10" ng-disabled="!searchString" data-ng-click="searchRole()" id="roleSearchBtn">조회</button>
        <button class="btn btn-warning basic mar-l10" id="activeRoleMenuModal" ng-disabled="!searchString" data-ng-click="activeRoleMenuModal();">권한 메뉴 등록</button>
    </div>
    <div class="data-area jq-board" ng-style="dataAreaStyleNoTab(240)" resize>
        <div id="roleMenuForGrid" report-indicator="pageState"></div>
    </div>

    <div class="mar-t10 pull-right" ng-show="!pageState.emptyData">
        <button class="btn btn-warning basic" id="removeRoleMenu" data-ng-click="removeRoleMenu();">권한별 메뉴 삭제</button>
    </div>

    <!-- 권한 검색 모달 -->
    <div id="roleSearchModal" class="modal fade custom-modal in" tabindex="-1" role="dialog" aria-labelledby="roleSearchModal" aria-hidden="true">
        <div class="modal-dialog">
            <section class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h1 class="modal-title" id="roleSearchModalLabel">권한 검색</h1>
                </div>
                <div class="modal-body">
                    <div class="data-table hover-table" style="margin-top:10px;">
                        <table class="table">
                            <colgroup>
                                <col style="width:5%;">
                                <col style="width:10%;">
                                <col style="width:30%;">
                                <col>
                            </colgroup>
                            <thead>
                            <tr>
                                <th>
                                    <span class="checkbox only">
                                        <input type="checkbox" name="" id="border01">
                                        <label for="border01"></label>
                                    </span>
                                </th>
                                <th>ID</th>
                                <th>권한명</th>
                                <th>권한설명</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-ng-repeat="role in roles">
                                <td>
                                    <span class="checkbox only">
                                        <input type="checkbox" name="chk_role" id="chk_role_{{role.id}}" value="{{role.name}}">
                                        <label for="chk_role_{{role.id}}"></label>
                                    </span>
                                </td>
                                <td>{{role.id}}</td>
                                <td>{{role.name}}</td>
                                <td>{{role.description}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="obj-section">
                        <button class="btn btn-danger basic text-right" data-ng-click="addSearchRole()">선택</button>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- 권한 검색 모달 -->
    <!-- 권한별 메뉴 권한 등록 모달 -->
    <div id="roleMenuModal" class="modal fade custom-modal in" tabindex="-1" role="dialog" aria-labelledby="roleMenuModal" aria-hidden="true">
        <div class="modal-dialog">
            <section class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h1 class="modal-title" id="roleMenuModalLabel">권한별 메뉴 등록</h1>
                </div>
                <div class="modal-body">
                    <div class="data-table hover-table" style="margin-top:10px;">
                        <table class="table">
                            <colgroup>
                                <col style="width:5%;">
                                <col style="width:15%;">
                                <col style="width:20%;">
                                <col>
                            </colgroup>
                            <thead>
                            <tr>
                                <th>
                                    <span class="checkbox only">
                                        <input type="checkbox" name="" id="border03">
                                        <label for="border03"></label>
                                    </span>
                                </th>
                                <th>서비스</th>
                                <th>레벨</th>
                                <th>경로명(서비스>카테고리>메뉴)</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-ng-repeat="menu in menus">
                                <td>
                                    <span class="checkbox only">
                                        <input type="checkbox" name="menuId" id="chk_menu_{{$index}}" value="{{menu.id}}">
                                        <label for="chk_menu_{{$index}}"></label>
                                    </span>
                                </td>
                                <td>{{menu.rootName}}</td>
                                <td>{{menu.menuLevel}}</td>
                                <td>{{menu.pathName}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="obj-section">
                        <button class="btn btn-danger basic text-right" data-ng-click="addRoleMenu()">등록</button>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- 권한별 메뉴 권한 등록 모달 -->
</div>
<script type="text/javascript" src="resources/app/admin/role/roleMenuCtrl.js"></script>
