<div ng-controller="storeSingleCtrl" data-ng-init="init()">
    <report-search-box search-callback="search"></report-search-box>
    <div class="sub-title obj-section">
        <report-sub-nav excelConfig="excelConfig"></report-sub-nav>
    </div>
    <!--<div class="data-area jq-board">-->
        <!--<jq-grid config="storeSingleGrid" report-indicator="pageState"></jq-grid>-->
    <!--</div>-->

    <div id="myGrid" style="width:600px;height:500px;"></div>

</div>
<script type="text/javascript" src="resources/app/ocb/contentsDetailAnalisys/storeSingleCtrl2.js"></script>


<link rel="stylesheet" href="resources/app/service2/slickgrid/slick.grid.css" type="text/css"/>
<link rel="stylesheet" href="resources/app/service2/slickgrid/css/smoothness/jquery-ui-1.8.16.custom.css" type="text/css"/>
<link rel="stylesheet" href="resources/app/service2/slickgrid/examples/examples.css" type="text/css"/>

<script type="text/javascript" src="resources/app/service2/slickgrid/lib/jquery-1.7.min.js"></script>
<script type="text/javascript" src="resources/app/service2/slickgrid/lib/jquery.event.drag-2.2.js"></script>
<script type="text/javascript" src="resources/app/service2/slickgrid/slick.core.js"></script>
<script type="text/javascript" src="resources/app/service2/slickgrid/slick.grid.js"></script>

