<div ng-controller="storeSingleCtrl" data-ng-init="init()">
    <report-search-box search-callback="search"></report-search-box>
    <div class="sub-title obj-section">
        <report-sub-nav excelConfig="excelConfig"></report-sub-nav>
    </div>
    <div class="data-area jq-board">
        <jq-grid config="storeSingleGrid" report-indicator="pageState"></jq-grid>
    </div>

    <table id="storeSingle_Grid"></table>
    <div id="jqGridPager01"></div>


</div>
<script type="text/javascript" src="resources/app/ocb/contentsDetailAnalisys/storeSingleCtrl3.js"></script>
