<div ng-controller="sparklineCtrl" data-ng-init="init()">
    <h2 class="page-header">sparkline</h2>

    <h4>mousespeed chart</h4>
    <div id='mousespeed'></div>
    <br/>


    <h4>line chart</h4>
    <div id='sparkline'></div>
    <br/>

    <h4>bar chart</h4>
    <div id='sparkline2'></div>
    <br/>

    <h4>pie chart</h4>
    <div id='sparkline3'></div>
    <br/>

</div>

<script src="resources/js/jquery.sparkline.js"></script>
<script type="text/javascript" src="resources/app/service2/sparklineCtrl.js"></script>