<div ng-controller="donutChartCtrl" data-ng-init="init()">
    <h2 class="page-header">d3 Donut Chart</h2>

    <table style="float: left; position: absolute; left: 270px; margin-top: 230px;">
        <tr>
            <td style="padding:0 15px; font-weight: bold;">browser</td>
            <td style="padding:0; font-weight: bold;">visits</td>
        </tr>
        <tr>
            <td style="border-left: 24px solid #000000; padding:0 10px;">One</td>
            <td>5</td>
        <tr>
            <td style="border-left: 24px solid #660000; padding:0 10px;">Two</td>
            <td>2</td>
        </tr>
        <tr>
            <td style="border-left: 24px solid #CC0000; padding:0 10px;">Three</td>
            <td>9</td>
        </tr>
        <tr>
            <td style="border-left: 24px solid #FF6666; padding:0 10px;">Four</td>
            <td>7</td>
        </tr>
        <tr>
            <td style="border-left: 24px solid #FF3333; padding:0 10px;">Five</td>
            <td>4</td>
        </tr>
        <tr>
            <td style="border-left: 24px solid #FF6666; padding:0 10px;">Six</td>
            <td>3</td>
        </tr>
        <tr>
            <td style="border-left: 24px solid #FFE6E6; padding:0 10px;">Seven</td>
            <td>9</td>
        </tr>
    </table>

    <nvd3-pie-chart
            data="exampleData"
            id="donutLabelsOutsideExample"
            width="600"
            height="600"
            x="xFunction()"
            y="yFunction()"
            donut="true"
            showLabels="true"
            donutLabelsOutside="true"
            color="colorFunction()">
        <svg height="100"></svg>
    </nvd3-pie-chart>



</div>

<script type="text/javascript" src="resources/app/service2/donutChartCtrl.js"></script>