<div ng-controller="morrisCtrl" data-ng-init="init()">
    <h3>morris</h3>

    <h5>morris.js line-chart</h5>
    <morris-line id="myMorrisLineChart"
                 xkey="xkey"
                 ykeys="ykeys"
                 labels="labels"
                 data="myData">
    </morris-line>

    <h5>morris.js line-area</h5>
    <morris-area id="myMorrisAreaChart"
                 xkey="xkey"
                 ykeys="ykeys"
                 labels="labels"
                 data="myData">
    </morris-area>

    <h5>morris.js stacked bar chart</h5>
    <morris-stacked-bar id="myMorrisBarChart"
                xkey="xkey"
                ykeys="ykeys"
                labels="labels"
                data="myData">
    </morris-stacked-bar>

    <h5>morris.js donut chart</h5>
    <morris-donut id="myMorrisdonutChart"
                  data="myData2">
    </morris-donut>

</div>

<script type="text/javascript" src="/resources/app/service2/raphael-min.js"></script>
<script type="text/javascript" src="/resources/app/service2/morris.min.js"></script>
<link rel="stylesheet" href="/resources/app/service2/morris.css">

<script type="text/javascript" src="resources/app/service2/morrisCtrl.js"></script>
