<div ng-controller="bpmEmailCtrl" data-ng-init="init()">
    <div class="page-title mar-b10">
        <h2>경영실적 메일 발송 대상자</h2>
    </div>
    <div class="row mar-l5 mar-r5 mar-t5 mar-b5">
        <div class="col-md-5 h-300">
            <dyna-tree config="bpmOrgTreeConfig" id="bpmOrgTree"></dyna-tree>
        </div>
        <div class="col-md-1 h-300">
            <button type="button" class="btn btn-default btn-sm mar-t110 mar-l20" style="display: block;" data-ng-click="deleteMailUser();">
                <span class="glyphicon glyphicon-arrow-left"></span>
            </button>
            <button type="button" class="btn btn-default btn-sm mar-l20 mar-t5" data-ng-click="addMailUser();">
                <span class="glyphicon glyphicon-arrow-right"></span>
            </button>
        </div>
        <div class="col-md-6 h-300">
            <div class="">
                <jq-grid config="emailUserConfig" id="emailUserForGrid"></jq-grid>
            </div>
        </div>
    </div>
    <div class="page-title mar-t20 mar-b10">
        <h2>경영실적 메일 내용</h2>
    </div>
    <div class="col-md-12">
        <table border="0" cellspacing="0" cellpadding="0" width="600" align="center">
        <tbody>
        <!-- OCB -->
        <tr>
            <td bgcolor="f0f0f0">
                <table border="0" cellspacing="0" cellpadding="0" width="600">
                    <tbody><tr>
                        <td width="9" height="38"></td>
                        <td id="ocb" width="482" height="38" style="font: normal 13px/15px '돋움', dotum, sans-serif; color:#4d4d4d; font-weight:bold;">
                            OCB
                        </td>
                        <td align="left">
                            <a href="/#/reports/ocb?categoryCode=summary&menuCode=report" target="_blank" title="새창열림"><img src="resources/images/mail/btn02.jpg" alt="실적 상세 보기"></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table border="0" cellspacing="0" cellpadding="0" width="600">
                    <thead>
                    <tr>
                        <th width="185" height="26" style="font: normal 11px/16px '돋움', dotum, sans-serif; color:#737373; font-weight:normal;">
                        </th>
                        <th width="214" align="right" style="font: normal 11px/16px '돋움', dotum, sans-serif; color:#737373; font-weight:normal;">
                            {{thisOcbDate}}(지난 90일 평균 대비 증감)
                        </th>
                        <th width="201" align="right" style="padding-right:10px; font: normal 11px/16px '돋움', dotum, sans-serif; color:#737373; font-weight:normal;">
                            {{thisMonth}}월 누적 (전월 동기 대비 증감)
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="ocbMail in mailReports.ocb">
                        <th height="50" align="left" style="padding-left:17px; border-top:2px solid #e1e1e1; font: normal 14px/20px '돋움', dotum, sans-serif; color:#3c3c3c; font-weight:bold;">
                            {{ocbMail.dimension}} <span ng-bind-html="ocbMail.dimensionImageUrl"></span>
                        </th>
                        <td align="right" style="border-top:2px solid #e1e1e1; font: normal 14px/20px '돋움', dotum, sans-serif; color:#737373;">
                            {{ocbMail.basicValue.numberFormat()}}
                            <span ng-show="ocbMail.idxClGrpCd == 'L064'">천명</span>
                            <span ng-show="ocbMail.idxClGrpCd == 'L072'">천건</span>
                            <span ng-show="ocbMail.idxClGrpCd == 'L075'">천원</span>
                            <span style="font: normal 14px/20px '돋움', dotum, sans-serif;" ng-style="{color: ocbMail.increaseColor}">({{ocbMail.increaseValue}})</span>
                        </td>
                        <td align="right" style="padding-right:25px; border-top:2px solid #e1e1e1; font: normal 13px/20px '돋움', dotum, sans-serif; color:#737373;">
                            {{ocbMail.thisMonthAccu.numberFormat()}}
                            <span ng-show="ocbMail.idxClGrpCd == 'L064'">천명</span>
                            <span ng-show="ocbMail.idxClGrpCd == 'L072'">천건</span>
                            <span ng-show="ocbMail.idxClGrpCd == 'L075'">천원</span>
                            <span style="font: normal 13px/20px '돋움', dotum, sans-serif;" ng-style="{color: ocbMail.oneMonthAgoIncreaseColor}">({{ocbMail.oneMonthAgoIncreaseAccu}})</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <textarea id="ocbText" class="form-control mar-b5" rows="2" data-ng-model="form.ocbComment"></textarea>
            </td>
        </tr>
        <!-- //OCB -->
        <!-- Syrup -->
        <tr>
            <td bgcolor="f0f0f0">
                <table border="0" cellspacing="0" cellpadding="0" width="600">
                    <tbody><tr>
                        <td width="9" height="38"></td>
                        <td id="syrup" width="482" height="38" style="font: normal 13px/15px '돋움', dotum, sans-serif; color:#4d4d4d; font-weight:bold;">
                            Syrup
                        </td>
                        <td align="left">
                            <a href="/#/reports/syrup?categoryCode=summary&menuCode=report" target="_blank" title="새창열림"><img src="resources/images/mail/btn02.jpg" alt="실적 상세 보기"></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table border="0" cellspacing="0" cellpadding="0" width="600">
                    <thead>
                    <tr>
                        <th width="185" height="26" style="font: normal 11px/16px '돋움', dotum, sans-serif; color:#737373; font-weight:normal;">
                        </th>
                        <th width="214" align="right" style="font: normal 11px/16px '돋움', dotum, sans-serif; color:#737373; font-weight:normal;">
                            {{thisDate}}(지난 90일 평균 대비 증감)
                        </th>
                        <th width="201" align="right" style="padding-right:10px; font: normal 11px/16px '돋움', dotum, sans-serif; color:#737373; font-weight:normal;">
                            {{thisMonth}}월 누적 (전월 동기 대비 증감)
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="syrupMail in mailReports.syrup">
                        <th height="50" align="left" style="padding-left:17px; border-top:2px solid #e1e1e1; font: normal 14px/20px '돋움', dotum, sans-serif; color:#3c3c3c; font-weight:bold;">
                            {{syrupMail.dimension}} <span ng-bind-html="syrupMail.dimensionImageUrl"></span>
                        </th>
                        <td align="right" style="border-top:2px solid #e1e1e1; font: normal 14px/20px '돋움', dotum, sans-serif; color:#737373;">
                            {{syrupMail.basicValue.numberFormat()}}
                            <span ng-show="syrupMail.idxClGrpCd == 'L017'">천명</span>
                            <span ng-show="syrupMail.idxClGrpCd == 'L001'">명</span>
                            <span style="font: normal 14px/20px '돋움', dotum, sans-serif;" ng-style="{color: syrupMail.increaseColor}">({{syrupMail.increaseValue}})</span>
                        </td>
                        <td align="right" style="padding-right:25px; border-top:2px solid #e1e1e1; font: normal 13px/20px '돋움', dotum, sans-serif; color:#737373;">
                            {{syrupMail.thisMonthAccu.numberFormat()}}
                            <span ng-show="syrupMail.idxClGrpCd == 'L017'">천명</span>
                            <span ng-show="syrupMail.idxClGrpCd == 'L001'">명</span>
                            <span style="font: normal 13px/20px '돋움', dotum, sans-serif;" ng-style="{color: syrupMail.oneMonthAgoIncreaseColor}">({{syrupMail.oneMonthAgoIncreaseAccu}})</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <textarea id="syrupText" class="form-control mar-b5" rows="2" data-ng-model="form.syrupComment"></textarea>
            </td>
        </tr>
        <!-- //Syrup -->
        <!-- Tstore -->
        <tr>
            <td bgcolor="f0f0f0">
                <table border="0" cellspacing="0" cellpadding="0">
                    <tbody><tr>
                        <td width="9" height="38"></td>
                        <td id="tstore" width="482" height="38" style="font: normal 13px/15px '돋움', dotum, sans-serif; color:#4d4d4d; font-weight:bold;">
                            T Store
                        </td>
                        <td align="left">
                            <a href="/#/reports/tstore?categoryCode=summary&menuCode=report" target="_blank" title="새창열림"><img src="resources/images/mail/btn02.jpg" alt="실적 상세 보기"></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table border="0" cellspacing="0" cellpadding="0">
                    <thead>
                    <tr>
                        <th width="185" height="26" style="font: normal 11px/16px '돋움', dotum, sans-serif; color:#737373; font-weight:normal;">
                        </th>
                        <th width="214" align="right" style="font: normal 11px/16px '돋움', dotum, sans-serif; color:#737373; font-weight:normal;">
                            {{thisDate}}(지난 90일 평균 대비 증감)
                        </th>
                        <th width="201" align="right" style="padding-right:10px; font: normal 11px/16px '돋움', dotum, sans-serif; color:#737373; font-weight:normal;">
                            {{thisMonth}}월 누적 (전월 동기 대비 증감)
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="tstoreMail in mailReports.tstore">
                        <th height="50" align="left" style="padding-left:17px; border-top:2px solid #e1e1e1; font: normal 14px/20px '돋움', dotum, sans-serif; color:#3c3c3c; font-weight:bold;">
                            {{tstoreMail.dimension}} <span ng-bind-html="tstoreMail.dimensionImageUrl"></span>
                        </th>
                        <td align="right" style="border-top:2px solid #e1e1e1; font: normal 14px/20px '돋움', dotum, sans-serif; color:#737373;">
                            {{tstoreMail.basicValue.numberFormat()}}
                            <span ng-show="tstoreMail.idxClGrpCd == 'L017'">천명</span>
                            <span ng-show="tstoreMail.idxClGrpCd == 'L023'">천원</span>
                            <span style="font: normal 14px/20px '돋움', dotum, sans-serif;" ng-style="{color: tstoreMail.increaseColor}">({{tstoreMail.increaseValue}})</span>
                        </td>
                        <td align="right" style="padding-right:25px; border-top:2px solid #e1e1e1; font: normal 13px/20px '돋움', dotum, sans-serif; color:#737373;">
                            {{tstoreMail.thisMonthAccu.numberFormat()}}
                            <span ng-show="tstoreMail.idxClGrpCd == 'L017'">천명</span>
                            <span ng-show="tstoreMail.idxClGrpCd == 'L023'">천원</span>
                            <span style="font: normal 13px/20px '돋움', dotum, sans-serif;" ng-style="{color: tstoreMail.oneMonthAgoIncreaseColor}">({{tstoreMail.oneMonthAgoIncreaseAccu}})</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <textarea id="tstoreText" class="form-control mar-b5" rows="2" data-ng-model="form.tstoreComment"></textarea>
            </td>
        </tr>
        <!-- //Tstore -->
        <!-- Hoppin -->
        <tr>
            <td bgcolor="f0f0f0">
                <table border="0" cellspacing="0" cellpadding="0">
                    <tbody><tr>
                        <td width="9" height="38"></td>
                        <td id="hoppin" width="482" height="38" style="font: normal 13px/15px '돋움', dotum, sans-serif; color:#4d4d4d; font-weight:bold;">
                            Hoppin
                        </td>
                        <td align="left">
                            <a href="/#/reports/hoppin?categoryCode=summary&menuCode=report" target="_blank" title="새창열림"><img src="resources/images/mail/btn02.jpg" alt="실적 상세 보기"></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table border="0" cellspacing="0" cellpadding="0">
                    <thead>
                    <tr>
                        <th width="185" height="26" style="font: normal 11px/16px '돋움', dotum, sans-serif; color:#737373; font-weight:normal;">
                        </th>
                        <th width="214" align="right" style="font: normal 11px/16px '돋움', dotum, sans-serif; color:#737373; font-weight:normal;">
                            {{thisDate}}(지난 90일 평균 대비 증감)
                        </th>
                        <th width="201" align="right" style="padding-right:10px; font: normal 11px/16px '돋움', dotum, sans-serif; color:#737373; font-weight:normal;">
                            {{thisMonth}}월 누적 (전월 동기 대비 증감)
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="hoppinMail in mailReports.hoppin">
                        <th height="50" align="left" style="padding-left:17px; border-top:2px solid #e1e1e1; font: normal 14px/20px '돋움', dotum, sans-serif; color:#3c3c3c; font-weight:bold;">
                            {{hoppinMail.dimension}} <span ng-bind-html="hoppinMail.dimensionImageUrl"></span>
                        </th>
                        <td align="right" style="border-top:2px solid #e1e1e1; font: normal 14px/20px '돋움', dotum, sans-serif; color:#737373;">
                            {{hoppinMail.basicValue.numberFormat()}}
                            <span ng-show="hoppinMail.idxClGrpCd == 'L017'">천명</span>
                            <span ng-show="hoppinMail.idxClGrpCd == 'L061'">천원</span>
                            <span style="font: normal 14px/20px '돋움', dotum, sans-serif;" ng-style="{color: hoppinMail.increaseColor}">({{hoppinMail.increaseValue}})</span>
                        </td>
                        <td align="right" style="padding-right:25px; border-top:2px solid #e1e1e1; font: normal 13px/20px '돋움', dotum, sans-serif; color:#737373;">
                            {{hoppinMail.thisMonthAccu.numberFormat()}}
                            <span ng-show="hoppinMail.idxClGrpCd == 'L017'">천명</span>
                            <span ng-show="hoppinMail.idxClGrpCd == 'L061'">천원</span>
                            <span style="font: normal 13px/20px '돋움', dotum, sans-serif;" ng-style="{color: hoppinMail.oneMonthAgoIncreaseColor}">({{hoppinMail.oneMonthAgoIncreaseAccu}})</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <textarea id="hoppinText" class="form-control mar-b5" rows="2" data-ng-model="form.hoppinComment"></textarea>
            </td>
        </tr>
        <!-- //Hoppin -->
        <!-- Tmap -->
        <tr>
            <td bgcolor="f0f0f0">
                <table border="0" cellspacing="0" cellpadding="0">
                    <tbody><tr>
                        <td width="9" height="38"></td>
                        <td id="tmap" width="482" height="38" style="font: normal 13px/15px '돋움', dotum, sans-serif; color:#4d4d4d; font-weight:bold;">
                            T map
                        </td>
                        <td align="left">
                            <a href="/#/reports/tmap?categoryCode=summary&menuCode=report" target="_blank" title="새창열림"><img src="resources/images/mail/btn02.jpg" alt="실적 상세 보기"></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table border="0" cellspacing="0" cellpadding="0">
                    <thead>
                    <tr>
                        <th width="185" height="26" style="font: normal 11px/16px '돋움', dotum, sans-serif; color:#737373; font-weight:normal;">
                        </th>
                        <th width="214" align="right" style="font: normal 11px/16px '돋움', dotum, sans-serif; color:#737373; font-weight:normal;">
                            {{thisDate}}(지난 90일 평균 대비 증감)
                        </th>
                        <th width="201" align="right" style="padding-right:10px; font: normal 11px/16px '돋움', dotum, sans-serif; color:#737373; font-weight:normal;">
                            {{thisMonth}}월 누적 (전월 동기 대비 증감)
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="tmapMail in mailReports.tmap">
                        <th height="50" align="left" style="padding-left:17px; border-top:2px solid #e1e1e1; font: normal 14px/20px '돋움', dotum, sans-serif; color:#3c3c3c; font-weight:bold;">
                            {{tmapMail.dimension}} <span ng-bind-html="tmapMail.dimensionImageUrl"></span>
                        </th>
                        <td align="right" style="border-top:2px solid #e1e1e1; font: normal 14px/20px '돋움', dotum, sans-serif; color:#737373;">
                            {{tmapMail.basicValue.numberFormat()}} 천명
                            <span style="font: normal 14px/20px '돋움', dotum, sans-serif;" ng-style="{color: tmapMail.increaseColor}">({{tmapMail.increaseValue}})</span>
                        </td>
                        <td align="right" style="padding-right:25px; border-top:2px solid #e1e1e1; font: normal 13px/20px '돋움', dotum, sans-serif; color:#737373;">
                            {{tmapMail.thisMonthAccu.numberFormat()}} 천명
                            <span style="font: normal 13px/20px '돋움', dotum, sans-serif;" ng-style="{color: tmapMail.oneMonthAgoIncreaseColor}">({{tmapMail.oneMonthAgoIncreaseAccu}})</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <textarea id="tmapText" class="form-control mar-b5" rows="2" data-ng-model="form.tmapComment"></textarea>
            </td>
        </tr>
        <!-- //Tmap -->
        <!-- 11번가 -->
        <tr>
            <td bgcolor="f0f0f0">
                <table border="0" cellspacing="0" cellpadding="0" width="600">
                    <tbody><tr>
                        <td width="9" height="38"></td>
                        <td id="sk11" width="482" height="38" style="font: normal 13px/15px '돋움', dotum, sans-serif; color:#4d4d4d; font-weight:bold;">
                            11번가
                        </td>
                        <td align="left">
                            <a href="/#/reports/sk11st?categoryCode=summary&menuCode=report" target="_blank" title="새창열림"><img src="resources/images/mail/btn02.jpg" alt="실적 상세 보기"></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table border="0" cellspacing="0" cellpadding="0" width="600">
                    <thead>
                    <tr>
                        <th width="185" height="26" style="font: normal 11px/16px '돋움', dotum, sans-serif; color:#737373; font-weight:normal;">
                        </th>
                        <th width="214" align="right" style="font: normal 11px/16px '돋움', dotum, sans-serif; color:#737373; font-weight:normal;">
                            {{thisDate}}(지난 90일 평균 대비 증감)
                        </th>
                        <th width="201" align="right" style="padding-right:10px; font: normal 11px/16px '돋움', dotum, sans-serif; color:#737373; font-weight:normal;">
                            {{lastMonth}}월 실적({{monthBeforeLast}}월 대비 비교)
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="sk11Mail in mailReports.sk11">
                        <th height="50" align="left" style="padding-left:17px; border-top:2px solid #e1e1e1; font: normal 14px/20px '돋움', dotum, sans-serif; color:#3c3c3c; font-weight:bold;">
                            {{sk11Mail.dimension}} <span ng-bind-html="sk11Mail.dimensionImageUrl"></span>
                        </th>
                        <td align="right" style="border-top:2px solid #e1e1e1; font: normal 14px/20px '돋움', dotum, sans-serif; color:#737373;">
                            {{sk11Mail.basicValue.numberFormat()}}
                            <span ng-show="sk11Mail.idxClGrpCd == 'L007'">천명</span>
                            <span ng-show="sk11Mail.idxClGrpCd == 'L023'">천원</span>
                            <span ng-show="sk11Mail.idxClGrpCd == 'L031'">%</span>
                            <span style="font: normal 14px/20px '돋움', dotum, sans-serif;" ng-style="{color: sk11Mail.increaseColor}">({{sk11Mail.increaseValue}})</span>
                        </td>
                        <td align="right" style="padding-right:25px; border-top:2px solid #e1e1e1; font: normal 13px/20px '돋움', dotum, sans-serif; color:#737373;">
                            {{sk11Mail.thisMonthAccu.numberFormat()}}
                            <span ng-show="sk11Mail.idxClGrpCd == 'L007'">천명</span>
                            <span ng-show="sk11Mail.idxClGrpCd == 'L023'">천원</span>
                            <span ng-show="sk11Mail.idxClGrpCd == 'L031'">%</span>
                            <span style="font: normal 13px/20px '돋움', dotum, sans-serif;" ng-style="{color: sk11Mail.oneMonthAgoIncreaseColor}">({{sk11Mail.oneMonthAgoIncreaseAccu}})</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <textarea id="sk11Text" class="form-control mar-b5" rows="2" data-ng-model="form.sk11Comment"></textarea>
            </td>
        </tr>
        <!-- //11번가 -->
        <tr>
            <td height="10"></td>
        </tr>

        <!-- //content detail -->
        </tbody>
        </table>
        <div class="text-right mar-r10">
            <a href="javascript:void(0);" data-ng-click="commentSave()"><button class="btn btn-default basic" >저장하기</button></a>
            <button class="btn btn-default basic" data-ng-click="preView();">미리보기</button>
            <button class="btn btn-default basic" data-ng-click="sendMail();">메일보내기</button>
        </div>
    </div>

</div>
<link href="resources/css/ui.dynatree.css" media="screen" rel="stylesheet" type="text/css">
<script type="text/javascript" src="resources/dynatree/jquery.dynatree.min.js"></script>
<script type="text/javascript" src="resources/app/admin/boss/bpmEmailCtrl.js"></script>
