<div ng-controller="kidEmailCtrl" data-ng-init="init()">
    <div class="page-title obj-clear">
        <h1 class="pull-left">{{menuContext.menu.name}}</h1>
        <div class="pagenation">
            {{menuContext.category.name}} <span>&gt;</span> {{menuContext.menu.name}}
        </div>
    </div>
    <div class="page-title mar-b10">
        <h2>경영실적 메일 발송 대상자</h2>
    </div>
    <div class="row mar-l5 mar-r5 mar-t5 mar-b5">
        <div class="col-md-5 h-300">
            <dyna-tree config="bpmOrgTreeConfig" id="bpmOrgTree"></dyna-tree>
        </div>
        <div class="col-md-1 h-300">
            <button type="button" class="btn btn-default btn-sm mar-t110 mar-l20" style="display: block;" data-ng-click="deleteMailUser();">
                <span class="glyphicon glyphicon-arrow-left"></span>
            </button>
            <button type="button" class="btn btn-default btn-sm mar-l20 mar-t5" data-ng-click="addMailUser();">
                <span class="glyphicon glyphicon-arrow-right"></span>
            </button>
        </div>
        <div class="col-md-6 h-300">
            <div class="">
                <jq-grid config="emailUserConfig" id="emailUserForGrid"></jq-grid>
            </div>
        </div>
    </div>
    <div class="page-title mar-t20 mar-b10">
        <h2>경영실적 메일 내용</h2>
    </div>
    <div class="col-md-12">
        <table border="0" cellspacing="0" cellpadding="0" width="600" align="center">
        <tbody>
        <!-- content detail -->
        <!-- OCB -->
        <tr>
            <td bgcolor="828692">
                <table border="0" cellspacing="0" cellpadding="0" width="600">
                    <tr>
                        <td id="ocb" width="490" height="38">
                            <img src="https://voyager.skplanet.com/resources/images/mail/kid/title_ocb.jpg" style="vertical-align:top;">
                        </td>
                        <td align="left">
                            <a href="https://voyager.skplanet.com/#/reports/ocb?categoryCode=summary&menuCode=report" target="_blank" title="새창열림"><img src="https://voyager.skplanet.com/resources/images/mail/kid/btn02.jpg" alt="실적 상세 보기" style="vertical-align: top;border:0;"/></a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table border="0" cellspacing="0" cellpadding="0" width="600" style="padding-bottom:5px;">
                    <thead>
                    <tr>
                        <th width="160" style="font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#848484; border-bottom:1px solid #e5e9ec; height:33px;padding-right:20px; padding-top:10px; text-align:right;">&nbsp;</th>
                        <th width="180" style="font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#848484; border-bottom:1px solid #e5e9ec; height:33px;padding-right:20px; padding-top:10px; text-align:right;">
                            {{thisDate}}(최근 30일 평균 대비)
                        </th>
                        <th width="220" style="font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#848484; border-bottom:1px solid #e5e9ec; height:33px;padding-right:20px; padding-top:10px; text-align:right;">
                            {{thisPeriod}}(최근 3개월 동일기간 대비)
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th align="left" style="padding-top:5px; padding-left:20px; font-size: 13px; font-family: '돋움', dotum, sans-serif; color:#3c3c3c; font-weight:bold; line-height:2.5;">
                            {{mailReports.ocbDauDimension}} <span ng-bind-html="mailReports.ocbDauDimensionUrl"></span>
                        </th>
                        <td style="padding-top:5px; font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#a5a9b1;padding-right:20px;text-align:right; line-height:2.5;">
                            <span style="color:#464646; font-size: 13px; padding-left:5px; font-weight:bold;">{{mailReports.ocbDauBasicValue}} {{mailReports.ocbDauDimensionUnit}}</span>
                            <span style="font-size: 13px; font-family: '돋움', dotum, sans-serif; color:{{mailReports.ocbDauIncreaseColor}}; font-weight:bold;">({{mailReports.ocbDauIncreaseValue}})</span>
                        </td>
                        <td style="padding-top:5px; font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#a5a9b1;padding-right:20px;text-align:right; line-height:2.5;">
                            월평균
                            <span style="color:#464646; font-size: 13px; padding-left:5px; font-weight:bold;">{{mailReports.ocbMauBasicValue}} {{mailReports.ocbMauDimensionUnit}}</span>
                            <span style="font-size: 13px; font-family: '돋움', dotum, sans-serif; color:{{mailReports.ocbMauIncreaseColor}}; font-weight:bold;">({{mailReports.ocbMauIncreaseValue}})</span>
                        </td>
                    </tr>
                    <tr>
                        <th align="left" style="padding-left:20px; font-size: 13px; font-family: '돋움', dotum, sans-serif; color:#3c3c3c; font-weight:bold; line-height:2.5;">
                            {{mailReports.ocbTrDimension}} <span ng-bind-html="mailReports.ocbTrDimensionUrl"></span>
                        </th>
                        <td style="font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#a5a9b1;padding-right:20px;text-align:right; line-height:2.5;">
                            <span style="color:#464646; font-size: 13px; padding-left:5px; font-weight:bold;">{{mailReports.ocbTrBasicValue}} {{mailReports.ocbTrDimensionUnit}}</span>
                            <span style="font-size: 13px; font-family: '돋움', dotum, sans-serif; color:{{mailReports.ocbTrIncreaseColor}}; font-weight:bold;">({{mailReports.ocbTrIncreaseValue}})</span>
                        </td>
                        <td style="font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#a5a9b1;padding-right:20px;text-align:right; line-height:2.5;">
                            당월누적
                            <span style="color:#464646; font-size: 13px; padding-left:5px; font-weight:bold;">{{mailReports.ocbMtrBasicValue}} {{mailReports.ocbMtrDimensionUnit}}</span>
                            <span style="font-size: 13px; font-family: '돋움', dotum, sans-serif; color:{{mailReports.ocbMtrIncreaseColor}}; font-weight:bold;">({{mailReports.ocbMtrIncreaseValue}})</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <!-- //OCB -->
        <tr>
            <td style="background:url(https://voyager.skplanet.com/resources/images/mail/kid/note.jpg) no-repeat #f2f4f7; padding-left:40px; height:75px; font-weight: normal; font-size: 13px; font-family: '돋움', dotum, sans-serif; color:#828692;">
                <textarea style="font-size: 12px; font-family: '돋움', dotum, sans-serif; width:97.8%; height:53px; border:none; background: #f2f4f7; line-height:1.4; margin:10px; 0 10px;" data-ng-model="form.ocbComment"></textarea>
            </td>
        </tr>
        <!-- Syrup -->
        <tr>
            <td bgcolor="828692">
                <table border="0" cellspacing="0" cellpadding="0" width="600" style="border-top:4px solid #e5e9ec;">
                    <tr>
                        <td id="syrup" width="490" height="38">
                            <img src="https://voyager.skplanet.com/resources/images/mail/kid/title_syrup.jpg" style="vertical-align:top;">
                        </td>
                        <td align="left">
                            <a href="https://voyager.skplanet.com/#/reports/syrup?categoryCode=summary&menuCode=report" target="_blank" title="새창열림"><img src="https://voyager.skplanet.com/resources/images/mail/kid/btn02.jpg" alt="실적 상세 보기" style="vertical-align: top;border:0;"/></a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table border="0" cellspacing="0" cellpadding="0" width="600" style="padding-bottom:5px;">
                    <thead>
                    <tr>
                        <th width="160" style="font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#848484; border-bottom:1px solid #e5e9ec; height:33px;padding-right:20px; padding-top:10px; text-align:right;">&nbsp;</th>
                        <th width="180" style="font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#848484; border-bottom:1px solid #e5e9ec; height:33px;padding-right:20px; padding-top:10px; text-align:right;">
                            {{thisDate}}(최근 30일 평균 대비)
                        </th>
                        <th width="220" style="font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#848484; border-bottom:1px solid #e5e9ec; height:33px;padding-right:20px; padding-top:10px; text-align:right;">
                            {{thisPeriod}}(최근 3개월 동일기간 대비)
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th align="left" style="padding-top:5px; padding-left:20px; font-size: 13px; font-family: '돋움', dotum, sans-serif; color:#3c3c3c; font-weight:bold; line-height:2.5;">
                            {{mailReports.syrupDauDimension}} <span ng-bind-html="mailReports.syrupDauDimensionUrl"></span>
                        </th>
                        <td style="padding-top:5px; font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#a5a9b1;padding-right:20px;text-align:right; line-height:2.5;">
                            <span style="color:#464646; font-size: 13px; padding-left:5px; font-weight:bold;">{{mailReports.syrupDauBasicValue}} {{mailReports.syrupDauDimensionUnit}}</span>
                            <span style="font-size: 13px; font-family: '돋움', dotum, sans-serif; color:{{mailReports.syrupDauIncreaseColor}}; font-weight:bold;">({{mailReports.syrupDauIncreaseValue}})</span>
                        </td>
                        <td style="padding-top:5px; font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#a5a9b1;padding-right:20px;text-align:right; line-height:2.5;">
                            월평균
                            <span style="color:#464646; font-size: 13px; padding-left:5px; font-weight:bold;">{{mailReports.syrupMauBasicValue}} {{mailReports.syrupMauDimensionUnit}}</span>
                            <span style="font-size: 13px; font-family: '돋움', dotum, sans-serif; color:{{mailReports.syrupMauIncreaseColor}}; font-weight:bold;">({{mailReports.syrupMauIncreaseValue}})</span>
                        </td>
                    </tr>
                    <tr>
                        <th align="left" style="padding-left:20px; font-size: 13px; font-family: '돋움', dotum, sans-serif; color:#3c3c3c; font-weight:bold; line-height:2.5;">
                            {{mailReports.syrupTrDimension}} <span ng-bind-html="mailReports.syrupTrDimensionUrl"></span>
                        </th>
                        <td style="font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#a5a9b1;padding-right:20px;text-align:right; line-height:2.5;">
                            <span style="color:#464646; font-size: 13px; padding-left:5px; font-weight:bold;">{{mailReports.syrupTrBasicValue}} {{mailReports.syrupTrDimensionUnit}}</span>
                            <span style="font-size: 13px; font-family: '돋움', dotum, sans-serif; color:{{mailReports.syrupTrIncreaseColor}}; font-weight:bold;">({{mailReports.syrupTrIncreaseValue}})</span>
                        </td>
                        <td style="font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#a5a9b1;padding-right:20px;text-align:right; line-height:2.5;">
                            당월누적
                            <span style="color:#464646; font-size: 13px; padding-left:5px; font-weight:bold;">{{mailReports.syrupMtrBasicValue}} {{mailReports.syrupMtrDimensionUnit}}</span>
                            <span style="font-size: 13px; font-family: '돋움', dotum, sans-serif; color:{{mailReports.syrupMtrIncreaseColor}}; font-weight:bold;">({{mailReports.syrupMtrIncreaseValue}})</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <!-- //Syrup -->
        <tr>
            <td style="background:url(https://voyager.skplanet.com/resources/images/mail/kid/note.jpg) no-repeat #f2f4f7; padding-left:40px; height:75px; font-weight: normal; font-size: 13px; font-family: '돋움', dotum, sans-serif; color:#828692;">
                <textarea style="font-size: 12px; font-family: '돋움', dotum, sans-serif; width:97.8%; height:53px; border:none; background: #f2f4f7; line-height:1.4; margin:10px; 0 10px;" data-ng-model="form.syrupComment"></textarea>
            </td>
        </tr>
        <!-- 11번가 -->
        <tr>
            <td bgcolor="828692">
                <table border="0" cellspacing="0" cellpadding="0" width="600" style="border-top:4px solid #e5e9ec;">
                    <tr>
                        <td id="sk11" width="490" height="38">
                            <img src="https://voyager.skplanet.com/resources/images/mail/kid/title_11st.jpg" style="vertical-align:top;">
                        </td>
                        <td align="left">
                            <a href="https://voyager.skplanet.com/#/reports/sk11st?categoryCode=summary&menuCode=report" target="_blank" title="새창열림"><img src="https://voyager.skplanet.com/resources/images/mail/kid/btn02.jpg" alt="실적 상세 보기" style="vertical-align: top;border:0;"/></a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table border="0" cellspacing="0" cellpadding="0" width="600" style="padding-bottom:15px;">
                    <thead>
                    <tr>
                        <th width="160" style="font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#848484; border-bottom:1px solid #e5e9ec; height:33px;padding-top:10px; text-align:right;">&nbsp;</th>
                        <th width="180" style="font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#848484; border-bottom:1px solid #e5e9ec; height:33px;padding-right:20px; padding-top:10px; text-align:right;">
                            {{thisDate}}(최근 30일 평균 대비)
                        </th>
                        <th width="220" style="font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#848484; border-bottom:1px solid #e5e9ec; height:33px;padding-right:20px; padding-top:10px; text-align:right;">
                            {{thisPeriod}}(최근 3개월 동일기간 대비)
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                   <!--
                    <tr>
                        <th align="left" style="padding-top:5px; padding-bottom:0px; padding-left:20px; font-size: 13px; font-family: '돋움', dotum, sans-serif; color:#3c3c3c; font-weight:bold; padding-top:20px">
                            {{mailReports.sk11GmvDimension}} <span ng-bind-html="mailReports.sk11GmvDimensionUrl"></span>
                        </th>
                        <td style="padding-top:5px; padding-bottom:0px; font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#a5a9b1;padding-right:20px;text-align:right; padding-top:20px;">
                            <span style="color:#464646; font-size: 13px; padding-left:5px; font-weight:bold;">{{mailReports.sk11GmvBasicValue}} {{mailReports.sk11GmvDimensionUnit}}</span>
                            <span style="font-size: 13px; font-family: '돋움', dotum, sans-serif; color:{{mailReports.sk11GmvIncreaseColor}}; font-weight:bold;">({{mailReports.sk11GmvIncreaseValue}})</span>
                        </td>
                        <td style="padding-top:5px; padding-bottom:0px; font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#a5a9b1;padding-right:20px;text-align:right; padding-top:20px;">
                            당월누적
                            <span style="color:#464646; font-size: 13px; padding-left:5px; font-weight:bold;">{{mailReports.sk11MgmvBasicValue}} {{mailReports.sk11MgmvDimensionUnit}}</span>
                            <span style="font-size: 13px; font-family: '돋움', dotum, sans-serif; color:{{mailReports.sk11MgmvIncreaseColor}}; font-weight:bold;">({{mailReports.sk11MgmvIncreaseValue}})</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" style="font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#a5a9b1; padding-left:20px; padding-bottom:0px; padding-top:2px;">(B2B 직거래 금액 제외)</td>
                    </tr>
                    <tr>
                        <th align="left" style="padding-left:20px;  font-size: 13px; font-family: '돋움', dotum, sans-serif; color:#3c3c3c; font-weight:bold; padding-top:0px; padding-bottom:0px; line-height:2.5;">
                            {{mailReports.sk11MobileGmvDimension}} <span ng-bind-html="mailReports.sk11MobileGmvDimensionUrl"></span>
                        </th>
                        <td style="font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#a5a9b1;padding-right:20px;text-align:right; padding-top:0px; padding-bottom:0px;">
                            <span style="color:#464646; font-size: 13px; padding-left:5px; font-weight:bold;">{{mailReports.sk11MobileGmvBasicValue}} {{mailReports.sk11MobileGmvDimensionUnit}}</span>
                            <span style="font-weight: normal; font-size: 13px; font-family: '돋움', dotum, sans-serif; color:{{mailReports.sk11MobileGmvIncreaseColor}}; font-weight:bold;">({{mailReports.sk11MobileGmvIncreaseValue}})</span>
                        </td>
                        <td style="font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#a5a9b1;padding-right:20px;text-align:right; padding-top:0px; padding-bottom:0px; line-height:2.5;">
                            당월누적
                            <span style="color:#464646; font-size: 13px; padding-left:5px; font-weight:bold;">{{mailReports.sk11MobileMgmvBasicValue}} {{mailReports.sk11MobileMgmvDimensionUnit}}</span>
                            <span style="font-weight: normal; font-size: 13px; font-family: '돋움', dotum, sans-serif; color:{{mailReports.sk11MobileMgmvIncreaseColor}}; font-weight:bold;">({{mailReports.sk11MobileMgmvIncreaseValue}})</span>
                        </td>
                    </tr>
                    -->
                    <tr>
                        <th align="left" style="padding-left:20px; font-size: 13px; font-family: '돋움', dotum, sans-serif; color:#3c3c3c; font-weight:bold; padding-top:10px;">
                            {{mailReports.sk11MobileLvDimension}} <span ng-bind-html="mailReports.sk11MobileLvDimensionUrl"></span>
                        </th>
                        <td style="font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#a5a9b1;padding-right:20px;text-align:right;padding-top:10px;;">
                            <span style="color:#464646; font-size: 13px; padding-left:5px; font-weight:bold;">{{mailReports.sk11MobileLvBasicValue}} {{mailReports.sk11MobileLvDimensionUnit}}</span>
                            <span style="font-size: 13px; font-family: '돋움', dotum, sans-serif; color:{{mailReports.sk11MobileLvIncreaseColor}}; font-weight:bold;">({{mailReports.sk11MobileLvIncreaseValue}})</span>
                        </td>
                        <td style="font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#a5a9b1;padding-right:20px;text-align:right; padding-top:10px;;">
                            당월누적
                            <span style="color:#464646; font-size: 13px; padding-left:5px; font-weight:bold;">{{mailReports.sk11MobileMlvBasicValue}} {{mailReports.sk11MobileMlvDimensionUnit}}</span>
                            <span style="font-size: 13px; font-family: '돋움', dotum, sans-serif; color:{{mailReports.sk11MobileMlvIncreaseColor}}; font-weight:bold;">({{mailReports.sk11MobileMlvIncreaseValue}})</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <!-- //11번가 -->
        <tr>
            <td style="background:url(https://voyager.skplanet.com/resources/images/mail/kid/note.jpg) no-repeat #f2f4f7; padding-left:40px; height:75px; font-weight: normal; font-size: 13px; font-family: '돋움', dotum, sans-serif; color:#828692;">
                <textarea style="font-size: 12px; font-family: '돋움', dotum, sans-serif; width:97.8%; height:53px; border:none; background: #f2f4f7; line-height:1.4; margin:10px; 0 10px;" data-ng-model="form.sk11Comment"></textarea>
            </td>
        </tr>
        <!-- T store -->
        <!--
        <tr>
            <td bgcolor="828692">
                <table border="0" cellspacing="0" cellpadding="0" width="600" style="border-top:4px solid #e5e9ec;">
                    <tr>
                        <td id="tstore" width="490" height="38">
                            <img src="https://voyager.skplanet.com/resources/images/mail/kid/title_tstore.jpg" style="vertical-align:top;">
                        </td>
                        <td align="left">
                            <a href="https://voyager.skplanet.com/#/reports/tstore?categoryCode=summary&menuCode=report" target="_blank" title="새창열림"><img src="https://voyager.skplanet.com/resources/images/mail/kid/btn02.jpg" alt="실적 상세 보기" style="vertical-align: top;border:0;"/></a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table border="0" cellspacing="0" cellpadding="0" width="600" style="padding-bottom:5px;">
                    <thead>
                    <tr>
                        <th width="160" style="font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#848484; border-bottom:1px solid #e5e9ec; height:33px;padding-right:20px; padding-top:10px; text-align:right;">&nbsp;</th>
                        <th width="180" style="font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#848484; border-bottom:1px solid #e5e9ec; height:33px;padding-right:20px; padding-top:10px; text-align:right;">
                            {{thisDate}}(최근 30일 평균 대비)
                        </th>
                        <th width="220" style="font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#848484; border-bottom:1px solid #e5e9ec; height:33px;padding-right:20px; padding-top:10px; text-align:right;">
                            {{thisPeriod}}(최근 3개월 동일기간 대비)
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th align="left" style="padding-top:5px; padding-left:20px; font-size: 13px; font-family: '돋움', dotum, sans-serif; color:#3c3c3c; font-weight:bold; line-height:2.5;">
                            {{mailReports.tstorePayUserDimension}} <span ng-bind-html="mailReports.tstorePayUserDimensionUrl"></span>
                        </th>
                        <td style="padding-top:5px; font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#a5a9b1;padding-right:20px;text-align:right; line-height:2.5;">
                            <span style="color:#464646; font-size: 13px; padding-left:5px; font-weight:bold;">{{mailReports.tstorePayUserBasicValue}} {{mailReports.tstorePayUserDimensionUnit}}</span>
                            <span style="font-size: 13px; font-family: '돋움', dotum, sans-serif; color:{{mailReports.tstorePayUserIncreaseColor}}; font-weight:bold;">({{mailReports.tstorePayUserIncreaseValue}})</span>
                        </td>
                        <td style="padding-top:5px; font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#a5a9b1;padding-right:20px;text-align:right; line-height:2.5;">
                            당월누적
                            <span style="color:#464646; font-size: 13px; padding-left:5px; font-weight:bold;">{{mailReports.tstoreMpayUserBasicValue}} {{mailReports.tstoreMpayUserDimensionUnit}}</span>
                            <span style="font-size: 13px; font-family: '돋움', dotum, sans-serif; color:{{mailReports.tstoreMpayUserIncreaseColor}}; font-weight:bold;">({{mailReports.tstoreMpayUserIncreaseValue}})</span>
                        </td>
                    </tr>
                    <tr>
                        <th align="left" style="padding-left:20px; font-size: 13px; font-family: '돋움', dotum, sans-serif; color:#3c3c3c; font-weight:bold; line-height:2.5;">
                            {{mailReports.tstoreTransactAmountDimension}} <span ng-bind-html="mailReports.tstoreTransactAmountDimensionUrl"></span>
                        </th>
                        <td style="font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#a5a9b1;padding-right:20px;text-align:right; line-height:2.5;">
                            <span style="color:#464646; font-size: 13px; padding-left:5px; font-weight:bold;">{{mailReports.tstoreTransactAmountBasicValue}} {{mailReports.tstoreTransactAmountDimensionUnit}}</span>
                            <span style="font-size: 13px; font-family: '돋움', dotum, sans-serif; color:{{mailReports.tstoreTransactAmountIncreaseColor}}; font-weight:bold;">({{mailReports.tstoreTransactAmountIncreaseValue}})</span>
                        </td>
                        <td style="font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#a5a9b1;padding-right:20px;text-align:right; line-height:2.5;">
                            당월누적
                            <span style="color:#464646; font-size: 13px; padding-left:5px; font-weight:bold;">{{mailReports.tstoreMtransactAmountBasicValue}} {{mailReports.tstoreMtransactAmountDimensionUnit}}</span>
                            <span style="font-size: 13px; font-family: '돋움', dotum, sans-serif; color:{{mailReports.tstoreMtransactAmountIncreaseColor}}; font-weight:bold;">({{mailReports.tstoreMtransactAmountIncreaseValue}})</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        -->
        <!-- //T store -->
        <!--
        <tr>
            <td style="background:url(https://voyager.skplanet.com/resources/images/mail/kid/note.jpg) no-repeat #f2f4f7; padding-left:40px; height:75px; font-weight: normal; font-size: 13px; font-family: '돋움', dotum, sans-serif; color:#828692;">
                <textarea style="font-size: 12px; font-family: '돋움', dotum, sans-serif; width:97.8%; height:53px; border:none; background: #f2f4f7; line-height:1.4; margin:10px; 0 10px;" data-ng-model="form.tstoreComment"></textarea>
            </td>
        </tr>
        -->
        <!-- T map -->
        <!--
        <tr>
            <td bgcolor="828692">
                <table border="0" cellspacing="0" cellpadding="0" width="600" style="border-top:4px solid #e5e9ec;">
                    <tr>
                        <td id="tmap" width="490" height="38">
                            <img src="https://voyager.skplanet.com/resources/images/mail/kid/title_tmap.jpg" style="vertical-align:top;">
                        </td>
                        <td align="left">
                            <a href="https://voyager.skplanet.com/#/reports/tmap?categoryCode=summary&menuCode=report" target="_blank" title="새창열림"><img src="https://voyager.skplanet.com/resources/images/mail/kid/btn02.jpg" alt="실적 상세 보기" style="vertical-align: top;border:0;"/></a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table border="0" cellspacing="0" cellpadding="0" width="600" style="padding-bottom:15px;">
                    <thead>
                    <tr>
                        <th width="160" style="font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#848484; border-bottom:1px solid #e5e9ec; height:33px; padding-top:10px; text-align:right;">&nbsp;</th>
                        <th width="180" style="font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#848484; border-bottom:1px solid #e5e9ec; height:33px;padding-right:20px; padding-top:10px; text-align:right;">
                            {{thisDate}}(최근 30일 평균 대비)
                        </th>
                        <th width="220" style="font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#848484; border-bottom:1px solid #e5e9ec; height:33px;padding-right:20px; padding-top:10px; text-align:right;">
                            {{thisPeriod}}(최근 3개월 동일기간 대비)
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th align="left" style="padding-top:5px; padding-bottom:0px; padding-left:20px; font-size: 13px; font-family: '돋움', dotum, sans-serif; color:#3c3c3c; font-weight:bold; padding-top:20px">
                            DAU / MAU <span ng-bind-html="mailReports.tmapDauDimensionUrl"></span>
                        </th>
                        <td style="padding-top:5px; padding-bottom:0px; font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#a5a9b1;padding-right:20px;text-align:right; padding-top:20px;">
                            <span style="color:#464646; font-size: 13px; padding-left:5px; font-weight:bold;">{{mailReports.tmapDauBasicValue}} {{mailReports.tmapDauDimensionUnit}}</span>
                            <span style="font-size: 13px; font-family: '돋움', dotum, sans-serif; color:{{mailReports.tmapDauIncreaseColor}}; font-weight:bold;">({{mailReports.tmapDauIncreaseValue}})</span>
                        </td>
                        <td style="padding-top:5px; padding-bottom:0px; font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#a5a9b1;padding-right:20px;text-align:right; padding-top:20px;">
                            당월누적
                            <span style="color:#464646; font-size: 13px; padding-left:5px; font-weight:bold;">{{mailReports.tmapMauBasicValue}} {{mailReports.tmapMauDimensionUnit}}</span>
                            <span style="font-size: 13px; font-family: '돋움', dotum, sans-serif; color:{{mailReports.tmapMauIncreaseColor}}; font-weight:bold;">({{mailReports.tmapMauIncreaseValue}})</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        -->
        <!-- //T map -->
        <!--
        <tr>
            <td style="background:url(https://voyager.skplanet.com/resources/images/mail/kid/note.jpg) no-repeat #f2f4f7; padding-left:40px; height:75px; font-weight: normal; font-size: 13px; font-family: '돋움', dotum, sans-serif; color:#828692;">
                <textarea style="font-size: 12px; font-family: '돋움', dotum, sans-serif; width:97.8%; height:53px; border:none; background: #f2f4f7; line-height:1.4; margin:10px; 0 10px;" data-ng-model="form.tmapComment"></textarea>
            </td>
        </tr>
        -->
        <!-- T cloud -->
        <!--
        <tr>
            <td bgcolor="828692">
                <table border="0" cellspacing="0" cellpadding="0" width="600" style="border-top:4px solid #e5e9ec;">
                    <tr>
                        <td id="tcloud" width="490" height="38">
                            <img src="https://voyager.skplanet.com/resources/images/mail/kid/title_tcloud.jpg" style="vertical-align:top;">
                        </td>
                        <td align="left">
                            <a href="https://voyager.skplanet.com/#/reports/tcloud?categoryCode=summary&menuCode=report" target="_blank" title="새창열림"><img src="https://voyager.skplanet.com/resources/images/mail/kid/btn02.jpg" alt="실적 상세 보기" style="vertical-align: top;border:0;"/></a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table border="0" cellspacing="0" cellpadding="0" width="600" style="padding-bottom:5px;">
                    <thead>
                    <tr>
                        <th width="160" style="font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#848484; border-bottom:1px solid #e5e9ec; height:33px;padding-right:20px; padding-top:10px; text-align:right;">&nbsp;</th>
                        <th width="180" style="font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#848484; border-bottom:1px solid #e5e9ec; height:33px;padding-right:20px; padding-top:10px; text-align:right;">
                            {{thisDate}}(최근 30일 평균 대비)
                        </th>
                        <th width="220" style="font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#848484; border-bottom:1px solid #e5e9ec; height:33px;padding-right:20px; padding-top:10px; text-align:right;">
                            {{thisPeriod}}(최근 3개월 동일기간 대비)
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th align="left" style="padding-top:5px; padding-left:20px; font-size: 13px; font-family: '돋움', dotum, sans-serif; color:#3c3c3c; font-weight:bold; line-height:2.5;">
                            {{mailReports.tcloudUvDimension}} <span ng-bind-html="mailReports.tcloudUvDimensionUrl"></span>
                        </th>
                        <td style="padding-top:5px; font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#a5a9b1;padding-right:20px;text-align:right; line-height:2.5;">
                            <span style="color:#464646; font-size: 13px; padding-left:5px; font-weight:bold;">{{mailReports.tcloudUvBasicValue}} {{mailReports.tcloudUvDimensionUnit}}</span>
                            <span style="font-size: 13px; font-family: '돋움', dotum, sans-serif; color:{{mailReports.tcloudUvIncreaseColor}}; font-weight:bold;">({{mailReports.tcloudUvIncreaseValue}})</span>
                        </td>
                        <td style="padding-top:5px; font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#a5a9b1;padding-right:20px;text-align:right; line-height:2.5;">
                            당월누적
                            <span style="color:#464646; font-size: 13px; padding-left:5px; font-weight:bold;">{{mailReports.tcloudMuvBasicValue}} {{mailReports.tcloudMuvDimensionUnit}}</span>
                            <span style="font-size: 13px; font-family: '돋움', dotum, sans-serif; color:{{mailReports.tcloudMuvIncreaseColor}}; font-weight:bold;">({{mailReports.tcloudMuvIncreaseValue}})</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        -->
        <!-- //T cloud -->
        <!--
        <tr>
            <td style="background:url(https://voyager.skplanet.com/resources/images/mail/kid/note.jpg) no-repeat #f2f4f7; padding-left:40px; height:75px; font-weight: normal; font-size: 13px; font-family: '돋움', dotum, sans-serif; color:#828692;">
                <textarea style="font-size: 12px; font-family: '돋움', dotum, sans-serif; width:97.8%; height:53px; border:none; background: #f2f4f7; line-height:1.4; margin:10px; 0 10px;" data-ng-model="form.tcloudComment"></textarea>
            </td>
        </tr>
        -->
        <!-- hoppin -->
        <!--
        <tr>
            <td bgcolor="828692">
                <table border="0" cellspacing="0" cellpadding="0" width="600" style="border-top:4px solid #e5e9ec;">
                    <tr>
                        <td id="hoppin" width="490" height="38">
                            <img src="https://voyager.skplanet.com/resources/images/mail/kid/title_hoppin.jpg" style="vertical-align:top;">
                        </td>
                        <td align="left">
                            <a href="https://voyager.skplanet.com/#/reports/hoppin?categoryCode=summary&menuCode=report" target="_blank" title="새창열림"><img src="https://voyager.skplanet.com/resources/images/mail/kid/btn02.jpg" alt="실적 상세 보기" style="vertical-align: top;border:0;"/></a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table border="0" cellspacing="0" cellpadding="0" width="600" style="padding-bottom:5px;">
                    <thead>
                    <tr>
                        <th width="160" style="font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#848484; border-bottom:1px solid #e5e9ec; height:33px;padding-right:20px; padding-top:10px; text-align:right;">&nbsp;</th>
                        <th width="180" style="font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#848484; border-bottom:1px solid #e5e9ec; height:33px;padding-right:20px; padding-top:10px; text-align:right;">
                            {{thisDate}}(최근 30일 평균 대비)
                        </th>
                        <th width="220" style="font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#848484; border-bottom:1px solid #e5e9ec; height:33px;padding-right:20px; padding-top:10px; text-align:right;">
                            {{thisPeriod}}(최근 3개월 동일기간 대비)
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th align="left" style="padding-top:5px; padding-left:20px; font-size: 13px; font-family: '돋움', dotum, sans-serif; color:#3c3c3c; font-weight:bold; line-height:2.5;">
                            {{mailReports.hoppinContentsUserDimension}} <span ng-bind-html="mailReports.hoppinContentsUserDimensionUrl"></span>
                        </th>
                        <td style="padding-top:5px; font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#a5a9b1;padding-right:20px;text-align:right; line-height:2.5;">
                            <span style="color:#464646; font-size: 13px; padding-left:5px; font-weight:bold;">{{mailReports.hoppinContentsUserBasicValue}} {{mailReports.hoppinContentsUserDimensionUnit}}</span>
                            <span style="font-size: 13px; font-family: '돋움', dotum, sans-serif; color:{{mailReports.hoppinContentsUserIncreaseColor}}; font-weight:bold;">({{mailReports.hoppinContentsUserIncreaseValue}})</span>
                        </td>
                        <td style="padding-top:5px; font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#a5a9b1;padding-right:20px;text-align:right; line-height:2.5;">
                            당월누적
                            <span style="color:#464646; font-size: 13px; padding-left:5px; font-weight:bold;">{{mailReports.hoppinMcontentsUserBasicValue}} {{mailReports.hoppinMcontentsUserDimensionUnit}}</span>
                            <span style="font-size: 13px; font-family: '돋움', dotum, sans-serif; color:{{mailReports.hoppinMcontentsUserIncreaseColor}}; font-weight:bold;">({{mailReports.hoppinMcontentsUserIncreaseValue}})</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        -->
        <!-- //hoppin -->
        <!--
        <tr>
            <td style="background:url(https://voyager.skplanet.com/resources/images/mail/kid/note.jpg) no-repeat #f2f4f7; padding-left:40px; height:75px; font-weight: normal; font-size: 13px; font-family: '돋움', dotum, sans-serif; color:#828692;">
                <textarea style="font-size: 12px; font-family: '돋움', dotum, sans-serif; width:97.8%; height:53px; border:none; background: #f2f4f7; line-height:1.4; margin:10px; 0 10px;" data-ng-model="form.hoppinComment"></textarea>
            </td>
        </tr>
        -->
        <tr>
            <td height="10"></td>
        </tr>
        <!-- //content detail -->
        </tbody>
        </table>
        <div class="text-right mar-r10">
            <a href="javascript:void(0);" data-ng-click="commentSave()"><button class="btn btn-default basic" >저장하기</button></a>
            <button class="btn btn-default basic" data-ng-click="preView();">미리보기</button>
            <button class="btn btn-default basic" data-ng-click="sendMail();">메일보내기</button>
        </div>
    </div>

</div>
<link href="resources/css/ui.dynatree.css" media="screen" rel="stylesheet" type="text/css">
<script type="text/javascript" src="resources/dynatree/jquery.dynatree.min.js"></script>
<script type="text/javascript" src="resources/app/admin/boss/kidEmailCtrl.js"></script>
