<div data-ng-controller="summaryReportCtrl" ng-style="style(0)" resize table-id="tableId">

    <summary-report-search-box search-callback="search" init-callback="initCallback" svc-id="svcId" basic-date="basicDate"></summary-report-search-box>

    <div class="non-sub-title obj-section">
        <div class="btn-group">
            <summary-sub-nav excelConfig="excelConfig"></summary-sub-nav>
        </div>
    </div>

    <div class="data-area jq-board jq-board03" ng-style="dataAreaStyle('summary')" resize>
        <div class="jqGridTableContainer" report-indicator="pageState"></div>
    </div>
</div>
<script src="resources/js/jquery.sparkline.js"></script>
<script type="text/javascript" src="resources/app/summary/summaryReportCtrl.js"></script>
