<div class="content" ng-controller="service3Ctrl" data-ng-init="init()">
    <div id="content">
        <h2>월별 매출액 그리드</h2>
        <table id="jqGrid01"></table>
        <div id="jqGridPager01"></div>
        <a download="monthly-sales.xls" href="#" onclick="return ExcellentExport.excel(this, 'gview_jqGrid01', '월별 매출액 통계');">
            <button class="btn btn-primary pull-right top-buffer">excel download</button>
        </a>
    </div>
    <div class="row">
        <h2>월별 매출액 추이</h2>
        <nvd3-line-chart
                data="linesDatas"
                xAxisTickFormat="xAxisTickFormatFunction()"
                x="xFunction()"
                y="yFunction()"
                showXAxis="true"
                showYAxis="true"
                tooltips="true"
                height="300"
                interactive="true">
        </nvd3-line-chart>
    </div>
</div>
<script type="text/javascript" src="resources/excel/excellentexport.min.js"></script>
<script type="text/javascript" src="resources/app/service3/service3Ctrl.js"></script>
