<div class="content" ng-controller="service3Ctrl" data-ng-init="signupStatistics();">
    <h2>월별 매출액 그리드</h2>
    <div>
        <report-search-box search-callback="search" />
    </div>
    <table id="jqGrid03"></table>
    <a download="service3-sales.xls" href="#" onclick="return ExcellentExport.excel(this, 'gview_jqGrid03', '회원가입(성별, 연령별)');">
        <button class="btn btn-primary pull-right top-buffer">excel download</button>
    </a>
    <div id="jqGridPager03"></div>
</div>
<script type="text/javascript" src="resources/excel/excellentexport.min.js"></script>
<script type="text/javascript" src="resources/app/service3/service3Ctrl.js"></script>
