<div class="col-md-12" ng-controller="bpmMenuManagementCtrl" style="height: 700px" data-ng-init="init()">
    <div class="page-title obj-clear">
        <h1 class="pull-left">{{menuContext.menu.name}}</h1>
        <div class="pagenation">
            {{menuContext.category.name}} <span>&gt;</span> {{menuContext.menu.name}}
        </div>
        <div class="add-bookmark btn-group">
            <button class="btn btn-white btn-report" data-ng-click="activeDashboardMenuModal();">대시보드 메뉴 등록</button>
        </div>
    </div>

    <div class="search-select-area obj-clear">
        <div class="">
            <label for="selectedService" class="text-check mar-r5">경영실적: </label>
            <select id="selectedService" class="select" data-ng-model="selectedService"
                    data-ng-change="changeService()"
                    data-ng-options="service.name for service in dashboardService"></select>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 panel panel-default">
            <div class="panel-body">
                <div id="menuTree" ui-tree="treeOptions">
                    <ol ui-tree-nodes ng-model="dashboardService">
                        <li ng-cloak ui-tree-node class="group-title" ng-repeat="service in dashboardService" ng-show="service.id == selectedService.id">
                            <div ui-tree-handle data-nodrag class="group-title">
                                <i class="fa fa-list-alt ui-tree-icon" data-ng-click="toggle(this)"></i>
                                {{service.name}}
                                <i class="fa fa-pencil-square-o ui-tree-edit-icon pull-right" data-ng-click="edit(service)" data-nodrag></i>
                            </div>
                            <ol ui-tree-nodes ng-model="service.categories" ng-class="{hidden: collapsed}">
                                <li ui-tree-node ng-repeat="category in service.categories">
                                    <div ui-tree-handle>
                                        <i class="fa ui-tree-icon" data-ng-click="toggle(this)" data-nodrag ng-class="{'fa-folder': collapsed, 'fa-folder-open': !collapsed}"></i>
                                        {{category.name}}
                                        <i class="fa fa-pencil-square-o ui-tree-edit-icon pull-right" data-ng-click="edit(category)" data-nodrag></i>
                                    </div>
                                    <ol ui-tree-nodes ng-model="category.menus" ng-class="{hidden: collapsed}">
                                        <li ui-tree-node ng-repeat="menu in category.menus">
                                            <div ui-tree-handle>
                                                {{menu.name}}
                                                <i class="fa fa-pencil-square-o ui-tree-edit-icon pull-right" data-ng-click="edit(menu)" data-nodrag></i>
                                            </div>
                                        </li>
                                    </ol>
                                </li>
                            </ol>
                        </li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="col-md-6 panel panel-default" ng-hide="editableMenu.id">
            <div class="panel-body">
                <div class="menuEdit">
                    <ul class="mar-t10">
                        <li><i class="fa fa-pencil-square-o"></i> 아이콘을 통하여 메뉴 정보를 수정할 수 있습니다.</li>
                        <li>메뉴 순서 변경은 즉시 반영이 됩니다. 드래그 중 취소를 하고 싶으면 esc 키를 누르십시오.</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-6 panel panel-default" ng-show="editableMenu.id" ng-cloak>
            <div class="panel-body">
                <div class="menuEdit">
                    <form role="form" class="menu-management-form mar-t10">
                        <table class="table form-type">
                            <colgroup>
                                <col style="width:20%;">
                                <col style="width:80%;">
                            </colgroup>
                            <tbody>
                            <tr>
                                <th scope="row">메뉴 code</th>
                                <td>
                                    <input type="text" class="form-control" placeholder="메뉴 code"
                                       ng-model="editableMenu.code">
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">메뉴 이름</th>
                                <td>
                                    <input type="text" class="form-control" placeholder="메뉴 이름"
                                       ng-model="editableMenu.name">
                                </td>
                            </tr>
                            <tr ng-show="editableMenu.commonCodeName == 'BS'">
                                <th scope="row">메뉴 이미지 url</th>
                                <td>
                                    <input type="text" class="form-control" placeholder="메뉴 이미지 url"
                                       ng-model="editableMenu.imageUrl">
                                </td>
                            </tr>
                            <tr ng-show="editableMenu.commonCodeName == 'BS'">
                                <th scope="row">요약 리포트 서비스 id</th>
                                <td>
                                    <input type="text" class="form-control" placeholder="요약 리포트 서비스 id"
                                       ng-model="editableMenu.oprSvcId">
                                </td>
                            </tr>
                            <tr ng-show="editableMenu.commonCodeName == 'BC'">
                                <th scope="row">요약 리포트 여부</th>
                                <td>
                                    <div class="obj-clear" style="margin-top:10px;">
                                        <div class="checkbox form-inline">
                                            <input type="checkbox" ng-model="editableMenu.summaryReportYn"
                                                   id="menu_summary_report_yn" data-ng-true-value="Y" data-ng-false-value="N"/>
                                            <label for="menu_summary_report_yn">&nbsp;</label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">노출 여부</th>
                                <td>
                                    <div class="obj-clear" style="margin-top:10px;">
                                        <div class="checkbox form-inline">
                                            <input type="checkbox" ng-model="editableMenu.visibleYn" id="menu_visible_yn"
                                                   data-ng-true-value="Y" data-ng-false-value="N"/>
                                            <label for="menu_visible_yn">&nbsp;</label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">삭제 여부</th>
                                <td>
                                    <div class="obj-clear" style="margin-top:10px;">
                                        <div class="checkbox form-inline">
                                            <input type="checkbox" ng-model="editableMenu.deleteYn" id="menu_delete_yn"
                                                   data-ng-true-value="Y" data-ng-false-value="N"/>
                                            <label for="menu_delete_yn">&nbsp;</label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr ng-show="editableMenu.commonCodeName == 'BM'">
                                <th scope="row">메뉴 검색 옵션 여부</th>
                                <td>
                                    <div class="obj-clear" style="margin-top:10px;">
                                        <div class="checkbox form-inline">
                                            <input type="checkbox" ng-model="editableMenu.menuSearchOptionYn"
                                                   id="menu_search_option_yn" data-ng-true-value="Y" data-ng-false-value="N"/>
                                            <label for="menu_search_option_yn">&nbsp;</label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <div class="menu-search-option-form" ng-show="editableMenu.menuSearchOptionYn == 'Y'">
                            <table class="table form-type">
                                <colgroup>
                                    <col style="width:35%;">
                                    <col style="width:65%;">
                                </colgroup>
                                <tbody>
                                <tr>
                                    <th scope="row">calendarType</th>
                                    <td>
                                        <select ng-model="editableMenu.menuSearchOption.calendarType"
                                                ng-options="t as t for t in calendarType"></select>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">dateTypes</th>
                                    <td>
                                        <input type="text" class="form-control" placeholder="dateTypes (day,week,month)"
                                               ng-model="editableMenu.menuSearchOption.dateTypes">
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">addType</th>
                                    <td>
                                        <select ng-model="editableMenu.menuSearchOption.addType"
                                                ng-options="t as t for t in addType"></select>
                                    </td>
                                </tr>
                                <tr data-ng-show="editableMenu.menuSearchOption.addType != null">
                                    <th scope="row">label</th>
                                    <td>
                                        <input type="text" class="form-control" placeholder="label"
                                               ng-model="editableMenu.menuSearchOption.label">
                                    </td>
                                </tr>
                                <tr data-ng-show="editableMenu.menuSearchOption.addType == 'select'">
                                    <th scope="row">codeUrl</th>
                                    <td>
                                        <input type="text" class="form-control" placeholder="codeUrl"
                                               ng-model="editableMenu.menuSearchOption.codeUrl">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="text-right" style="margin:20px 10px 40px;">
                            <button class="btn btn-danger basic" data-ng-disabled="saveLoading" data-ng-click="save()">{{saveLoading ? '저장중...' : '저장'}}</button>
                        </div>
                    </form>
                </div>
            </div>
            <!--<pre>{{selectedMenuJson}}</pre>-->
        </div>
    </div>
    <!-- 경영실적 메뉴 등록 -->
    <div id="dashboardMenuModal" class="modal fade custom-modal in" tabindex="-1" role="dialog" aria-labelledby="dashboardMenuModal" aria-hidden="true">
        <div class="modal-dialog">
            <section class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h1 class="modal-title" id="dashboardMenuModalLabel">대시보드 메뉴 등록</h1>
                </div>
                <div class="modal-body">
                    <div>
                        <ul class="nav nav-tabs" id="tabContent">
                            <li ng-repeat="tab in reportTabs" ng-class="{active:isActiveTab(tab.url)}" ><a href="javascript:void(0);" ng-click="onClickTab(tab)">{{tab.name}}</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" ng-include="currentTab"></div>
                            <button class="btn btn-warning vasic mar-t10" data-ng-click="addDashboard();">등록</button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<script type="text/ng-template" id="dashboardCategory.tpl.html">
    <div class="form-table">
        <table class="table form-type">
            <colgroup>
                <col style="width:20%;">
                <col style="width:80%;">
            </colgroup>
            <tbody>
            <tr>
                <th scope="row">카테고리 code</th>
                <td>
                    <input type="text" name="categoryForm" id="categoryCode" class="form-control form-inline" ng-model="dashboardCategory.code" style="width:200px;" title="서비스 code 입력" />
                </td>
            </tr>
            <tr>
                <th scope="row">카테고리 명</th>
                <td>
                    <input type="text" name="categoryForm" id="categoryName" class="form-control form-inline" ng-model="dashboardCategory.name" style="width:200px;" title="서비스 명 입력" />
                </td>
            </tr>
            <tr>
                <th scope="row">요약리포트 여부</th>
                <td>
                    <span class="checkbox">
                        <input type="checkbox" name="categoryForm" id="categorySummaryYn" ng-model="dashboardCategory.summaryReportYn" data-ng-true-value="Y" data-ng-false-value="N" title="요약리포트 여부 입력"/>
                        <label for="categorySummaryYn"></label>
                    </span>
                </td>
            </tr>
            <tr>
                <th scope="row">노출 여부</th>
                <td>
                    <span class="checkbox">
                        <input type="checkbox" name="categoryForm" id="categoryVisibleYn" ng-model="dashboardCategory.visibleYn" data-ng-true-value="Y" data-ng-false-value="N" title="노출 여부 입력"/>
                        <label for="categoryVisibleYn"></label>
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</script>
<script type="text/ng-template" id="dashboardMenu.tpl.html">
    <div class="form-table">
        <table class="table form-type">
            <colgroup>
                <col style="width:20%;">
                <col style="width:80%;">
            </colgroup>
            <tbody>
            <tr>
                <th scope="row">카테고리</th>
                <td>
                    <select id="menuForm" class="select" ng-model="dashboardMenu.selectedCategory"
                            data-ng-change="changeMenuCategory()"
                            data-ng-options="category.name for category in dashboardMenu.selectedService.categories"></select>
                </td>
            </tr>
            <tr>
                <th scope="row">메뉴 code</th>
                <td>
                    <input type="text" name="menuForm" id="menuCode" class="form-control form-inline" ng-model="dashboardMenu.code" style="width:200px;" title="서비스 code 입력" />
                </td>
            </tr>
            <tr>
                <th scope="row">메뉴 명</th>
                <td>
                    <input type="text" name="menuForm" id="menuName" class="form-control form-inline" ng-model="dashboardMenu.name" style="width:200px;" title="서비스 명 입력" />
                </td>
            </tr>
            <tr>
                <th scope="row">노출 여부</th>
                <td>
                    <span class="checkbox">
                        <input type="checkbox" name="menuForm" id="menuVisibleYn" ng-model="dashboardMenu.visibleYn" data-ng-true-value="Y" data-ng-false-value="N" title="노출 여부 입력"/>
                        <label for="menuVisibleYn"></label>
                    </span>
                </td>
            </tr>
            <tr>
                <th scope="row">메뉴 검색 옵션 여부</th>
                <td>
                    <span class="checkbox">
                        <input type="checkbox" name="menuForm" id="menuSearchOptionYn" ng-model="dashboardMenu.menuSearchOptionYn" data-ng-true-value="Y" data-ng-false-value="N" title="메뉴 검색 옵션 입력"/>
                        <label for="menuSearchOptionYn"></label>
                    </span>
                </td>
            </tr>
            <tr ng-show="dashboardMenu.menuSearchOptionYn == 'Y'">
                <th scope="row">calendarType</th>
                <td>
                    <select class="select" name="menuForm" ng-model="dashboardMenu.menuSearchOption.calendarType"
                            ng-options="t as t for t in calendarType"></select>
                </td>
            </tr>
            <tr ng-show="dashboardMenu.menuSearchOptionYn == 'Y'">
                <th scope="row">dateTypes</th>
                <td>
                    <input type="text" name="menuForm" class="form-control" placeholder="dateTypes(day,week,month)"
                           ng-model="dashboardMenu.menuSearchOption.dateTypes">
                </td>
            </tr>
            <tr ng-show="dashboardMenu.menuSearchOptionYn == 'Y'">
                <th scope="row">addType</th>
                <td>
                    <select class="select" name="menuForm" ng-model="dashboardMenu.menuSearchOption.addType"
                            ng-options="t as t for t in addType"></select>
                </td>
            </tr>
            <tr data-ng-show="dashboardMenu.menuSearchOption.addType != null">
                <th scope="row">label</th>
                <td>
                    <input type="text" name="menuForm" class="form-control" style="width:200px;" placeholder="label"
                           ng-model="dashboardMenu.menuSearchOption.label">
                </td>
            </tr>
            <tr data-ng-show="dashboardMenu.menuSearchOption.addType == 'select'">
                <th scope="row">codeUrl</th>
                <td>
                    <input type="text" name="menuForm" class="form-control" placeholder="codeUrl"
                           ng-model="dashboardMenu.menuSearchOption.codeUrl">
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</script>
<script type="text/javascript" src="resources/app/admin/voyager/bpmMenuManagementCtrl.js"></script>
