<div class="col-md-12" ng-controller="mstrMenuCtrl" data-ng-init="init()" style="height: 1200px">
    <div class="page-title obj-clear">
        <h1 class="pull-left">{{menuContext.menu.name}}</h1>
        <div class="pagenation">
            {{menuContext.category.name}} <span>&gt;</span> {{menuContext.menu.name}}
        </div>
    </div>
    <div class="row mar-l5 mar-r5 mar-t5 mar-b5">
        <div class="col-md-5">
            <div class="mar-l5 mar-r5">
                <div class="page-title">
                    <h2>메뉴</h2>
                </div>
                <div>
                    <dyna-tree config="menuCategoryTreeConfig" id="dynaMenuCategoryTree"></dyna-tree>
                </div>
                <div class="mar-t10 pull-right">
                    <button class="btn btn-warning basic" id="saveServiceCategoryData" data-ng-click="activeSaveServiceCategoryData();">서비스/카테고리 수정</button>
                </div>
            </div>
        </div>

        <div class="col-md-7">
            <div class="mar-l5 mar-r5">
                <div class="page-title">
                    <h2>메뉴 정보</h2>
                </div>
                <div id="menuContainer"></div>
                <div class="mar-t10 pull-right">
                    <button class="btn btn-warning basic" id="createMenuData" data-ng-click="activeCreateMenuModal();">신규</button>
                    <button class="btn btn-warning basic" id="saveMenuOptionData" data-ng-click="activeSaveMenuSearchModal();">메뉴 수정</button>
                    <!--<button class="btn btn-warning basic" id="saveMenuData" data-ng-click="saveMenuData();">수정</button>-->
                </div>
            </div>
        </div>
    </div>

    <!-- 신규 메뉴 등록 보기 모달 -->
    <div id="createMenuModal" class="modal fade custom-modal in" tabindex="-1" role="dialog" aria-labelledby="createMenuModal" aria-hidden="true">
        <div class="modal-dialog">
            <section class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h1 class="modal-title" id="createMenuModalLabel">신규 메뉴 등록</h1>
                </div>
                <div class="modal-body">
                    <div>
                        <ul class="nav nav-tabs" id="tabContent">
                            <li ng-repeat="tab in menuTabs" ng-class="{active:isActiveTab(tab.url)}" ><a href="javascript:void(0);" ng-click="onClickTab(tab)">{{tab.name}}</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" ng-include="currentTab"></div>
                            <button class="btn btn-warning vasic mar-t10" data-ng-click="add();">등록</button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- 신규 메뉴 등록 보기 모달 -->
    <!-- 서비스/카테고리 수정 -->
    <div id="saveServiceCategoryDataModal" class="modal fade custom-modal in" tabindex="-1" role="dialog" aria-labelledby="saveServiceCategoryDataModal" aria-hidden="true">
        <div class="modal-dialog">
            <section class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h1 class="modal-title" id="saveServiceCategoryDataModalLabel">서비스/카테고리 수정</h1>
                </div>
                <div class="modal-body">
                    <div class="form-table mar-t10" ng-include="currentTemplate"></div>
                    <div class="obj-section">
                        <button class="btn btn-danger basic text-right" data-ng-click="saveServiceCategoryData();">수정</button>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- 서비스/카테고리 수정 -->
    <!-- 메뉴 검색 옵션 수정 -->
    <div id="saveMenuSearchModal" class="modal fade custom-modal in" tabindex="-1" role="dialog" aria-labelledby="saveMenuSearchModal" aria-hidden="true">
        <div class="modal-dialog">
            <section class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h1 class="modal-title" id="saveMenuSearchModalLabel">메뉴 수정</h1>
                </div>
                <div class="modal-body">
                    <div class="form-table mar-t10">
                        <table class="table form-type">
                            <colgroup>
                                <col style="width:20%;">
                                <col style="width:80%;">
                            </colgroup>
                            <tbody>
                            <tr data-ng-show="editableMenu.menuSearchOptionYn == 'N' || (editableMenu.menuSearchOptionYn == 'Y' && editableMenu.menuSearchOption.addType != 'mstr')">
                                <th scope="row">메뉴 code</th>
                                <td>
                                    <input type="text" name="menuForm" class="form-control form-inline" ng-model="editableMenu.code" style="width:250px;" title="메뉴 code 입력" />
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">메뉴 명</th>
                                <td>
                                    <input type="text" name="menuForm" class="form-control form-inline" ng-model="editableMenu.name" style="width:250px;" title="메뉴 명 입력" data-ng-readonly="selectedNodes.length == 1 && editableMenu.menuSearchOptionYn == 'Y' && editableMenu.menuSearchOption.addType == 'mstr'"/>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">상태</th>
                                <td>
                                    <select ng-model="editableMenu.visibleYnName"
                                            data-ng-change="changeEditMenuVisibleYn()"
                                            ng-options="t.name for t in visibleYns"></select>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">메뉴 검색 및 MSTR 사용 여부</th>
                                <td>
                                    <span class="checkbox">
                                        <input type="checkbox" name="menuForm" id="editableMenuSearchOptionYn" ng-model="editableMenu.menuSearchOptionYn" data-ng-true-value="Y" data-ng-false-value="N" title="메뉴 검색 옵션 입력"/>
                                        <label for="editableMenuSearchOptionYn"></label>
                                    </span>
                                </td>
                            </tr>
                            <tr data-ng-show="editableMenu.menuSearchOptionYn != null && editableMenu.menuSearchOptionYn == 'Y'">
                                <th scope="row">추가옵션</th>
                                <td>
                                    <select ng-model="editableMenu.menuSearchOption.addType"
                                            data-ng-change="changeEditMenuAddType()"
                                            ng-options="t as t for t in addType"></select>
                                </td>
                            </tr>
                            <tr data-ng-show="editableMenu.menuSearchOptionYn == 'Y' && editableMenu.menuSearchOption.addType && editableMenu.menuSearchOption.addType != 'mstr'">
                                <th scope="row">옵션이름</th>
                                <td>
                                    <input type="text" class="form-control" placeholder="label"
                                           ng-model="editableMenu.menuSearchOption.label">
                                </td>
                            </tr>
                            <tr data-ng-show="editableMenu.menuSearchOptionYn == 'Y' &&  editableMenu.menuSearchOption.addType == 'select'">
                                <th scope="row">codeUrl</th>
                                <td>
                                    <input type="text" class="form-control" placeholder="codeUrl"
                                           ng-model="editableMenu.menuSearchOption.codeUrl">
                                </td>
                            </tr>
                            <tr data-ng-show="editableMenu.menuSearchOptionYn == 'Y' &&  editableMenu.menuSearchOption.addType == 'mstr'">
                                <th scope="row">MSTR 프로젝트</th>
                                <td>
                                    <select class="select" name="menuForm" ng-model="editableMenu.menuSearchOption.selectedProject"
                                            data-ng-change="changeEditMenuProject()"
                                            ng-options="t.name for t in mstrProjects"></select>
                                </td>
                            </tr>
                            <tr data-ng-show="editableMenu.menuSearchOptionYn == 'Y' &&  editableMenu.menuSearchOption.addType == 'mstr'">
                                <th scope="row">MSTR 메뉴</th>
                                <td>
                                    <div id="mstrEditMenuContainer"></div>
                                </td>
                            </tr>
                            <tr data-ng-show="editableMenu.menuSearchOptionYn == 'Y' && editableMenu.menuSearchOption.addType != 'mstr'">
                                <th scope="row">날짜주기</th>
                                <td>
                                    <select ng-model="editableMenu.menuSearchOption.calendarType"
                                            data-ng-change="changeEditMenuCalendarType()"
                                            ng-options="t as t for t in calendarType"></select>
                                </td>
                            </tr>
                            <tr data-ng-show="editableMenu.menuSearchOptionYn == 'Y' && editableMenu.menuSearchOption.calendarType && editableMenu.menuSearchOption.addType != 'mstr'">
                                <th scope="row">조회기간</th>
                                <td>
                                    <ul class="list-inline">
                                        <li class="checkbox" data-ng-repeat="period in periods">
                                            <input type="checkbox" name="menuForm" id="period{{period.code}}" data-ng-model="selectedPeriod.codes[period.code]">
                                            <label for="period{{period.code}}">{{period.displayName}}</label>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <!--<tr data-ng-show="editableMenu.menuSearchOptionYn == 'Y' && editableMenu.menuSearchOption.addType != 'mstr'">-->
                                <!--<th scope="row">조회기간</th>-->
                                <!--<td>-->
                                    <!--<input type="text" class="form-control" placeholder="dateTypes(day,week,month)"-->
                                           <!--ng-model="editableMenu.menuSearchOption.dateTypes">-->
                                <!--</td>-->
                            <!--</tr>-->
                            </tbody>
                        </table>

                    </div>
                    <div class="obj-section">
                        <button class="btn btn-danger basic text-right" data-ng-click="saveMenuSearchData();">수정</button>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- 메뉴 검색 옵션 수정 -->
</div>
<script type="text/ng-template" id="editableService.tpl.html">
    <table class="table form-type">
        <colgroup>
            <col style="width:20%;">
            <col style="width:80%;">
        </colgroup>
        <tbody>
        <tr>
            <th scope="row">서비스 code</th>
            <td>
                <input type="text" name="editableServiceForm" ng-model="editableService.code" class="form-control form-inline" style="width:200px;" title="서비스 code 입력" />
            </td>
        </tr>
        <tr>
            <th scope="row">서비스 명</th>
            <td>
                <input type="text" name="editableServiceForm" ng-model="editableService.name" class="form-control form-inline" style="width:200px;" title="서비스 명 입력" />
            </td>
        </tr>
        <tr>
            <th scope="row">서비스 아이디(SVC_ID)</th>
            <td>
                <input type="text" name="editableServiceForm" ng-model="editableService.oprSvcId" class="form-control form-inline" style="width:200px;" title="서비스 명 입력" />
            </td>
        </tr>
        <tr>
            <th scope="row">서비스 이미지 URL</th>
            <td>
                <input type="text" name="editableServiceForm" ng-model="editableService.imageUrl" class="form-control form-inline" style="width:270px;" title="서비스 이미지 URL 입력" />
            </td>
        </tr>
        <tr>
            <th scope="row">상태</th>
            <td>
                <select name="editableServiceForm" ng-model="editableService.visibleYnName"
                        data-ng-change="changeEditServiceVisibleYn()"
                        ng-options="t.name for t in visibleYns"></select>
            </td>
            <!--<td>-->
            <!--<span class="checkbox">-->
            <!--<input type="checkbox" name="editableServiceForm" id="editableServiceVisibleYn" ng-model="editableService.visibleYn" data-ng-true-value="Y" data-ng-false-value="N" title="노출 여부 입력"/>-->
            <!--<label for="editableServiceVisibleYn"></label>-->
            <!--</span>-->
            <!--</td>-->
        </tr>
        </tbody>
    </table>
</script>
<script type="text/ng-template" id="editableCategory.tpl.html">
    <div class="form-table">
        <table class="table form-type">
            <colgroup>
                <col style="width:20%;">
                <col style="width:80%;">
            </colgroup>
            <tbody>
            <tr>
                <th scope="row">카테고리 code</th>
                <td>
                    <input type="text" name="editableCategoryForm" class="form-control form-inline" ng-model="editableCategory.code" style="width:200px;" title="카테고리 code 입력" />
                </td>
            </tr>
            <tr>
                <th scope="row">카테고리 명</th>
                <td>
                    <input type="text" name="editableCategoryForm" class="form-control form-inline" ng-model="editableCategory.name" style="width:200px;" title="카테고리 명 입력" />
                </td>
            </tr>
            <tr>
                <th scope="row">요약리포트 여부</th>
                <td>
                    <span class="checkbox">
                        <input type="checkbox" name="editableCategoryForm" id="editableCategorySummaryReportYn" ng-model="editableCategory.summaryReportYn" data-ng-true-value="Y" data-ng-false-value="N" title="요약리포트 여부 입력"/>
                        <label for="editableCategorySummaryReportYn"></label>
                    </span>
                </td>
            </tr>
            <tr>
                <th scope="row">상태</th>
                <td>
                    <select name="editableCategoryForm" ng-model="editableCategory.visibleYnName"
                            data-ng-change="changeEditCategoryVisibleYn()"
                            ng-options="t.name for t in visibleYns"></select>
                </td>
                <!--<td>-->
                <!--<span class="checkbox">-->
                <!--<input type="checkbox" name="editableCategoryForm" id="editableCategoryVsibleYn" ng-model="editableCategory.visibleYn" data-ng-true-value="Y" data-ng-false-value="N" title="카테고리 노출 여부 입력"/>-->
                <!--<label for="editableCategoryVsibleYn"></label>-->
                <!--</span>-->
                <!--</td>-->
            </tr>
            <!--<tr>-->
            <!--<th scope="row">삭제 여부</th>-->
            <!--<td>-->
            <!--<span class="checkbox">-->
            <!--<input type="checkbox" name="editableCategoryForm" id="editableCategoryDeleteYn" ng-model="editableCategory.deleteYn" data-ng-true-value="Y" data-ng-false-value="N" title="카테고리 삭제 여부 입력"/>-->
            <!--<label for="editableCategoryDeleteYn"></label>-->
            <!--</span>-->
            <!--</td>-->
            <!--</tr>-->
            </tbody>
        </table>
    </div>
</script>
<script type="text/ng-template" id="service.tpl.html">
    <div class="form-table">
        <table class="table form-type">
            <colgroup>
                <col style="width:20%;">
                <col style="width:80%;">
            </colgroup>
            <tbody>
            <tr>
                <th scope="row">서비스 code</th>
                <td>
                    <input type="text" name="serviceForm" id="serviceCode" ng-model="service.code" class="form-control form-inline" style="width:200px;" title="서비스 code 입력" />
                </td>
            </tr>
            <tr>
                <th scope="row">서비스 명</th>
                <td>
                    <input type="text" name="serviceForm" id="serviceName" ng-model="service.name" class="form-control form-inline" style="width:200px;" title="서비스 명 입력" />
                </td>
            </tr>
            <tr>
                <th scope="row">서비스 아이디(SVC_ID)</th>
                <td>
                    <input type="text" name="serviceForm" id="serviceOprSvcId" ng-model="service.oprSvcId" class="form-control form-inline" style="width:200px;" title="서비스 명 입력" />
                </td>
            </tr>
            <tr>
                <th scope="row">서비스 이미지 URL</th>
                <td>
                    <input type="text" name="serviceForm" id="serviceImage" ng-model="service.imageUrl" class="form-control form-inline" style="width:270px;" title="서비스 이미지 URL 입력" />
                </td>
            </tr>
            <tr>
                <th scope="row">상태</th>
                <td>
                    <select ng-model="service.visibleYnName"
                            data-ng-change="changeServiceVisibleYn()"
                            ng-options="t.name for t in visibleYns"></select>
                </td>
                <!--<td>-->
                <!--<span class="checkbox">-->
                <!--<input type="checkbox" name="serviceForm" id="serviceVisibleYn" ng-model="service.visibleYn" data-ng-true-value="Y" data-ng-false-value="N" title="노출 여부 입력"/>-->
                <!--<label for="serviceVisibleYn"></label>-->
                <!--</span>-->
                <!--</td>-->
            </tr>
            </tbody>
        </table>
    </div>
</script>
<script type="text/ng-template" id="category.tpl.html">
    <div class="form-table">
        <table class="table form-type">
            <colgroup>
                <col style="width:20%;">
                <col style="width:80%;">
            </colgroup>
            <tbody>
            <tr>
                <th scope="row">서비스</th>
                <td>
                    <select id="categoryService" class="select" ng-model="category.selectedService"
                            data-ng-change="changeCategoryService()"
                            data-ng-options="service.name for service in services"></select>
                </td>
            </tr>
            <tr data-ng-show="category.selectedService == 73">
                <th scope="row">카테고리 code</th>
                <td>
                    <input type="text" name="categoryForm" id="categoryCode" class="form-control form-inline" ng-model="category.code" style="width:200px;" title="서비스 code 입력" />
                </td>
            </tr>
            <tr>
                <th scope="row">카테고리 명</th>
                <td>
                    <input type="text" name="categoryForm" id="categoryName" class="form-control form-inline" ng-model="category.name" style="width:200px;" title="서비스 명 입력" />
                </td>
            </tr>
            <!--<tr>-->
                <!--<th scope="row">요약리포트 여부</th>-->
                <!--<td>-->
                    <!--<span class="checkbox">-->
                        <!--<input type="checkbox" name="categoryForm" id="categorySummaryYn" ng-model="category.summaryReportYn" data-ng-true-value="Y" data-ng-false-value="N" title="요약리포트 여부 입력"/>-->
                        <!--<label for="categorySummaryYn"></label>-->
                    <!--</span>-->
                <!--</td>-->
            <!--</tr>-->
            <tr>
                <th scope="row">상태</th>
                <td>
                    <select ng-model="category.visibleYnName"
                            data-ng-change="changeCategoryVisibleYn()"
                            ng-options="t.name for t in visibleYns"></select>
                </td>
                <!--<td>-->
                <!--<span class="checkbox">-->
                <!--<input type="checkbox" name="categoryForm" id="categoryVisibleYn" ng-model="category.visibleYn" data-ng-true-value="Y" data-ng-false-value="N" title="노출 여부 입력"/>-->
                <!--<label for="categoryVisibleYn"></label>-->
                <!--</span>-->
                <!--</td>-->
            </tr>
            </tbody>
        </table>
    </div>
</script>

<script type="text/ng-template" id="menu.tpl.html">
    <div class="form-table">
        <table class="table form-type">
            <colgroup>
                <col style="width:20%;">
                <col style="width:80%;">
            </colgroup>
            <tbody>
            <tr>
                <th scope="row">서비스</th>
                <td>
                    <select id="menuService" class="select" ng-model="menu.selectedService"
                            data-ng-change="changeMenuService()"
                            data-ng-options="service.name for service in services"></select>
                </td>
            </tr>
            <tr>
                <th scope="row">카테고리</th>
                <td>
                    <select id="menuForm" class="select" ng-model="menu.selectedCategory"
                            data-ng-change="changeMenuCategory()"
                            data-ng-options="category.name for category in menu.selectedService.categories"></select>
                </td>
            </tr>
            <tr data-ng-show="selectedNodes.length > 1">
                <th scope="row">메뉴 명</th>
                <td>
                    <input type="text" name="menuForm" id="menuName" class="form-control form-inline" ng-model="menu.name" style="width:250px;" title="메뉴 명 입력" />
                </td>
            </tr>
            <tr>
                <th scope="row">상태</th>
                <td>
                    <select ng-model="menu.visibleYnName"
                            data-ng-change="changeMenuVisibleYn()"
                            ng-options="t.name for t in visibleYns"></select>
                </td>
            </tr>
            <tr data-ng-show="menu.menuSearchOptionYn == 'Y' && menu.menuSearchOption.addType == 'mstr'">
                <th scope="row">MSTR 프로젝트</th>
                <td>
                    <select class="select" name="menuForm" ng-model="menu.menuSearchOption.selectedProject"
                            data-ng-change="changeMenuProject()"
                            ng-options="t.name for t in mstrProjects"></select>
                </td>
            </tr>
            <tr data-ng-show="menu.menuSearchOptionYn == 'Y' && menu.menuSearchOption.addType == 'mstr'">
                <th scope="row">MSTR 메뉴</th>
                <td>
                    <div id="mstrMenuContainer"></div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</script>
<link href="resources/css/ui.dynatree.css" media="screen" rel="stylesheet" type="text/css">
<script type="text/javascript" src="resources/dynatree/jquery.dynatree.min.js"></script>
<script type="text/javascript" src="resources/app/admin/voyager/mstrMenuCtrl.js"></script>
