<div class="col-md-12" ng-controller="reportUseCtrl" data-ng-init="init()" ng-style="styleNoTab(-85)" resize table-id="tableId">
    <admin-com-search-box search-callback="search" admin-date-types="adminDateTypes" date-flag="dateFlag" menu-context="menuContext"></admin-com-search-box>

    <div class="data-area jq-board" ng-style="dataAreaStyle()" resize>
        <div id="reportUseForGrid" report-indicator="pageState"></div>
    </div>
</div>
<script type="text/javascript" src="resources/app/admin/voyager/reportUseCtrl.js"></script>
