<div class="col-md-12" ng-controller="popupManagerCtrl" data-ng-init="init()" ng-style="styleNoTab(352)" resize table-id="tableId">
    <admin-search-box search-callback="search" admin-date-types="adminDateTypes" date-flag="dateFlag"menu-context="menuContext"></admin-search-box>
    <div class="data-area jq-board" ng-style="dataAreaStyleNoTab(-20)">
        <br/><h3>공지사항 리스트</h3>
        <div id="popupListForGrid" report-indicator="pageState"></div>

        <br/><h3>공지사항 상세/관리</h3><br/>
        <div class="customPopup">
            <table class="detail-con board-modify">
                <tbody>
                <tr>
                    <th scope="row">구분</th>
                    <td>
                        <select class="select" ng-model="form.category"ng-options="category.codeId as category.codeName for category in categoryList">
                            <option value="">-- 선택수정 --</option>
                        </select>
                    </td>
                    <th>게시일자</th>
                    <td>
                        <div class="date-picker-area obj-clear">
                            <div class="date-picker input-append success date">
                                <input data-ng-model="temp.popupStartDate" class="form-control date-pick" type="text" ng-readonly="true"/>
                                <span class="add-on pull-left">
                                    <span class="arrow"></span>
                                    <i class="fa fa-th"></i>
                                </span>
                            </div>
                            <span class="to">~</span>

                            <div class="date-picker input-append success date">
                                <input data-ng-model="temp.popupEndDate" class="form-control date-pick" type="text" ng-readonly="true"/>
                                <span class="add-on pull-left">
                                    <span class="arrow"></span>
                                    <i class="fa fa-th"></i>
                                </span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">활성화상태</th>
                    <td>
                        <select class="select" ng-model="form.popupYn"
                                ng-disabled="(form.category == 'important' ? true : false)"
                                ng-options="popupState.codeId as popupState.codeName for popupState in popupUseList">
                            <option value="">-- 선택수정 --</option>
                        </select>
                    </td>
                    <th ng-if="false">팝업노출순서</th>
                    <td ng-if="false">
                        <input data-ng-model="form.popupOrder" type="text" id="popupOrder" class="form-control popupOnlyNum" title="팝업순서"
                               placeholder="숫자만 입력가능합니다.(순번 '0'은 메인화면 공지사항으로 반영됩니다.)"/>
                    </td>
                </tr>
                <tr>
                    <th scope="row">제목</th>
                    <td colspan="3">
                        <input data-ng-model="form.title" type="text" id="title" class="form-control" title="제목 입력" placeholder="제목을 입력하세요."/>
                    </td>
                </tr>
                <tr>
                    <th>내용</th>
                    <td colspan="3">
                        <summernote data-ng-model="form.context" config="summernoteConfig"></summernote>
                    </td>
                </tr>
                <tr>
                    <th scope="row">첨부파일</th>
                    <td colspan="3">
                        <div class="type-check">
                            <div class="btn-variable btn-file" style="width:92px;">
                                <button class="btn btn-white">파일 찾기</button>
                                <input type="file" nv-file-select="" uploader="uploader" multiple/>
                            </div>
                        </div>
                        <div class="check-list">
                            <ul class="obj-clear">
                                <li data-ng-repeat="file in selectNoticeFiles" data-ng-hide="form.newItem">
                                    (업로드된 파일)
                                    <a href="/file/download?containerName=helpdesk&uuid={{file.uuid}}&saveFileName={{file.fileName}}">{{file.fileName}}</a>
                                    <span data-ng-show="uploader.isHTML5">( {{file.fileSize/1024/1024|number:2}} MB )</span>
                                    <button data-ng-click="deleteOldFile(file.id)">x</button>
                                </li>

                                <li data-ng-repeat="item in uploader.queue">
                                    {{item.file.name}}
                                    <span data-ng-show="uploader.isHTML5">( {{item.file.size/1024/1024|number:2}} MB )</span>
                                    <button data-ng-click="item.remove()">x</button>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="4" align="right">
                        <button class="btn btn-gray" data-ng-click="initPopup()">초기화</button>
                        <button class="btn btn-gray" data-ng-click="insertUpdatePopup()">{{form.newItem ? '등록' : '수정'}}</button>
                        <button class="btn btn-gray" data-ng-click="deletePopup()" data-ng-disabled="form.newItem">삭제</button>

                        <button class="btn btn-gray" data-ng-click="cookieTest1()" ng-if="false">set cookies</button>
                        <button class="btn btn-gray" data-ng-click="cookieTest2()" ng-if="false">get cookies</button>
                        <button class="btn btn-gray" data-ng-click="cookieTest3()" ng-if="false">remove cookies</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript" src="resources/app/admin/voyager/popupManagerCtrl.js"></script>
