<div class="section-content">
	<div>
		<form class="form-inline">
			<div class="form-group">
				<div class="input-group">
					<label class="input-group-addon">조회년월</label>

					<select class="form-control" ng-init="selectedOption = selectOptions[0]" ng-options="option.label for option in selectOptions"
						ng-model="selectedOption" ng-change="searchSummary()"></select>
				</div>
			</div>
		</form>

		<div cg-busy="summaryPromise">
			<div class="grid-div" ui-grid="gridOptionsSummary" ui-grid-resize-columns></div>
		</div>

		<div class="pull-right btn-toolbar" role="toolbar">
			<div class="btn-group btn-group-sm" role="group">
				<button type="button" class="btn btn-primary" ng-click="noticeExtinction('OCBCOM')" ng-disabled="!gridOptionsSummary.data.length">OCB 전송</button>
				<button type="button" class="btn btn-primary" ng-click="noticeExtinction('EM')" ng-disabled="!gridOptionsSummary.data.length">EM 전송</button>
				<button type="button" class="btn btn-primary" ng-click="noticeExtinction('SMS')" ng-disabled="!gridOptionsSummary.data.length">SMS 전송</button>
				<!--<button type="button" class="btn btn-primary" ng-click="noticeExtinction('tm')" ng-disabled="!gridOptionsSummary.data.length">TM 전송</button>-->
			</div>
			<div class="btn-group btn-group-sm" role="group">
				<button type="button" class="btn btn-primary" ng-click="noticeExtinction('ALL')" ng-disabled="!gridOptionsSummary.data.length">전체 전송</button>
			</div>
		</div>
	</div>
	<br>
	<div>
		<legend>전송 대상 조회</legend>
		<form class="form-inline">
			<div class="form-group">
				<div class="input-group">
					<label class="input-group-addon">기준년월</label>
					<select class="form-control" ng-init="selectedOption2 = selectOptions2[0]" ng-options="option.label for option in selectOptions2"
						ng-model="selectedOption2"></select>
				</div>
			</div>
			<div class="form-group">
				<div class="input-group">
					<label class="input-group-addon">전송 주체</label>
					<select class="form-control" ng-init="selectedOption3 = selectOptions3[0]" ng-options="option.label for option in selectOptions3"
						ng-model="selectedOption3"></select>
				</div>
			</div>
			<br>
		</form>
		<br>
		<form class="form-inline">
			<div class="form-group">
				<div class="input-group">
					<label class="input-group-addon">고객성명</label>
					<input type="text" class="form-control" placeholder="ex) 홍길동" ng-model="mbrKorNm">
				</div>
			</div>
			<div class="form-group">
				<div class="input-group">
					<label class="input-group-addon">OCB닷컴 United ID</label>
					<input type="text" class="form-control" placeholder="EC_USER_ID" ng-model="unitedId">
				</div>
			</div>
			<div class="form-group">
				<div class="input-group">
					<label class="input-group-addon">휴대폰번호</label>
					<input type="tel" class="form-control" placeholder="ex) 01012345678" ng-model="clphnNo">
				</div>
			</div>
			<div class="form-group">
				<div class="input-group">
					<label class="input-group-addon">이메일주소</label>
					<input type="email" class="form-control" placeholder="ex) user@email.com" ng-model="emailAddr">
				</div>
			</div>
		</form>
		<br>

		<button type="button" class="btn btn-primary" ng-click="searchTargets()"><i class="fa fa-search"></i> 조회</button>
		<div cg-busy="targetsPromise">
			<div class="grid-div" ui-grid="gridOptionsTargets" ui-grid-pagination ui-grid-resize-columns ui-grid-selection></div>
		</div>
	</div>
</div>