<div class="section-content">
	<div class="row">
		<div class="col-md-2">
			<button style="width: 100%;" ui-sref="index.menu({menuId: 'pan0002'})" type="button" class="btn btn-default btn-sm">사용자 등록 관리 바로가기</button>
			<div cg-busy="usersPromise">
				<div ui-grid="gridOptionsUserList" ui-grid-selection ui-grid-resize-columns></div>
			</div>
		</div>
		<div class="col-md-10">
			<div class="btn-group">
				<label class="btn btn-default" ng-model="checkMenuId.PAN0101" uib-btn-checkbox>멤버 ID 일괄 전환</label>
				<label class="btn btn-default" ng-model="checkMenuId.PAN0103" uib-btn-checkbox>배치 적립 파일 검증</label>
				<label class="btn btn-default" ng-model="checkMenuId.PAN0104" uib-btn-checkbox>시효 만료 포인트 사전 고지</label>
				<label class="btn btn-default" ng-model="checkMenuId.PAN0106" uib-btn-checkbox>회원 프로파일 분석</label>
				<label class="btn btn-default" ng-model="checkMenuId.PAN0102" uib-btn-checkbox>고객 정보 기본 조회</label>
				<label class="btn btn-default" ng-model="checkMenuId.PAN0107" uib-btn-checkbox>고객 정보 상세 조회</label>
				<label class="btn btn-default" ng-model="checkMenuId.PAN0105" uib-btn-checkbox>거래 실적 및 유실적 고객 추출</label>
			</div>
			<br>
			<p>
				<small>선택된 화면</small>
				<span ng-repeat="checkResult in checkResults"><span class="label label-info">{{checkResult}}</span>&nbsp;</span>
			</p>
			<div>
				<button type="button" class="btn btn-primary" ng-click="saveAccess()" ng-disabled="gridApi.selection.getSelectedCount() <= 0">저장</button>
			</div>
		</div>
	</div>
</div>