<div class="section-content">
	<div class="upload-form">
		<form class="form-inline" name="form">
			<div class="form-group">
				<div class="input-group">
					<div class="input-group-addon">조회조건</div>
					<select class="form-control" ng-init="selectedOption = selectOptions[0]" ng-options="option.label for option in selectOptions"
						ng-model="selectedOption"></select>
				</div>
			</div>
			<div class="form-group">
				<div class="input-group">
					<input type="text" class="form-control" ng-model="searchKeyword" ng-required="true">
					<div class="input-group-btn">
						<button type="button" class="btn btn-primary" ng-click="searchAll()" ng-disabled="form.$invalid"><i class="fa fa-search"></i> 조회</button>
					</div>
				</div>
			</div>
		</form>
	</div>

	<div class="panel panel-info">
		<div class="panel-heading"><strong>기본 정보</strong></div>
		<div cg-busy="memberInfoPromise">
			<div ui-grid="gridOptionsBasicInfo" ui-grid-resize-columns></div>
		</div>
	</div>

	<div class="panel panel-info">
		<div class="panel-heading"><strong>회원 원장</strong></div>
		<div cg-busy="memberInfoPromise">
			<div ui-grid="gridOptionsMemberInfo" ui-grid-resize-columns></div>
		</div>
	</div>

	<div class="panel panel-info">
		<div class="panel-heading"><strong>거래 유형별 최종 서비스 이용 일자</strong></div>
		<div cg-busy="latestUsageInfoPromise">
			<div ui-grid="gridOptionsLastestUsageInfo"></div>
		</div>
	</div>

	<div class="panel panel-info">
		<div class="panel-heading"><strong>마케팅 회원 원장</strong></div>
		<div cg-busy="marketingMemberInfoPromise">
			<div ui-grid="gridOptionsMarketingMemberInfo" ui-grid-resize-columns></div>
		</div>
	</div>

	<div class="panel panel-info">
		<div class="panel-heading"><strong>마케팅 회원 원장 이력</strong></div>
		<div cg-busy="marketingMemberInfoHistoryPromise">
			<div ui-grid="gridOptionsMarketingMemberInfoHistory" ui-grid-resize-columns></div>
		</div>
	</div>

	<div class="panel panel-info">
		<div class="panel-heading"><strong>3자 제공 동의 이력</strong></div>
		<div cg-busy="thirdPartyProvideHistoryPromise">
			<div ui-grid="gridOptionsThirdPartyProvideHistory" ui-grid-resize-columns></div>
		</div>
	</div>

	<div class="panel panel-info">
		<div class="panel-heading"><strong>보유 카드 목록</strong></div>
		<div cg-busy="cardListPromise">
			<div ui-grid="gridOptionsCardList" ui-grid-resize-columns></div>
		</div>
	</div>

</div>