<div ng-controller="tstoreCtrl" ng-init="init()">
    <dashboard-bm-search-box search-callback="search" menu-context="menuContext"></dashboard-bm-search-box>
    <div class="data-widget obj-section" resize>
        <ul class="widget-list obj-clear">
             <li class="graph" ng-repeat="sparklineItem in sparklineChartList">
                <div class="list-header">
                    <h2><strong>{{sparklineItem.bm}}</strong> | {{sparklineItem.keyIndex}}</h2>

                    <div class="inquiry-period">
                        {{formatedStartDate}}~{{formatedEndDate}} ({{searchDateType}}일)
                    </div>
                    <div class="info-hover">
                        <button data-ng-click="openInfoDialog('sparkline')">
                            <img src="resources/images/ico/ico_info.png" alt="위젯 정보"/>
                        </button>
                    </div>
                </div>
                <div class="summary">
                    <h3>{{sparklineItem.keyIndex}}</h3>
                    <strong class="total"> {{sparklineItem.currentData}} </strong>

                    <p class="result">
                        <span>{{searchDateType}}</span>일기준 추세선 일일 변동량 <strong>({{sparklineItem.trandlineSlp}})</strong>
                        <span id="{{sparklineItem.id}}CurDate"></span>
                    </p>
                </div>
                <button class="closed"><img src="resources/images/ico/close01.png" alt="위젯 닫기"/></button>
                <div id="{{sparklineItem.id}}" class="sparkline">
                </div>
            </li>

            <li ng-repeat="ewmaGroup in ewmaChartList">
                <div class="list-header">
                    <h2><strong>{{ewmaGroup[0].bm}}</strong> | EWMA 기준 지표 증감</h2>
                    <div class="inquiry-period"></div>
                    <div class="info-hover">
                        <button data-ng-click="openInfoDialog('ewma')"><img src="resources/images/ico/ico_info.png" alt="위젯 정보"/></button>
                    </div>
                </div>
                <table class="variation variation-thead" summary="{{ewmaGroup[0].bm}} EWMA 기준 지표 증감을 나타낸 표">
                    <caption>{{ewmaGroup[0].bm}} EWMA 기준 지표 증감 표</caption>
                    <colgroup>
                        <col class="col01"/>
                        <col class="col02"/>
                        <col class="col03"/>
                        <col class="col04"/>
                        <col class="col05"/>
                    </colgroup>
                    <thead>
                    <tr>
                        <th scope="col" colspan="2" class="sort-value">{{formatedEndDate}} 실적</th>
                        <th scope="col" colspan="3" class="sort-value">과거90일 실적대비 증감</th>
                    </tr>
                    </thead>
                </table>
                <div class="table-scroll">
                    <table class="variation" summary="OCB EWMA 기준 지표 증감을 나타낸 표">
                        <caption>OCB EWMA 기준 지표 증감 표</caption>
                        <colgroup>
                            <col class="col01"/>
                            <col class="col02"/>
                            <col class="col03"/>
                            <col class="col04"/>
                            <col class="col05"/>
                        </colgroup>
                        <tbody>

                        <tr ng-repeat="ewmaItem in ewmaGroup">
                            <th scope="row">{{ewmaItem.keyIndex}}</th>
                            <td class="numerical">
                                {{ewmaItem.currentData | number:0}}
                                <span ng-if="ewmaItem.currentData == '-'">{{ewmaItem.currentData}}</span>
                            </td>
                            <td class="decline">
                                <div class="bar-container">
                                    <div class="bar-area">
                                        <span class="{{ewmaItem.ewmaStatus.side=='left'&& ewmaItem.ewmaStatus.overRef=='Y'&&'bar bar-decline'||'bar'}}" ng-style='ewmaItem.ewmaStatus.decline'></span>
                                    </div>
                                    <span class="dotted"></span>
                                </div>
                            </td>
                            <td class="grow">
                                <div class="bar-container">
                                    <div class="bar-area">
                                        <span class="{{ewmaItem.ewmaStatus.side=='right' && ewmaItem.ewmaStatus.overRef=='Y'&&'bar bar-grow'||'bar'}}" ng-style='ewmaItem.ewmaStatus.grow'></span>
                                    </div>
                                    <span class="dotted"></span>
                                </div>
                            </td>
                            <td class="condition"><img ng-src="resources/images/ico/{{ewmaItem.ewmaStatus.icon.length > 0 && ewmaItem.ewmaStatus.icon||'ico_mid.png'}}" alt=""/></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </li>
        </ul>
        <div data-ng-if="dashboardList == null" ng-style="dataAreaStyleNoTab(50)" resize>
            <br/><br/><h2>{{dashboardListMsg}}</h2>
        </div>
    </div>
</div>
<script type="text/javascript" src="resources/app/dashboard/bc/tstoreCtrl.js"></script>
