<div class="mar-t20" ng-style="style(0)" resize>
    <div style="padding:10px; border:1px solid #666;border-radius:10px">
        BLE통계는 IS Admin으로 2015년 4월 16일자로 이전을 완료하였습니다. <br/><br/>
        BLE통계내용을 보시고자 하시는 분은 Pnet IDMS에서 회원가입 후, <a href="https://storeadmin.syrup.co.kr/index.html" target="_blank" style="text-decoration: none; border-bottom: 1px solid #FF0000;">https://storeadmin.syrup.co.kr/index.html</a>으로 가셔서 아래의 메뉴에서 이용하시기 바랍니다.<br/><br/>
        <ul>
            <li>메뉴 : 모바일전단지 >Proximity 통계</li>
        </ul>
    </div>
</div>
<!--<div ng-controller="sosBleSyrupCtrl" data-ng-init="init()" ng-style="style(0)" resize table-id="tableId">-->
    <!--<report-search-box search-callback="search" search-config="searchConfig" menu-context="menuContext"></report-search-box>-->
    <!--<div class="non-sub-title obj-section">-->
        <!--<report-sub-nav excelConfig="excelConfig"></report-sub-nav>-->
    <!--</div>-->

    <!--<div class="data-area jq-board" ng-style="dataAreaStyle(30)" resize>-->
        <!--<div id="sosBleSyrupForGrid" report-indicator="pageState"></div>-->
    <!--</div>-->
<!--</div>-->
<!--<script type="text/javascript" src="resources/app/syrupStore/newTech/sosBleSyrupCtrl.js"></script>-->
