<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true" />
        <setting name="useColumnLabel" value="true"/>
    </settings>
    <typeAliases>
        <typeAlias type="com.skplanet.bisportal.model.acl.BipUser" alias="BipUser"/>
        <typeAlias type="com.skplanet.bisportal.model.acl.UserSign" alias="UserSign"/>
        <typeAlias type="com.skplanet.bisportal.model.bip.DayVisitor" alias="DayVisitor"/>
        <typeAlias type="com.skplanet.bisportal.model.acl.AccessLog" alias="AccessLog"/>
        <typeAlias type="com.skplanet.bisportal.common.model.JqGridRequest" alias="JqGridRequest"/>
        <typeAlias type="com.skplanet.bisportal.common.model.HelpDeskRequest" alias="HelpDeskRequest"/>
        <typeAlias type="com.skplanet.bisportal.model.bip.ComIntgComCd" alias="ComIntgComCd"/>
        <typeAlias type="com.skplanet.bisportal.model.bip.CommonGroupCode" alias="CommonGroupCode"/>
        <typeAlias type="com.skplanet.bisportal.model.acl.LoginLog" alias="LoginLog"/>
        <typeAlias type="com.skplanet.bisportal.model.bip.CommonCode" alias="CommonCode"/>
        <typeAlias type="com.skplanet.bisportal.model.bip.Menu" alias="Menu"/>
        <typeAlias type="com.skplanet.bisportal.model.bip.MenuSearchOption" alias="MenuSearchOption"/>
        <typeAlias type="com.skplanet.bisportal.model.bip.RoleRequest" alias="RoleRequest"/>
        <typeAlias type="com.skplanet.bisportal.model.bip.Dss" alias="Dss"/>
        <typeAlias type="com.skplanet.bisportal.model.bip.DssRequest" alias="DssRequest"/>
        <typeAlias type="com.skplanet.bisportal.model.bip.DssComment" alias="DssComment"/>
        <typeAlias type="com.skplanet.bisportal.common.model.WhereCondition" alias="WhereCondition"/>
        <typeAlias type="com.skplanet.bisportal.common.model.Condition" alias="Condition"/>
        <typeAlias type="com.skplanet.bisportal.model.bip.FileMeta" alias="FileMeta"/>
        <typeAlias type="com.skplanet.bisportal.model.bip.DssBmList" alias="DssBmList"/>
        <typeAlias type="com.skplanet.bisportal.common.model.JiraApiRequest" alias="JiraApiRequest"/>
        <typeAlias type="com.skplanet.bisportal.model.bip.BpmDlyPrst" alias="BpmDlyPrst"/>
        <typeAlias type="com.skplanet.bisportal.model.bip.BpmWkStcPrst" alias="BpmWkStcPrst"/>
        <typeAlias type="com.skplanet.bisportal.model.bip.BpmMthStcPrst" alias="BpmMthStcPrst"/>
        <typeAlias type="com.skplanet.bisportal.model.bip.EisSvcComCd" alias="EisSvcComCd"/>
        <typeAlias type="com.skplanet.bisportal.model.bip.BpmDayStrdInfo" alias="BpmDayStrdInfo"/>
        <typeAlias type="com.skplanet.bisportal.model.bip.BpmWkStrdInfo" alias="BpmWkStrdInfo"/>
        <typeAlias type="com.skplanet.bisportal.model.bip.BpmMthStrdInfo" alias="BpmMthStrdInfo"/>
        <typeAlias type="com.skplanet.bisportal.model.bip.Favorite" alias="Favorite"/>
        <typeAlias type="com.skplanet.bisportal.model.bip.HelpDesk" alias="HelpDesk"/>
        <typeAlias type="com.skplanet.bisportal.model.bip.HelpDeskFileUpload" alias="HelpDeskFileUpload"/>
        <typeAlias type="com.skplanet.bisportal.model.bip.HelpDeskReply" alias="HelpDeskReply"/>
        <typeAlias type="com.skplanet.bisportal.model.bip.BpmMgntRsltBatInfoRgst" alias="BpmMgntRsltBatInfoRgst"/>
        <typeAlias type="com.skplanet.bisportal.model.bip.BpmMgntRsltBatOpPrst" alias="BpmMgntRsltBatOpPrst"/>
        <typeAlias type="com.skplanet.bisportal.model.bip.DaaEwmaStatDaily" alias="DaaEwmaStatDaily"/>
        <typeAlias type="com.skplanet.bisportal.model.bip.HandInput" alias="HandInput"/>
        <typeAlias type="com.skplanet.bisportal.model.bip.BpmIdxCttMappInfoTmp" alias="BpmIdxCttMappInfoTmp"/>
        <typeAlias type="com.skplanet.bisportal.model.bip.BpmIdxCttMappInfo" alias="BpmIdxCttMappInfo"/>
        <typeAlias type="com.skplanet.bisportal.model.bip.BpmSvcCd" alias="BpmSvcCd"/>
        <typeAlias type="com.skplanet.bisportal.model.bip.TreeMenuService" alias="TreeMenuService"/>
        <typeAlias type="com.skplanet.bisportal.model.bip.TreeMenuCategory" alias="TreeMenuCategory"/>
        <typeAlias type="com.skplanet.bisportal.model.bip.TreeMenu" alias="MenuTree"/>
        <typeAlias type="com.skplanet.bisportal.model.bip.ComOrg" alias="ComOrg"/>
        <typeAlias type="com.skplanet.bisportal.model.bip.ComRole" alias="ComRole"/>
        <typeAlias type="com.skplanet.bisportal.model.bip.ComRoleUser" alias="ComRoleUser"/>
        <typeAlias type="com.skplanet.bisportal.model.bip.ComUserMenu" alias="ComUserMenu"/>
        <typeAlias type="com.skplanet.bisportal.model.bip.ComRoleMenu" alias="ComRoleMenu"/>
        <typeAlias type="com.skplanet.bisportal.model.bip.ComUser" alias="ComUser"/>
        <typeAlias type="com.skplanet.bisportal.model.bip.OrgUser" alias="OrgUser"/>
        <typeAlias type="com.skplanet.bisportal.model.bip.ComRoleOrg" alias="ComRoleOrg"/>
        <typeAlias type="com.skplanet.bisportal.model.bip.BpmMgntRsltScrnCmnt" alias="BpmMgntRsltScrnCmnt"/>
        <typeAlias type="com.skplanet.bisportal.model.bip.BpmMgntEmailSndCtt" alias="BpmMgntEmailSndCtt"/>
        <typeAlias type="com.skplanet.bisportal.model.bip.BpmMgntEmailSndObj" alias="BpmMgntEmailSndObj"/>
        <typeAlias type="com.skplanet.bisportal.model.bip.BpmMgntEmailSndUser" alias="BpmMgntEmailSndUser"/>
        <typeAlias type="com.skplanet.bisportal.model.bip.BpmMgntEmailSndHistory" alias="BpmMgntEmailSndHistory"/>
        <typeAlias type="com.skplanet.bisportal.model.bip.InfDeptInfoRcv" alias="InfDeptInfoRcv"/>
        <typeAlias type="com.skplanet.bisportal.model.bip.InfPersonInfoRcv" alias="InfPersonInfoRcv"/>
        <typeAlias type="com.skplanet.bisportal.model.bip.ComDept" alias="ComDept"/>
        <typeAlias type="com.skplanet.bisportal.model.bip.ComPerson" alias="ComPerson"/>
        <typeAlias type="com.skplanet.bisportal.model.bip.SvcComCd" alias="SvcComCd"/>
        <typeAlias type="com.skplanet.bisportal.model.mstr.MstrWeek" alias="MstrWeek"/>
        <typeAlias type="com.skplanet.bisportal.model.mstr.MstrSession" alias="MstrSession"/>
        <typeAlias type="com.skplanet.bisportal.model.bip.Navigation" alias="Navigation"/>
        <typeAlias type="com.skplanet.bisportal.model.bip.DashboardData" alias="DashboardData"/>
	</typeAliases>
</configuration>
