<div ng-controller="pointPresentSumCtrl" data-ng-init="init()" ng-style="style(0)" resize table-id="tableId">
    <report-search-box search-callback="search" search-config="searchConfig"
                       menu-context="menuContext"></report-search-box>

    <div class="non-sub-title obj-section">
        <report-sub-nav excelConfig="excelConfig"></report-sub-nav>
    </div>

    <div class="data-area jq-board" ng-style="dataAreaStyle(30)" resize>
        <!--<jq-grid config="pointPresentSumForGridConfig" id="pointPresentSumForGrid"></jq-grid>-->
        <div id="pointPresentSumForGrid" report-indicator="pageState"></div>
    </div>
</div>
<script type="text/javascript" src="resources/app/khub/pointPresentSum/pointPresentSumCtrl.js"></script>
