<div ng-controller="faqHelpDeskCtrl" ng-init="init()">
<!-- main content start -->
<section id="main-content">
    <article class="wrapper">
        <div class="row content-wrap">
            <div class="col-md-12">
                <div class="page-title obj-clear">
                    <h1 class="pull-left">FAQ</h1>
                    <div class="add-bookmark btn-group" data-ng-show="checkAuthority()">
                        <button class="btn btn-white btn-faq"data-ng-click="addNewFaq()">FAQ 등록</button>
                    </div>
                    <div class="pagenation">
                        Home <span>&gt;</span> Help Desk <span>&gt;</span> FAQ
                    </div>
                </div>
                <div class="notice-search">
                    <select data-ng-model="searchForm.hdSearchType"
                            data-ng-options="type.codeId as type.codeName for type in hdSearchTypes" class="select"></select>
                    <input type="text" data-ng-model="searchForm.hdSearchString" class="form-control" placeholder="검색할 단어를 입력하세요."/>
                    <button class="btn btn-search" data-ng-click="searchFaq()">검색</button>
                </div>
                <div infinite-scroll='loadMore()' infinite-scroll-distance='1' infinite-scroll-disabled="infiniteScrolling" infinite-scroll-container="infiniteScrollContainerQuerySelector">
                    <div class="notice-list-wrap obj-section01">
                        <div class="notice-list">
                            <ul class="notice obj-clear">
                                <li data-ng-repeat="item in faqList" data-ng-click="readSelectFaq($index, item.id)">
                                    <a href="javascript:void(0)" role="button" data-toggle="modal">
                                        <section class="data-summary new bg-0{{($index%4)+1}}">
                                            <span class="date">{{item.writeDate}}</span>
                                            <div class="con">
                                                <h1 class="data-tit">{{item.title | characters:20 : true}} <label ng-if="item.newYn == 'Y'" class="label">new</label></h1>
                                            </div>
                                            <p class="data-description">
                                                {{newLineRemove(item.context) | characters:80 : true}}
                                            </p>
                                            <div class="data-info">
                                                <ul class="detail obj-clear">
                                                    <li class="name">{{item.writer}}<!--({{item.writerId}})--></li>
                                                    <li class="count">조회수 <span class="delimiter">|</span> <span class="num">{{item.hit}}</span></li>
                                                </ul>
                                            </div>
                                        </section>
                                    </a>
                                    <span class="bg-bottom-line"></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div data-ng-if="faqList.length == 0">
                        <br/>
                        <h2>검색 결과가 없습니다...</h2>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>
<!-- main content end -->
</div>
<script type="text/javascript" src="resources/app/helpdesk/faqHelpDeskCtrl.js"></script>
<script type="text/javascript" src="resources/app/helpdesk/addNewFaqCtrl.js"></script>
<script type="text/javascript" src="resources/app/helpdesk/readSelectFaqCtrl.js"></script>
<script type="text/javascript" src="resources/app/helpdesk/updateSelectFaqCtrl.js"></script>

