body {
    background-color: #2b2f3a;
    margin-top: 5vh;
}

a {
    text-decoration: none !important;
}


.section-footer {
    background-color: white;
    border-top:1px solid #ddddde;
    color: #999;
    height: 8vh;
    padding-top: 1.5vh;
}

.section-body {
    padding: 0 0;
}

.section-sidebar {
    color: white;
}

.section-content-wrapper {
    background-color: #e5e9ec;
    min-height: 86.9vh;
}
.section-content {
    background-color: white;
    margin: 15px 0px;
    padding: 20px 20px;
}

.section-login {
    padding-top: 40vh;
    width: 60vw;
}

.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    padding: 20px 0px;
    text-align: center;
    /*width: 200px;*/
    /*height: 300px;*/
}
.drop-box-dragover {
    border: 5px dashed blue;
}

.grid-div {
    margin-top: 10px;
    margin-bottom: 10px;
}

.upload-form {
    margin-bottom: 50px;
}

.pts-form {
    margin-top: 50px;
    padding: 20px 20px;
}

.popup-cell {
    color: white;
    background-color: #2b2f3a;
    cursor: pointer;
}