@import url(/fonts/nanumgothic.css);
/*@import url(/fonts/skplanetfont.css);*/

body {
    background-color: #e5e9ec;
    margin-top: 5vh;
    font-family: 'Nanum Gothic', sans-serif;
    /*font-family: 'skp-mm', cursive;*/
}

a {
    text-decoration: none !important;
}

.section-footer {
    background-color: white;
    border-top:1px solid #ddddde;
    color: #999;
    height: 8vh;
    padding-top: 1.5vh;
}

.section-sidebar {
    color: white;
}

.section-content-wrapper {
    min-height: 86.9vh;
}
.section-content {
    background-color: white;
    margin: 15px 0px;
    padding: 20px 20px;
}

.section-login {
    padding-top: 40vh;
}

.section-home {
    padding-top: 5vh;
}

.section-home ul {
    margin-left: -15px;
}

.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    padding: 20px 0px;
    text-align: center;
}
.drop-box-dragover {
    border: 5px dashed blue;
}

.grid-div {
    margin-top: 10px;
    margin-bottom: 10px;
}

.pts-form {
    margin-top: 50px;
    padding: 20px 20px;
}

.popup-cell {
    color: white;
    background-color: #2b2f3a;
}

.bg-white {
    background-color: white;
}

.bg-gray {
    background-color: #f0f0f0;
}

input.ng-invalid {
    /*border: 0.5px solid red;*/
}