body {
    background-color: #e5e9ec;
    margin-top: 50px;
}
a {
    text-decoration: none !important;
}
/*a:link, a:visited {
    color: black;
}
a:hover {
    color: red;
}*/

.section-footer {
    background-color: white;
    border-top:1px solid #ddddde;
    color: #999;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.section-body {
    padding: 0 0;
}

.section-sidebar {
    background-color: #2b2f3a;
    color: white;
    height: 110rem;
}

.section-content {
    background-color: white;
    margin: 15px 0px;
    padding: 20px 10px;
}

.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    /*width: 200px;*/
    height: 300px;
    text-align: center;
    padding-top: 80px;
}
.drop-box-dragover {
    border: 5px dashed blue;
}

.grid-div {
    margin-top: 10px;
    margin-bottom: 10px;
}