<div class="page-title obj-clear">
    <h1 class="pull-left">{{menuContext.menu.name}}</h1>
    <div class="pagenation">
        {{menuContext.category.name}} <span>&gt;</span> {{menuContext.menu.name}}
    </div>
</div>
<div class="search-select-area obj-clear">
    <div class="select-box">
        <label for="searchedText" class="text-check">사용자:</label>
        <input id="searchedText" class="select" type="text" data-ng-model="searchedText" />
    </div>
    <a href="javascript:void(0);" class="btn btn-search pull-left" id="_adminRoleSearchBtn">조회</a>
</div>
