<div class="page-title obj-clear">
    <h1 class="pull-left">{{menuContext.menu.name}}</h1>
    <div class="pagenation">
        {{menuContext.category.name}} <span>&gt;</span> {{menuContext.menu.name}}
    </div>
</div>
<div class="search-select-area obj-clear" data-ng-show="dateFlag">
    <div class="btn-group" data-ng-show="adminDateTypes">
        <button class="btn btn-white" ng-repeat="type in adminDateTypes" ng-class="{active:selectedDateType === type}" type="button" data-ng-click="changeDateType(type)">
            {{type.label}}
        </button>
    </div>
    <div class="date-picker-area obj-clear">
        <div class="date-picker input-append success date">
            <input class="form-control date-pick" type="text" data-ng-model="selectedCalStart" id="search-date01">
                    <span class="add-on pull-left">
                        <span class="arrow"></span>
                        <i class="fa fa-th"></i>
                        <label for="search-date01" class="hidden-text">조회 시작일 입력</label>
                    </span>
        </div>
        <span class="to">~</span>
        <div class="date-picker input-append success date">
            <input class="form-control date-pick" type="text" data-ng-model="selectedCalEnd" id="search-date02">
                    <span class="add-on pull-left">
                        <span class="arrow"></span>
                        <i class="fa fa-th"></i>
                        <label for="search-date02" class="hidden-text">조회 마지막일 입력</label>
                    </span>
        </div>
    </div>
    <a href="javascript:void(0);" class="btn btn-search pull-left" id="_adminComSearchBtn">조회</a>
</div>
