<div class="page-title obj-clear">
    <h1 class="pull-left">{{menuContext.menu.name}}</h1>

    <div class="add-bookmark">
        <favorite-button/>
    </div>
    <div class="pagenation">
        {{menuContext.category.name}} <span>&gt;</span> {{menuContext.menu.name}}
    </div>
</div>
<div class="search-select-area obj-clear">
    <div class="form-table">
        <table class="table form-type">
            <colgroup>
                <col style="width:10%;">
                <col style="width:90%;">
            </colgroup>
            <tbody>
            <!-- Measure 종류 -->
            <!--<tr data-ng-show="searchConfig.measureTypeName">-->
                <!--<th scope="row">{{searchConfig.measureTypeName}}</th>-->
                <!--<td>-->
                    <!--<ul class="list-inline">-->
                        <!--<li class="radio" data-ng-repeat="type in searchConfig.measureTypes">-->
                            <!--<input type="radio" name="measureType" id="measureType{{type.code}}" value="{{$index}}" data-ng-model="selectedMeasureType.index">-->
                            <!--<label for="measureType{{type.code}}">{{type.displayName}}</label>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</td>-->
            <!--</tr>-->
            <tr data-ng-show="searchConfig.searchItemName">
                <th scope="row">{{searchConfig.searchItemName}}</th>
                <td>
                    <select name="" id="searchedSelectCode" class="select" data-ng-model="searchedSelectCode"
                            data-ng-options="item.displayName for item in searchConfig.searchItems"></select>
                    <input id="searchedText" class="select" type="text" style="width:300px;"
                           data-ng-model="searchedText"/>
                </td>
            </tr>
            <tr data-ng-show="searchConfig.startDate && searchConfig.endDate">
                <th scope="row">기간검색</th>
                <td>
                    <div class="btn-group">
                        <button class="btn btn-white" ng-repeat="type in dateTypes"
                                ng-class="{active:selectedDateType === type.key}" type="button"
                                data-ng-click="changeDateType(type)">
                            {{type.label}}
                        </button>
                    </div>
                    <div class="date-picker-area obj-clear">
                        <div data-ng-show="!menuSearchOption.calendarType || menuSearchOption.calendarType == 'period'">
                            <div class="date-picker input-append success date">
                                <input class="form-control date-pick" type="text" data-ng-model="selectedCalStart"
                                       id="search-date01">
                                <span class="add-on pull-left">
                                    <span class="arrow"></span>
                                    <i class="fa fa-th"></i>
                                    <label for="search-date01" class="hidden-text">조회 시작일 입력</label>
                                </span>
                            </div>
                            <span class="to">~</span>
                            <div class="date-picker input-append success date">
                                <input class="form-control date-pick" type="text" data-ng-model="selectedCalEnd"
                                       id="search-date02">
                                <span class="add-on pull-left">
                                    <span class="arrow"></span>
                                    <i class="fa fa-th"></i>
                                    <label for="search-date02" class="hidden-text">조회 마지막일 입력</label>
                                </span>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
           <!-- New-tech -->
            <tr data-ng-show="searchConfig.newTechName">
                <th scope="row">{{searchConfig.newTechName}}</th>
                <td>
                    <ul class="list-inline">
                        <li class="checkbox" data-ng-repeat="newTech in searchConfig.newTechs">
                            <input type="checkbox" name="newTech" id="newTech{{newTech.code}}" data-ng-model="selectedNewTech.codes[newTech.code]">
                            <label for="newTech{{newTech.code}}">{{newTech.displayName}}</label>
                        </li>
                    </ul>
                </td>
            </tr>
            <!-- 버전 종류 -->
            <tr data-ng-show="searchConfig.versionTypeName">
                <th scope="row">{{searchConfig.versionTypeName}}</th>
                <td>
                    <ul class="list-inline">
                        <li class="checkbox" data-ng-repeat="version in searchConfig.versionTypes">
                            <input type="checkbox" name="versionType" id="versionType{{version.code}}" data-ng-model="selectedVersionType.codes[version.code]">
                            <label for="versionType{{version.code}}">{{version.displayName}}</label>
                        </li>
                    </ul>
                </td>
            </tr>
            <!-- 서비스 종류 -->
            <tr data-ng-show="searchConfig.serviceTypeName">
                <th scope="row">{{searchConfig.serviceTypeName}}</th>
                <td>
                    <ul class="list-inline">
                        <li class="radio" data-ng-repeat="type in searchConfig.serviceTypes">
                            <input type="radio" name="serviceType" id="serviceType{{type.code}}" value="{{$index}}" data-ng-model="selectedServiceType.index">
                            <label for="serviceType{{type.code}}">{{type.displayName}}</label>
                        </li>
                    </ul>
                </td>
            </tr>
            <!-- 통계 항목 -->
            <tr data-ng-show="searchConfig.statContentName">
                <th scope="row">{{searchConfig.statContentName}}</th>
                <td>
                    <ul class="list-inline">
                        <li class="checkbox" data-ng-repeat="content in searchConfig.statContents">
                            <input type="checkbox" name="statContent" id="statContent{{content.code}}" ng-disabled="{{content.disabled}}" data-ng-model="selectedStatContent.codes[content.code]">
                            <label for="statContent{{content.code}}">{{content.displayName}}</label>
                        </li>
                    </ul>
                </td>
            </tr>
            <!-- 조건 설정 -->
            <tr data-ng-show="searchConfig.conditionTypeName">
                <th scope="row">{{searchConfig.conditionTypeName}}</th>
                <td>
                    <ul class="list-inline">
                        <li class="checkbox" data-ng-repeat="condition in searchConfig.conditionTypes">
                            <input type="checkbox" name="conditionType" id="conditionType{{condition.code}}" data-ng-model="selectedConditionType.codes[condition.code]">
                            <label for="conditionType{{condition.code}}">{{condition.displayName}}</label>
                        </li>
                    </ul>
                </td>
            </tr>
            <!-- 오류 항목 -->
            <tr data-ng-show="searchConfig.errorTypeName">
                <th scope="row">{{searchConfig.errorTypeName}}</th>
                <td>
                    <ul class="list-inline">
                        <li class="checkbox" data-ng-repeat="error in searchConfig.errorTypes">
                            <input type="checkbox" name="errorType" id="errorType{{error.code}}" data-ng-model="selectedErrorType.codes[error.code]">
                            <label for="errorType{{error.code}}">{{error.displayName}}</label>
                        </li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <a href="javascript:void(0);" class="btn btn-search pull-right" id="_bleSearchBtn">조회</a>
</div>
