<div class="page-title obj-clear">
    <h1 class="pull-left">{{menuContext.menu.name}}</h1>
    <div class="pagenation">
        {{menuContext.category.name}} <span>&gt;</span> {{menuContext.menu.name}}
    </div>
</div>
<div class="search-select-area obj-clear">
    <div class="form-table">
        <table class="table form-type">
            <colgroup>
                <col style="width:10%;">
                <col style="width:40%;">
                <col style="width:10%;">
                <col style="width:40%;">
            </colgroup>
            <tbody>
                <tr>
                    <th scope="row">서비스</th>
                    <td>
                        <select class="select mar-l10" data-ng-model="selectedSvc" data-ng-options="svc.svcCdNm for svc in svcs" data-ng-change="changeSvc()"></select>
                    </td>
                    <th class="mar-l6" scope="row">조회 주기</th>
                    <td>
                        <div class="btn-group">
                            <button class="btn btn-white" ng-repeat="type in dateTypes" ng-class="{active:selectedDateType === type}" type="button" data-ng-click="changeDateType(type)">
                                {{type.label}}
                            </button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">조회 기간</th>
                    <td colspan="3">
                        <div class="date-picker-area obj-clear col-md-10">
                            <div class="date-picker input-append success date">
                                <input class="form-control date-pick" type="text" data-ng-model="selectedCalStart" id="search-date01">
                                <span class="add-on pull-left">
                                    <span class="arrow"></span>
                                    <i class="fa fa-th"></i>
                                    <label for="search-date01" class="hidden-text">조회 시작일 입력</label>
                                </span>
                            </div>
                            <div class="week-number col-md-2" data-ng-show="selectedDateType.key == 'week'">
                                <select class="select" data-ng-model="selectedStartWk" data-ng-options="startWk.svcCdNm for startWk in startWks"></select>
                            </div>

                            <span class="to">~</span>

                            <div class="date-picker input-append success date">
                                <input class="form-control date-pick" type="text" data-ng-model="selectedCalEnd" id="search-date02">
                                <span class="add-on pull-left">
                                    <span class="arrow"></span>
                                    <i class="fa fa-th"></i>
                                    <label for="search-date02" class="hidden-text">조회 마지막일 입력</label>
                                </span>
                            </div>
                            <div class="week-number" data-ng-show="selectedDateType.key == 'week'">
                                <select class="select" data-ng-model="selectedEndWk" data-ng-options="endWk.svcCdNm for endWk in endWks"></select>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">조회 대상</th>
                    <td>
                        <select class="select mar-l10" data-ng-model="selectedIdxClGrp" data-ng-options="idxClGrp.svcCdNm for idxClGrp in idxClGrps"
                                data-ng-change="changeIdxClGrp()">
                            <option value="">전체</option>
                        </select>
                        <select class="select" data-ng-model="selectedIdxCl" data-ng-options="idxCl.svcCdNm for idxCl in idxCls">
                            <option value="">전체</option>
                        </select>
                    </td>
                    <td>
                        <a href="javascript:void(0);" class="btn btn-search pull-left basic" id="_bpmResultSearchBtn">조회</a>
                    </td>
                    <td>
                        <a href="javascript:void(0);" class="btn btn-search pull-left basic" id="_bpmResultExcelBtn">엑셀</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <form method='post' action='' id='reportExcelForm'>
        <input type='hidden' name='svcId' value=''/>
        <input type='hidden' name='dateType' value=''/>
        <input type='hidden' name='startDate' value=''/>
        <input type='hidden' name='endDate' value=''/>
        <input type='hidden' name='idxClGrpCd' value=''/>
        <input type='hidden' name='idxClCd' value=''/>
        <input type='hidden' name='startWeekNumber' value=''/>
        <input type='hidden' name='endWeekNumber' value=''/>
        <input type='hidden' name='xlsName' value=''/>
        <input type='hidden' name='titleName' value=''/>
        <input type='hidden' name='pivotFlag' value=''/>
    </form>
</div>
