<div class="page-title obj-clear">
    <h1 class="pull-left">{{menuContext.menuName}}</h1>

    <div class="add-bookmark">
        <button class="btn btn-white" id="_removeBookmarkBtn"><i class="fa fa-minus"></i> 즐겨찾기해제</button>
        <button class="btn btn-white edit-dashboard" id="_editDashboard">편집</button>
    </div>

    <div class="pagenation">
        {{menuContext.categoryName}} <span>&gt;</span> {{menuContext.menuName}}
    </div>
</div>
<div class="search-select-area obj-clear">
    <div class="btn-group">
        <button class="btn btn-white" ng-repeat="type in dateTypes" ng-class="{active:selectedDateType === type.key}" type="button" data-ng-click="changeDateType(type)">
            {{type.label}}
        </button>
    </div>
    <div class="date-picker-area obj-clear">
        <div class="date-picker input-append success date">
            <input class="form-control date-pick" type="text" data-ng-model="selectedBoxCalStart" id="search-date01">
            <span class="add-on pull-left">
                <span class="arrow"></span>
                <i class="fa fa-th"></i>
                <label for="search-date01" class="hidden-text">조회 시작일 입력</label>
            </span>
        </div>
        <span class="to">~</span>
        <div class="date-picker input-append success date">
            <input class="form-control date-pick" type="text" data-ng-model="selectedBoxCalEnd" id="search-date02">
            <span class="add-on pull-left">
                <span class="arrow"></span>
                <i class="fa fa-th"></i>
                <label for="search-date02" class="hidden-text">조회 마지막일 입력</label>
            </span>
        </div>
    </div>

    <a href="javascript:void(0);" class="btn btn-search pull-left" id="_searchBtn">조회</a>
</div>
