<div class="bookmark-area" ng-style = "favoriteCheck('height')" >
    <button class="bookmark-active" data-ng-click="favoriteStateChange()">
        <i class="fa fa-star"></i>
        즐겨찾기
        <i class="fa fa-angle-up"></i>
    </button>
    <ul class="bookmark-list sidebar-menu" ng-style = "favoriteCheck('display')">
        <li ng-cloak class="sub-menu" data-ng-repeat="(serviceCode, favorites) in myFavoritesMap">
            <a href="javascript:void(0);" class="service-item">{{favorites[0].serviceName}}</a>
            <ul class="sub">
                <li ng-cloak data-ng-repeat="favorite in favorites">
                    <a href data-ng-click="goUrl(favorite)">{{getFullMenuName(favorite)}}</a>
                    <button class="bookmark-delete" data-ng-click="delete(favorite, serviceCode)"><i class="fa fa-times"></i></button>
                </li>
            </ul>
        </li>
    </ul>
    <a href="javascript:void(0);" class="add-bookmark" id="addBookmark" role="button"  ng-style = "favoriteCheck('display')"><i class="fa fa-plus"></i> 즐겨찾기 추가</a>
    <div class="dimmed"></div>
</div>
