<!--faq detail start-->
<div id="notice_article" class="help-desk-modal" tabindex="-1" role="dialog" aria-labelledby="notice" aria-hidden="true"
     data-ng-init="modalInit()">
    <!--<div class="modal-dialog">-->
    <!--<section class="modal-content">-->
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-ng-click="cancel()">×</button>
        <h1 class="modal-title" id="myModalLabel">FAQ 상세</h1>
    </div>
    <div class="modal-body blank-remove">
        <div class="sub-title obj-clear">
            <h2 class="pull-left">{{selectFaq.title}}</h2>
            <span class="date pull-right">{{selectFaq.writeDate}}</span>
        </div>
        <div class="detail-view">
            <!--<div class="detail-con" ng-bind-html = "selectFaq.context"></div>-->
            <div class="detail-con">
                <summernote ng-model="selectFaq.context" config="summernoteConfig"></summernote>
            </div>

        </div>
        <table class="file-list" summary="첨부된 파일 리스트">
            <caption>첨부파일 리스트</caption>
            <tr>
                <th rowspan="{{selectFaqFiles.length+2}}">첨부 파일</th>
            </tr>
            <tr data-ng-repeat="file in selectFaqFiles">
                <td>
                    <a href="/file/download?containerName=helpdesk&uuid={{file.uuid}}&saveFileName={{file.fileName}}">{{file.fileName}}</a>
                    <span>( {{file.fileSize/1024/1024|number:2}} MB )</span>
                </td>
            </tr>
            <tr data-ng-if="selectFaqFiles.length == 0">
                <td>첨부된 파일이 없습니다...</td>
            </tr>
        </table>
    </div>
    <div class="control-area">
        <div class="pull-left btn-group">
            <button class="btn btn-white btn-small" data-ng-click="refreshSelectFaq(nextIndex)"><i
                    class="fa fa-angle-left"></i></button>
            <button class="btn btn-white btn-small" data-ng-click="refreshSelectFaq(preIndex)"><i
                    class="fa fa-angle-right"></i></button>
        </div>
        <div class="pull-right" data-ng-show="checkAuthority()">
            <button class="btn btn-gray" data-ng-click="delete()">삭제</button>
            <button class="btn btn-orange" data-ng-click="update()">수정</button>
        </div>
    </div>
    <!--</section>-->
    <!--</div>-->
</div>
<!--faq detail end-->