<!--notice detail start-->
<div id="notice_article" class="help-desk-modal" tabindex="-1" role="dialog" aria-labelledby="notice" aria-hidden="true"
     data-ng-init="modalInit()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-ng-click="cancel()">×
        </button>
        <h1 class="modal-title" id="myModalLabel">공지사항 상세</h1>
    </div>
    <div class="modal-body blank-remove">
        <div class="sub-title obj-clear">
            <h2 class="pull-left">
                <span class="sort">{{getCodeName(selectNotice.category)}}</span>
                <span class="sort-line">|</span>{{selectNotice.title}}
            </h2>
            <span class="date pull-right">
                <div data-ng-show="checkAuth">게시일자 : {{popupDate.start}} ~ {{popupDate.end}}</div>{{selectNotice.writeDate}}
            </span>
        </div>
        <div>
            <div class="detail-con">
                <summernote ng-model="selectNotice.context" config="summernoteConfig"></summernote>
            </div>
        </div>
    </div>
    <table class="file-list" summary="첨부된 파일 리스트">
        <caption>첨부파일 리스트</caption>
        <tr>
            <th rowspan="{{selectNoticeFiles.length+2}}">첨부 파일</th>
        </tr>
        <tr data-ng-repeat="file in selectNoticeFiles">
            <td>
                <a href="/file/download?containerName=helpdesk&uuid={{file.uuid}}&saveFileName={{file.fileName}}">{{file.fileName}}</a>
                <span>( {{file.fileSize/1024/1024|number:2}} MB )</span>
            </td>
        </tr>
        <tr data-ng-if="selectNoticeFiles.length == 0">
            <td>첨부된 파일이 없습니다...</td>
        </tr>
    </table>
    </section>
    <div class="control-area">
        <div class="pull-left btn-group" data-ng-show="checkListSize()">
            <button class="btn btn-white btn-small" data-ng-click="refreshSelectNotice(nextIndex)"><i
                    class="fa fa-angle-left"></i></button>
            <button class="btn btn-white btn-small" data-ng-click="refreshSelectNotice(preIndex)"><i
                    class="fa fa-angle-right"></i></button>
        </div>
        <div class="pull-right" data-ng-show="checkAuth">
            <button class="btn btn-gray" data-ng-click="delete()">삭제</button>
            <button class="btn btn-orange" data-ng-click="update()">수정</button>
        </div>
    </div>
</div>
<!--notice detail end-->