<div class="page-title obj-clear">
    <h1 class="pull-left">{{menuContext.menu.name}}</h1>
    <div class="add-bookmark">
        <favorite-button />
    </div>
    <div class="pagenation">
        {{menuContext.category.name}} <span>&gt;</span> {{menuContext.menu.name}}
    </div>
</div>
<div class="search-select-area obj-clear">
   <div class="date-picker-area obj-clear">
       <div class="date-picker input-append success date">
            <input class="form-control date-pick" type="text" data-ng-model="startDate" id="search-date01">
            <span class="add-on pull-left">
                <span class="arrow"></span>
                <i class="fa fa-th"></i>
                <label for="search-date01" class="hidden-text">조회 시작일 입력</label>
            </span>
        </div>
        <span class="to">~</span>
        <div class="date-picker input-append success date">
            <input class="form-control date-pick" type="text" data-ng-model="endDate" id="search-date02">
            <span class="add-on pull-left">
                <span class="arrow"></span>
                <i class="fa fa-th"></i>
                <label for="search-date02" class="hidden-text">조회 마지막일 입력</label>
            </span>
        </div>
   </div>
    <div class="select-box">
        <label>구분 : </label>
        <select class="select" ng-model="type">
            <option ng-repeat="sankeyType in sankeyChartTypeList" value="{{sankeyType.codeId}}"> {{sankeyType.codeName}}</option>
        </select>
    </div>

    <a href="javascript:void(0);" class="btn btn-search pull-left" id="_sankeySearchBtn">조회</a>
</div>
