<div class="page-title obj-clear">
    <h1 class="pull-left">{{menuContext.menu.name}}</h1>
    <div class="add-bookmark">
        <favorite-button />
    </div>
    <div class="pagenation">
        {{menuContext.category.name}} <span>&gt;</span> {{menuContext.menu.name}}
    </div>
</div>
<div class="search-select-area obj-clear">
    <div class="form-table">
        <table id="date-prompt-area" class="table form-type">
            <colgroup>
                <col style="width:10%;">
                <col style="width:90%;">
            </colgroup>
            <tbody>
                <tr>
                    <th scope="row">기간검색</th>
                    <td>
                        <div class="btn-group">
                            <button class="btn btn-white" ng-repeat="type in dateTypes" ng-class="{active:selectedDateType === type.key}" ng-show="type.key != ''" type="button" data-ng-click="changeDateType(type)">
                                {{type.label}}
                            </button>
                        </div>
                        <div class="date-picker-area obj-clear">
                            <div data-ng-show="!menuSearchOption.calendarType || menuSearchOption.calendarType == 'period'">
                                <div class="date-picker input-append success date">
                                    <input class="form-control date-pick" type="text" data-ng-model="selectedCalStart"
                                           id="search-date01">
                                <span class="add-on pull-left">
                                    <span class="arrow"></span>
                                    <i class="fa fa-th"></i>
                                    <label for="search-date01" class="hidden-text">조회 시작일 입력</label>
                                </span>
                                </div>
                                <span class="to">~</span>
                                <div class="date-picker input-append success date">
                                    <input class="form-control date-pick" type="text" data-ng-model="selectedCalEnd" id="search-date02">
                                <span class="add-on pull-left">
                                    <span class="arrow"></span>
                                    <i class="fa fa-th"></i>
                                    <label for="search-date02" class="hidden-text">조회 마지막일 입력</label>
                                </span>
                                </div>
                            </div>
                            <div data-ng-show="menuSearchOption.calendarType == 'single'">
                                <div class="date-picker input-append success date">
                                    <input class="form-control date-pick" type="text" data-ng-model="selectedCalEnd" id="search-date03">
                                <span class="add-on pull-left">
                                    <span class="arrow"></span>
                                    <i class="fa fa-th"></i>
                                    <label for="search-date03" class="hidden-text">조회일 입력</label>
                                </span>
                                </div>
                                <span class="to">&nbsp;</span>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div id="custom-prompt-area"></div>
    </div>
    <a href="javascript:void(0);" class="btn btn-search pull-right" ng-style="{'margin-top':'-38px'}" id="_mstrSearchBtn">조회</a>
</div>
<form method="post" action="" id="mstrReportForm">
    <input type="hidden" id="usrSmgr" name="usrSmgr" value=""/>
    <input type="hidden" id="hiddenSections" name="hiddenSections" value=""/>
    <input type="hidden" id="currentViewMedia" name="currentViewMedia" value=""/>
    <input type="hidden" id="visMode" name="visMode" value=""/>
    <input type="hidden" id="evt" name="evt" value=""/>
    <input type="hidden" id="src" name="src" value=""/>
    <input type="hidden" id="reportID" name="reportID" value=""/>
    <input type="hidden" id="documentID" name="documentID" value=""/>
    <input type="hidden" id="promptsAnswerXML" name="promptsAnswerXML" value=""/>
</form>
