<!-- report subtitle nav -->
<!--<h2>{{menuContext.category.name}} <span>&gt;</span> {{menuContext.menu.name}}</h2>-->
<div class="btn-group">
    <!--<button class="btn btn-white" type="button"><img src="resources/images/ico/add.png" alt="대시보드 추가" /></button>-->
    <!--<button clas<input type='hidden' name='dateType' value=''/>s="btn btn-white" type="button"><img src="resources/images/ico/copy.png" alt="클립보드 복사" /></button>-->
    <!--<button class="btn btn-white" type="button"><img src="resources/images/ico/mail.png" alt="이메일 공유" /></button>-->
    <button id="excelButton" class="btn btn-white" type="button" data-ng-click="excelDownload()">
        <img src="resources/images/ico/down.png" alt="엑셀 다운로드" title="엑셀 다운로드" />
    </button>
    <form method='post' action='' id='reportExcelForm'>
        <input type='hidden' name='sidx' value='stdDt'/>
        <input type='hidden' name='sord' value='asc'/>
        <input type='hidden' name='dateType' value=''/>
        <input type='hidden' name='startDate' value=''/>
        <input type='hidden' name='endDate' value=''/>
        <input type='hidden' name='pocCode' value=''/>
        <input type='hidden' name='kpiCode' value=''/>
        <input type='hidden' name='searchString' value=''/>
        <input type='hidden' name='titleName' value=''/>
        <input type='hidden' name='xlsName' value=''/>
        <input type='hidden' name='htmlData' value=''/>
        <input type='hidden' name='feedType' value=''/>
    </form>
</div>
<!--// report subtitle nav -->
