<!-- summary subtitle nav -->
<!--<div class="btn-group">-->
    <button id="summaryExcelButton" class="btn btn-white" type="button" data-ng-click="excelDownload()"><img src="resources/images/ico/down.png" alt="엑셀 다운로드" title="엑셀 다운로드" />
    </button>
    <form method='post' action='/download/summary/excel' id='excelForm'>
        <input type='hidden' name='svcId' value=''/>
        <input type='hidden' name='dateType' value=''/>
        <input type='hidden' name='basicDate' value=''/>
        <input type='hidden' name='titleName' value=''/>
        <input type='hidden' name='xlsName' value=''/>
        <input type='hidden' name='viewName' value=''/>
        <input type='hidden' name='whereConditions' value=''/>
        <input type='hidden' name='htmlData' value=''/>
    </form>
<!--</div>-->
<!--// report subtitle nav -->
