<div class="page-title obj-clear">
    <h1 class="pull-left">{{menuContext.menu.name}}</h1>
    <div class="add-bookmark">
        <favorite-button />
    </div>
    <div class="pagenation">
        {{menuContext.category.name}} <span>&gt;</span> {{menuContext.menu.name}}
    </div>
</div>
<div class="search-select-area obj-clear">
    <div class="btn-group">
        <button class="btn btn-white" ng-repeat="type in dateTypes" ng-class="{active:selectedDateType === type.key}" type="button" data-ng-click="changeDateType(type)">
            {{type.label}}
        </button>
    </div>
    <div class="date-picker-area obj-clear">
        <div data-ng-show="!menuSearchOption.calendarType || menuSearchOption.calendarType == 'period'">
            <div class="date-picker input-append success date">
                <input class="form-control date-pick" type="text" data-ng-model="selectedCalStart" id="search-date01">
                <span class="add-on pull-left">
                    <span class="arrow"></span>
                    <i class="fa fa-th"></i>
                    <label for="search-date01" class="hidden-text">조회 시작일 입력</label>
                </span>
            </div>
            <!--
            <div class="select-box">
                <label for="selectedStartYr" class="text-check">{{menuSearchOption.label}}</label>
                <select id="selectedStartYr" class="select" data-ng-model="selectedStartYr" data-ng-options="startYr.strdYear for startYr in startYrs"></select>
            </div>
            <div class="select-box">
                <label for="selectedStartWk" class="text-check">{{menuSearchOption.label}}</label>
                <select id="selectedStartWk" class="select" data-ng-model="selectedStartWk" data-ng-options="startWk.strdWkSeq for startWk in startWks"></select>
            </div>
            -->
            <span class="to">~</span>
            <div class="date-picker input-append success date">
                <input class="form-control date-pick" type="text" data-ng-model="selectedCalEnd" id="search-date02">
                <span class="add-on pull-left">
                    <span class="arrow"></span>
                    <i class="fa fa-th"></i>
                    <label for="search-date02" class="hidden-text">조회 마지막일 입력</label>
                </span>
            </div>
            <!--
            <div class="select-box">
                <label for="selectedEndYr" class="text-check">{{menuSearchOption.label}}</label>
                <select id="selectedEndYr" class="select" data-ng-model="selectedEndYr" data-ng-options="endYr.strdYear for endYr in endYrs"></select>
            </div>
            <div class="select-box">
                <label for="selectedEndWk" class="text-check">{{menuSearchOption.label}}</label>
                <select id="selectedEndWk" class="select" data-ng-model="selectedEndWk" data-ng-options="endWk.strdWkSeq for endWk in endWks"></select>
            </div>
            -->
        </div>
        <div data-ng-show="menuSearchOption.calendarType == 'single'">
            <div class="date-picker input-append success date">
                <input class="form-control date-pick" type="text" data-ng-model="selectedCalEnd" id="search-date03">
                <span class="add-on pull-left">
                    <span class="arrow"></span>
                    <i class="fa fa-th"></i>
                    <label for="search-date03" class="hidden-text">조회일 입력</label>
                </span>
            </div>
            <span class="to">&nbsp;</span>
        </div>
    </div>

    <div class="select-box" data-ng-show="menuSearchOption.addType == 'select' && menuSearchOption.data.length > 0">
        <label for="add_condition1" class="text-check">{{menuSearchOption.label}}</label>
        <select id="add_condition1" class="select" data-ng-model="searchedSelectCode" data-ng-options="section.name for section in menuSearchOption.data"></select>
    </div>

    <div class="select-box" data-ng-show="menuSearchOption.addType == 'text'">
        <label for="add_condition2" class="text-check">{{menuSearchOption.label}}</label>
        <input id="add_condition2" class="select" type="text" data-ng-model="searchedText" />
    </div>

    <a href="javascript:void(0);" class="btn btn-search pull-left" id="_searchBtn">조회</a>
</div>
