<div id="userSearchModal" class="modal fade bookmark-modal" tabindex="-1" role="dialog" aria-labelledby="data_widget_addLabel" aria-hidden="true">
    <div class="modal-dialog">
        <section class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h1 class="modal-title" id="myModalLabel">사용자 검색</h1>
            </div>
            <div class="select-service">
                <label for="searchedText" class="text-check">사용자:</label>
                <input id="searchedText" class="select" type="text" data-ng-model="searchedText" />
            </div>
            <a href="javascript:void(0);" class="btn btn-search pull-left" data-ng-click="searchUser()" id="userSearchBtn">검색</a>

            <div class="modal-body">


            </div>
            <div class="control-area">
                <button class="btn btn-gray" data-ng-click="cancelFavoriteModal()">취소</button>
                <button class="btn btn-orange" ng-disabled="!selectedFavorites.length || loading" data-ng-click="addFavorites()">{{loading ? '적용중...': '적용'}}</button>
            </div>
        </section>
    </div>
</div>
