<div ng-controller="moveToJiraCtrl" ng-init="init()">
    <div class="mar-t20">
        <div style="padding:10px; border:1px solid #666;border-radius:10px; margin-right: 20px;">
            <b>Voyager 업무요청 JIRA 서비스데스크로 이동합니다.</b>
        </div>
    </div>
</div>
<script type="text/javascript" src="resources/app/helpdesk/moveToJiraCtrl.js"></script>

<!--backup for late-->
<!--<div ng-controller="qnaHelpDeskCtrl" ng-init="init()">-->
    <!--&lt;!&ndash; main content start &ndash;&gt;-->
    <!--<section id="main-content">-->
        <!--<article class="wrapper">-->
            <!--<div class="row content-wrap">-->
                <!--<div class="col-md-12">-->
                    <!--<div class="page-title obj-clear">-->
                        <!--<h1 class="pull-left">Q&amp;A</h1>-->

                        <!--<div class="add-bookmark btn-group">-->
                            <!--<button class="btn btn-white btn-notice" data-ng-click="addNewQna()">질문 등록</button>-->
                        <!--</div>-->
                        <!--<div class="pagenation">-->
                            <!--Home <span>&gt;</span> Help Desk <span>&gt;</span> Q&amp;A-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="search-report-info">-->
                        <!--<table summary="조회할 질문 정보 입력 표(분류, 검색어)">-->
                            <!--<caption>조회할 질문 정보 입력 표</caption>-->
                            <!--<tbody>-->
                            <!--<tr>-->
                                <!--<th scope="row">분류</th>-->
                                <!--<td>-->
                                    <!--<span class="checkbox">-->
                                        <!--<input type="checkbox" id="checkAll" data-ng-model="hdSearchCategoryAll" data-ng-change="toggleSelectAll()"/>-->
                                        <!--<label for="checkAll" class="text-normal">전체</label>-->
                                    <!--</span>-->
                                    <!--<span class="checkbox" data-ng-repeat="category in hdSearchCategory">-->
                                        <!--<input id="{{category.codeId}}" type="checkbox" data-ng-model="category.selected" data-ng-click="toggleSelect($index)"/>-->
                                        <!--<label for="{{category.codeId}}" class="text-normal">{{category.codeName}}</label>-->
                                    <!--</span>-->
                                <!--</td>-->
                            <!--</tr>-->
                            <!--<tr>-->
                                <!--<th scope="row">검색어</th>-->
                                <!--<td class="search-article">-->
                                    <!--<select data-ng-model="searchForm.hdSearchType" data-ng-options="type.name for type in hdSearchTypes" class="select"></select>-->
                                    <!--<input type="text" data-ng-model="searchForm.hdSearchString" class="form-control" placeholder="검색할 단어를 입력하세요."/>-->
                                    <!--<button class="btn btn-search" data-ng-click="searchQna()" style="vertical-align:top; width:92px">조회</button>-->
                                <!--</td>-->
                            <!--</tr>-->
                            <!--</tbody>-->
                        <!--</table>-->
                    <!--</div>-->
                    <!--<div class="data-table obj-section01 hover-table">-->
                        <!--<table ng-table="qnaTableParams" class="table text-center">-->
                            <!--<tr data-ng-repeat="item in qnaList" data-ng-click="readSelectQna($index, item.id)">-->
                                <!--<td data-title="'NO.'">{{item.rnum}}</td>-->
                                <!--<td data-title="'구분'">{{item.category}}</td>-->
                                <!--<td data-title="'제목'" class="text-left">{{item.title}}-->
                                    <!--<span class="text-danger">({{item.replyCount}})</span>-->
                                <!--<span ng-class="{'label-square label-success': (item.replyCompletionYn== 'Y'), 'label-square label-white': (item.replyCompletionYn== 'N')}">-->
                                    <!--{{item.replyCompletionYn == 'Y' ? '답변완료' : '답변중' }}</span>-->
                                <!--</td>-->
                                <!--<td data-title="'작성자'">{{item.writer}}</td>-->
                                <!--<td data-title="'작성일'" sortable="'writeDate'">{{item.writeDate}}</td>-->
                                <!--<td data-title="'조회수'">{{item.hit}}</td>-->
                            <!--</tr>-->
                            <!--<tr data-ng-if="qnaList.length == 0">-->
                                <!--<td colspan="6"><h2>검색 결과가 없습니다...</h2></td>-->
                            <!--</tr>-->
                        <!--</table>-->
                    <!--</div>-->
                    <!--<div class="text-center">-->
                        <!--<ul class="pagination">-->
                            <!--<li ng-class="{disabled:hdQnaTableInfo.curPage == 1}">-->
                                <!--<a href data-ng-click="prevPage()">&lt;</a>-->
                            <!--</li>-->

                            <!--<li ng-repeat="n in hdQnaTableInfo.range"-->
                                <!--ng-class="{active: n == hdQnaTableInfo.curPage}"-->
                                <!--ng-click="setPage()">-->
                                <!--<a href ng-bind="n">1</a>-->
                            <!--</li>-->

                            <!--&lt;!&ndash;<li ng-class="disabled"><a href>...</a></li>&ndash;&gt;-->
                            <!--<li ng-class="{disabled:hdQnaTableInfo.curPage == hdQnaTableInfo.maxPage}">-->
                                <!--<a href data-ng-click="nextPage()">&gt;</a>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                    <!--&lt;!&ndash;<simple-pagination></simple-pagination>&ndash;&gt;-->
                <!--</div>-->
            <!--</div>-->
        <!--</article>-->
    <!--</section>-->
    <!--&lt;!&ndash; main content end &ndash;&gt;-->
<!--</div>-->
<!--&lt;!&ndash;<script type="text/javascript" src="resources/ngtable/ng-table.js"></script>&ndash;&gt;-->
<!--&lt;!&ndash;<link href="resources/ngtable/ng-table.css" rel="stylesheet" />&ndash;&gt;-->
<!--<script type="text/javascript" src="resources/app/helpdesk/qnaHelpDeskCtrl.js"></script>-->
<!--<script type="text/javascript" src="resources/app/helpdesk/addNewQnaCtrl.js"></script>-->
<!--<script type="text/javascript" src="resources/app/helpdesk/readSelectQnaCtrl.js"></script>-->
<!--<script type="text/javascript" src="resources/app/helpdesk/updateSelectQnaCtrl.js"></script>-->
