<!-- main content start -->
<section id="main-content" data-ng-controller="dssRecommendCtrl" data-ng-init="init()">
    <article class="wrapper">
        <div class="row content-wrap">
            <div class="col-md-12">
                <div class="page-title obj-clear">
                    <h1 class="pull-left">추천 보고서</h1>
                    <div class="add-bookmark btn-group">
                        <a ui-sref="main.dss.menu({menu: 'add'})">
                            <button class="btn btn-white btn-report">보고서 등록</button>
                        </a>
                    </div>

                    <div class="pagenation">
                        Home <span>&gt;</span> Dataset Sharing
                    </div>
                </div>
                <div data-ng-if="swipeReports.length > 0" id="slide-con" class="carousel slide auto panel-body report-slide">
                    <ol class="carousel-indicators out">
                        <li data-ng-repeat="report in swipeReports" data-ng-class="{active: $index == 0}" data-slide-to="{{$index}}" data-target="#slide-con"></li>
                    </ol>
                    <div class="carousel-inner">
                        <section data-ng-class="{active: $index == 0}" data-ng-repeat="report in swipeReports" class="item">
                            <a ui-sref="main.dss.detail({dssId: report.id})">
                                <div class="data-summary bg-0{{$index+1}}">
                                    <span data-ng-repeat="bm in report.bmList" class="badge">{{bm.bmName}}</span>
                                    <h1 class="data-tit">{{report.subject}}</h1>
                                    <p class="data-description">{{report.content}}</p>
                                </div>
                                <div class="data-info ranking0{{$index+1}}">
                                    <span class="date">{{report.createDate}}</span>
                                    <h2 class="rank-num">0{{$index+1}}</h2>
                                    <ul class="detail obj-clear">
                                        <li class="name">{{report.createUser.fullname}}</li>
                                        <li class="count">조회수 <span class="delimiter">|</span> <span class="num">{{report.viewCount}}</span></li>
                                    </ul>
                                </div>
                            </a>
                        </section>
                    </div>
                </div>
                <div class="report-wrap">
                    <div class="obj-clear">
                        <div class="btn-group pull-right">
                            <a ui-sref="main.dss.menu({menu: 'all'})">
                                <button class="btn btn-white btn-report-view" type="button">
                                    보고서 전체보기
                                </button>
                            </a>
                        </div>
                    </div>
                    <div class="report-list">
                        <ul class="report obj-clear">
                            <li data-ng-repeat="report in normalReports" on-finish-render>
                                <a ui-sref="main.dss.detail({dssId:report.id})">
                                    <section class="data-summary bg-0{{$index % 5 + 1}}">
                                        <span class="date">{{report.createDate}}</span>
                                        <div class="con">
                                            <span data-ng-repeat="bm in report.bmList" class="badge">{{bm.bmName}}</span>
                                            <h1 class="data-tit">{{report.subject}}</h1>
                                        </div>
                                        <p class="data-description">
                                            {{report.content}}
                                        </p>
                                        <h2 class="rank-num">{{$index+4 < 10 ? '0'+ ($index+4) : $index+4 }}</h2>
                                        <div class="data-info">
                                            <ul class="detail obj-clear">
                                                <li class="name">{{report.createUser.fullname}}</li>
                                                <li class="count">조회수 <span class="delimiter">|</span> <span class="num">{{report.viewCount}}</span></li>
                                            </ul>
                                        </div>
                                    </section>
                                </a>
                                <span class="bg-bottom-line"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>
<!-- main content end -->
<script type="text/javascript" src="resources/app/dss/controller/dssRecommendCtrl.js"></script>