<!-- main content start -->
<section id="main-content" data-ng-controller="dssDetailCtrl" data-ng-init="init()">
    <article class="wrapper">
        <div class="row content-wrap">
            <div class="col-md-12">
                <div class="page-title obj-clear">
                    <h1 class="pull-left">상세 보고서</h1>
                    <div class="pagenation">
                        Home <span>&gt;</span> Dataset Sharing
                    </div>
                </div>
                <div class="dss-view-control obj-clear obj-section">
                    <div class="btn-group pull-right">
                        <button data-ng-click="goPrevious()" class="btn btn-white btn-small"><i class="fa fa-angle-left"></i></button>
                        <button data-ng-click="goNext()" class="btn btn-white btn-small"><i class="fa fa-angle-right"></i></button>
                    </div>
                    <div class="btn-group pull-right" style="margin-right:5px;">
                        <button data-ng-click="sendMail()" class="btn btn-white btn-small btn-xs">
                            <img src="/resources/images/ico/mail.png" alt="이메일 공유" />
                        </button>
                    </div>
                </div>
                <div class="detail-report-wrap">
                    <div class="detail-section">
                        <table class="detail-con" summary="BM 유형, 분석 주제, 분석 내용, 결과 및 시사점, 한계 및 향후 과제, 분석기간, 작성자">
                            <caption>상세 보고서</caption>
                            <tbody>
                            <tr>
                                <th scope="row">BM 유형</th>
                                <td>
                                    <strong ng-repeat="bm in dss.bmList" data-ng-bind="(bm.bmName) + ($last ? '' : ', ')"></strong>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">분석 주제</th>
                                <td>
                                    <strong data-ng-bind="dss.subject"></strong>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">분석 내용</th>
                                <td>
                                    <p data-ng-bind="dss.content" style="white-space: pre-wrap;">
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">결과 및 시사점</th>
                                <td>
                                    <p data-ng-bind="dss.conclusion" style="white-space: pre-wrap;">
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">한계 및 향후과제</th>
                                <td>
                                    <p data-ng-bind="dss.futureWork" style="white-space: pre-wrap">
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">분석기간</th>
                                <td>
                                    <span class="muddy" data-ng-bind="(dss.analysisStart | date:'yyyy.MM.dd') + ' ~ ' + (dss.analysisEnd | date: 'yyyy.MM.dd')"></span>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">작성자</th>
                                <td>
                                    <span class="muddy" data-ng-bind="dss.createUser.fullname"></span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="detail-section">
                        <table class="detail-con" summary="데이터 source, 데이터 기간, 샘플크기, 사용변수">
                            <caption>상세 보고서</caption>
                            <tbody>
                            <tr>
                                <th scope="row">데이터 Source</th>
                                <td>
                                    <span class="muddy" data-ng-bind="dss.dataSource"></span>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">데이터 기간</th>
                                <td>
                                    <span class="muddy" data-ng-bind="(dss.dataStart | date:'yyyy.MM.dd') + ' ~ ' + (dss.dataEnd | date: 'yyyy.MM.dd')"></span>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">샘플크기</th>
                                <td>
                                    <span class="muddy" data-ng-bind="dss.sampleSize | number"></span>
                                </td>
                            </tr>
                            <tr data-ng-show="dss.variables">
                                <th scope="row">사용변수</th>
                                <td>
                                    <table class="info-table" summary="변수명, 변수 설명">
                                        <caption>사용 변수</caption>
                                        <colgroup>
                                            <col style="width:195px;" />
                                            <col style="width:195px;" />
                                        </colgroup>
                                        <thead>
                                        <tr>
                                            <th scope="col">변수명</th>
                                            <th scope="col">변수 설명</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr data-ng-repeat="variable in dss.variables">
                                            <td data-ng-bind="variable.name"></td>
                                            <td data-ng-bind="variable.description"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="detail-section">
                        <table class="detail-con" summary="첨부 보고서 파일, 첨부 데이터, 첨부 쿼리">
                            <caption>상세 보고서</caption>
                            <tbody>
                            <tr>
                                <th scope="row">첨부 보고서 파일</th>
                                <td>
                                    <a data-ng-repeat="fileMeta in dss.reportFileMetas" href="/file/download?containerName={{fileMeta.containerName}}&uuid={{fileMeta.uuid}}&saveFileName={{fileMeta.fileName}}" data-ng-bind="fileMeta.fileName"></a>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">첨부 데이터</th>
                                <td>
                                    <a data-ng-repeat="fileMeta in dss.dataFileMetas" href="/file/download?containerName={{fileMeta.containerName}}&uuid={{fileMeta.uuid}}&saveFileName={{fileMeta.fileName}}" data-ng-bind="fileMeta.fileName"></a>
                                    <span data-ng-if="dss.dataFileMetas.length === 0" class="muddy">파일 없음</span>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">첨부 쿼리</th>
                                <td>
                                    <a data-ng-repeat="fileMeta in dss.queryFileMetas" href="/file/download?containerName={{fileMeta.containerName}}&uuid={{fileMeta.uuid}}&saveFileName={{fileMeta.fileName}}" data-ng-bind="fileMeta.fileName"></a>
                                    <span data-ng-if="dss.queryFileMetas.length === 0" class="muddy">파일 없음</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="comment-section obj-section">
                        <h2>comment</h2>
                        <ul class="comment-list">
                            <li data-ng-repeat="comment in comments.data">
                                <div data-ng-if="!comment.isUpdate">
                                    <dl>
                                        <dt data-ng-bind-html="'<strong>' + comment.createName + '</strong>' + '<span>|</span>' + (comment.createDate | date: 'yyyy.MM.dd')"></dt>
                                        <dd data-ng-bind="comment.comment"></dd>
                                    </dl>
                                    <span data-ng-if="comment.createId === loginUser.username"  class="edit">
                                        <button data-ng-click="readyForUpdateComment(comment)">수정</button>
                                        <span>|</span>
                                        <button data-ng-click="deleteComment(comment)">삭제</button>
                                    </span>
                                </div>
                                <div data-ng-if="comment.createId === loginUser.username && comment.isUpdate" >
                                    <dl>
                                        <dt data-ng-bind-html="'<strong>' + comment.createName + '</strong>' + '<span>|</span>' + (comment.createDate | date: 'yyyy.MM.dd')"></dt>
                                        <dd class="reply-edit">
                                            <textarea data-ng-model="updateCommentForm.comment" class="form-control" name="" cols="30" rows="10"></textarea>
                                            <button data-ng-click="updateComment()" class="btn btn-white reply">수정완료</button>
                                        </dd>
                                    </dl>
                                    <span class="edit">
                                        <button data-ng-click="cancelForUpdateComment(comment)">수정취소</button>
                                    </span>
                                </div>
                            </li>
                        </ul>
                        <div class="comment-add">
                            <textarea data-ng-model="commentForm.comment" class="form-control" name="" id="" cols="30" rows="10"></textarea>
                            <button data-ng-click="saveComment()" class="btn btn-white reply">답글입력</button>
                        </div>
                    </div>
                    <div class="page-control obj-clear">
                        <a ui-sref="main.dss.menu({menu:'all'})"><button class="btn btn-gray pull-left">목록</button></a>
                        <div data-ng-if="loginUser.username == dss.createUser.username" class="pull-right">
                            <button data-ng-click="delete(dss.id)" class="btn btn-gray">삭제</button>
                            <button data-ng-click="update(dss.id)" class="btn btn-orange">수정</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>
<!-- main content end -->
<script type="text/javascript" src="resources/app/dss/controller/dssDetailCtrl.js"></script>
