<div class="col-md-12 mar-t20" data-ng-controller="unauthorizedCtrl" resize>
    <div class="alert alert-warning text-center lead">
        <h3><strong>Warning!</strong> 선택하신 메뉴에 대한 권한이 없습니다. Voyager 서비스데스크에서 권한 신청을 해주세요.</h3>
    </div>
    <div class="text-center" style="margin:20px 0 40px;">
        <button class="btn btn-lg btn-warning" data-ng-click="goAuthorizedLink();">권한 신청</button>
    </div>
</div>
<script type="text/javascript" src="resources/app/authority/unauthorizedCtrl.js"></script>
