<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true" />
        <setting name="useColumnLabel" value="true"/>
    </settings>
    <typeAliases>
        <typeAlias type="com.skplanet.bisportal.model.oneid.FunnelRequest" alias="FunnelRequest"/>
        <typeAlias type="com.skplanet.bisportal.model.oneid.OidUsrProc" alias="OidUsrProc"/>
        <typeAlias type="com.skplanet.bisportal.model.oneid.OidUsrProcRank" alias="OidUsrProcRank"/>
    </typeAliases>
</configuration>
