<html lang="ko">
<head>
    <title> Voyager mail </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="No-Cache">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
</head>
<body>
<table border="0" cellspacing="0" cellpadding="0" width="620" align="center" style="border:1px solid #d7d7d7;">
    <!-- header -->
    <tr>
        <td height="151">
            <table border="0" cellspacing="0" cellpadding="0" width="620">
                <tr>
                    <td height="151" valign="bottom">
                        <table border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td style="margin-left:5px;"><img src="https://voyager.skplanet.com/resources/images/mail/kid/header_img01.jpg" alt="" /></td>
                                <td>
                                    <table border="0" cellspacing="0" cellpadding="0" width="364">
                                        <tr>
                                            <td style="margin-top:5px;"><img src="https://voyager.skplanet.com/resources/images/mail/kid/header_img02.jpg" alt="" /></td>
                                        </tr>
                                        <tr>
                                            <td height="82" align="center" style="font-size: 30px; font-weight:bold; color:#464646;">
                                                ${previousCommaDate}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><img src="https://voyager.skplanet.com/resources/images/mail/kid/header_img04.jpg" alt="" /></td>
                                        </tr>
                                    </table>
                                </td>
                                <td><img src="https://voyager.skplanet.com/resources/images/mail/kid/header_img03.jpg" alt="" /></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <!-- //header -->
    <!-- content -->
    <tr>
        <td>
            <table border="0" cellspacing="0" cellpadding="0" width="600" align="center">
                <tr>
                    <td bgcolor="e5e9ec">
                        <table border="0" cellspacing="0" cellpadding="0" width="600" align="center">
                            <tr>
                                <td height="42"></td>
                            </tr>
                            <!-- content nav -->
                            <tr>
                                <td height="73">
                                    <!--20150421-->
                                    <table border="0" cellspacing="0" cellpadding="0" border="0" width="600" align="center">
                                        <tr>
                                            <td width="14"></td><!--20150423:width 값 수정-->
                                            <td width="74" height="73" bgcolor="ffffff" valign="top"><!--20150423:width 값 수정-->
                                                <table border="0" cellspacing="0" cellpadding="0" height="26" align="center">
                                                    <tr>
                                                        <td width="15" height="26" align="center"><img src="https://voyager.skplanet.com/resources/images/mail/kid/${ocbDauBrandUrl}" alt="" /></td>
                                                        <td width="15" align="center"><img src="https://voyager.skplanet.com/resources/images/mail/kid/${ocbTrBrandUrl}" alt="" /></td>
                                                        <td width="15" align="center"></td>
                                                        <td width="15" align="center"></td>
                                                    </tr>
                                                </table>
                                                <!--20150423:table 수정-->
                                                <table border="0" cellspacing="0" cellpadding="0" width="74" height="47" align="center">
                                                    <tr>
                                                        <td width="52" height="47" valign="top" style="position:relative; font-weight: normal; font-size: 13px; font-family: '돋움', dotum, sans-serif; color:#464646; line-height:1;padding-left:5px;" rowspan="2">
                                                            OCB by Syrup
                                                        </td>
                                                        <td height="25"></td>
                                                    </tr>
                                                    <!--
                                                    <tr>
                                                        <td height="22" width="22">
                                                            <a href="#ocb">
                                                                <img src="https://voyager.skplanet.com/resources/images/mail/kid/btn01.jpg" alt="OCB by Syrup 더 보기"  style="vertical-align:top; border:0; display:block;"/>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    -->
                                                </table>
                                                <!--//20150423:table 수정-->
                                            </td>
                                            <td width="10"></td>
                                            <td width="73" height="73" bgcolor="ffffff" valign="top">
                                                <table border="0" cellspacing="0" cellpadding="0" height="26" align="center">
                                                    <tr>
                                                        <td width="15" height="26" align="center"><img src="https://voyager.skplanet.com/resources/images/mail/kid/${syrupDauBrandUrl}" alt="" /></td>
                                                        <td width="15" align="center"><img src="https://voyager.skplanet.com/resources/images/mail/kid/${syrupTrBrandUrl}" alt="" /></td>
                                                        <td width="15" align="center"></td>
                                                        <td width="15" align="center"></td>
                                                    </tr>
                                                </table>
                                                <table border="0" cellspacing="0" cellpadding="0" width="73" height="47" align="center">
                                                    <tr>
                                                        <td width="5" rowspan="2"></td>
                                                        <td width="68" height="25" valign="top" style="position:relative; font-weight: normal; font-size: 13px; font-family: '돋움', dotum, sans-serif; color:#464646;">
                                                            Syrup
                                                        </td>
                                                    </tr>
                                                    <!--
                                                    <tr>
                                                        <td align="right" height="22">
                                                            <a href="#syrup">
                                                                <img src="https://voyager.skplanet.com/resources/images/mail/kid/btn01.jpg" alt="Syrup 더 보기"  style="vertical-align:top; border:0; display:block;"/>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    -->
                                                </table>
                                            </td>
                                            <td width="10"></td>
                                            <td width="73" height="73" bgcolor="ffffff" valign="top">
                                                <table border="0" cellspacing="0" cellpadding="0" height="26" align="center">
                                                    <tr>
                                                        <td width="15" height="26" align="center"><img src="https://voyager.skplanet.com/resources/images/mail/kid/${sk11GmvBrandUrl}" alt="" /></td>
                                                        <td width="15" align="center"><img src="https://voyager.skplanet.com/resources/images/mail/kid/${sk11MobileGmvBrandUrl}" alt="" /></td>
                                                        <td width="15" align="center"><img src="https://voyager.skplanet.com/resources/images/mail/kid/${sk11MobileLvBrandUrl}" alt="" /></td>
                                                        <td width="15" align="center"></td>
                                                    </tr>
                                                </table>
                                                <table border="0" cellspacing="0" cellpadding="0" width="73" height="47" align="center">
                                                    <tr>
                                                        <td width="5" rowspan="2"></td>
                                                        <td width="68" height="25" valign="top" style="position:relative; font-weight: normal; font-size: 13px; font-family: '돋움', dotum, sans-serif; color:#464646;">
                                                            11번가
                                                        </td>
                                                    </tr>
                                                    <!--
                                                    <tr>
                                                        <td align="right" height="22">
                                                            <a href="#sk11">
                                                                <img src="https://voyager.skplanet.com/resources/images/mail/kid/btn01.jpg" alt="11번가 더 보기"  style="vertical-align:top; border:0; display:block;"/>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    -->
                                                </table>
                                            </td>
                                            <!--
                                            <td width="10"></td>
                                            <td width="73" height="73" bgcolor="ffffff" valign="top">
                                                <table border="0" cellspacing="0" cellpadding="0" height="26" align="center">
                                                    <tr>
                                                        <td width="15" height="26" align="center"><img src="https://voyager.skplanet.com/resources/images/mail/kid/${tstorePayUserBrandUrl}" alt="" /></td>
                                                        <td width="15" align="center"><img src="https://voyager.skplanet.com/resources/images/mail/kid/${tstoreTransactAmountBrandUrl}" alt="" /></td>
                                                        <td width="15" align="center"></td>
                                                        <td width="15" align="center"></td>
                                                    </tr>
                                                </table>
                                                <table border="0" cellspacing="0" cellpadding="0" width="73" height="47" align="center">
                                                    <tr>
                                                        <td width="5" rowspan="2"></td>
                                                        <td width="68" height="25" valign="top" style="position:relative; font-weight: normal; font-size: 13px; font-family: '돋움', dotum, sans-serif; color:#464646;">
                                                            T store
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="right" height="22">
                                                            <a href="#tstore">
                                                                <img src="https://voyager.skplanet.com/resources/images/mail/kid/btn01.jpg" alt="T store 더 보기"  style="vertical-align:top; border:0; display:block;"/>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td width="10"></td>
                                            <td width="73" height="73" bgcolor="ffffff" valign="top">
                                                <table border="0" cellspacing="0" cellpadding="0" height="26" align="center">
                                                    <tr>
                                                        <td width="15" height="26" align="center"><img src="https://voyager.skplanet.com/resources/images/mail/kid/${tmapDauBrandUrl}" alt="" /></td>
                                                        <td width="15" align="center"></td>
                                                        <td width="15" align="center"></td>
                                                        <td width="15" align="center"></td>
                                                    </tr>
                                                </table>
                                                <table border="0" cellspacing="0" cellpadding="0" width="73" height="47" align="center">
                                                    <tr>
                                                        <td width="5" rowspan="2"></td>
                                                        <td width="68" height="25" valign="top" style="position:relative; font-weight: normal; font-size: 13px; font-family: '돋움', dotum, sans-serif; color:#464646;">
                                                            T map
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="right" height="22">
                                                            <a href="#tmap">
                                                                <img src="https://voyager.skplanet.com/resources/images/mail/kid/btn01.jpg" alt="T map 더 보기"  style="vertical-align:top; border:0; display:block;"/>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td width="10"></td>
                                            <td width="73" height="73" bgcolor="ffffff" valign="top">
                                                <table border="0" cellspacing="0" cellpadding="0" height="26" align="center">
                                                    <tr>
                                                        <td width="15" height="26" align="center"><img src="https://voyager.skplanet.com/resources/images/mail/kid/${tcloudUvBrandUrl}" alt="" /></td>
                                                        <td width="15" align="center"></td>
                                                        <td width="15" align="center"></td>
                                                        <td width="15" align="center"></td>
                                                    </tr>
                                                </table>
                                                <table border="0" cellspacing="0" cellpadding="0" width="73" height="47" align="center">
                                                    <tr>
                                                        <td width="5" rowspan="2"></td>
                                                        <td width="68" height="25" valign="top" style="position:relative; font-weight: normal; font-size: 13px; font-family: '돋움', dotum, sans-serif; color:#464646;">
                                                            T cloud
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="right" height="22">
                                                            <a href="#tcloud">
                                                                <img src="https://voyager.skplanet.com/resources/images/mail/kid/btn01.jpg" alt="T cloud 더 보기"  style="vertical-align:top; border:0; display:block;"/>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td width="10"></td>
                                            <td width="73" height="73" bgcolor="ffffff" valign="top">
                                                <table border="0" cellspacing="0" cellpadding="0" height="26" align="center">
                                                    <tr>
                                                        <td width="15" height="26" align="center"><img src="https://voyager.skplanet.com/resources/images/mail/kid/${hoppinContentsUserBrandUrl}" alt="" /></td>
                                                        <td width="15" align="center"></td>
                                                        <td width="15" align="center"></td>
                                                        <td width="15" align="center"></td>
                                                    </tr>
                                                </table>
                                                <table border="0" cellspacing="0" cellpadding="0" width="73" height="47" align="center">
                                                    <tr>
                                                        <td width="5" rowspan="2"></td>
                                                        <td width="68" height="25" valign="top" style="position:relative; font-weight: normal; font-size: 13px; font-family: '돋움', dotum, sans-serif; color:#464646;">
                                                            hoppin
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="right" height="22">
                                                            <a href="#hoppin">
                                                                <img src="https://voyager.skplanet.com/resources/images/mail/kid/btn01.jpg" alt="hoppin 더 보기"  style="vertical-align:top; border:0; display:block;"/>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            -->
                                            <td width="14"></td>
                                        </tr>
                                    </table>
                                    <!--//20150421-->
                                </td>
                            </tr>
                            <!-- //content nav -->
                            <tr>
                                <td height="43"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <!-- content detail -->
                <!-- OCB -->
                <tr>
                    <td bgcolor="828692">
                        <table border="0" cellspacing="0" cellpadding="0" width="600">
                            <tr>
                                <td id="ocb" width="490" height="38">
                                    <img src="https://voyager.skplanet.com/resources/images/mail/kid/title_ocb.jpg" style="vertical-align:top;">
                                </td>
                                <td align="left">
                                    <a href="https://voyager.skplanet.com/#/reports/ocb?categoryCode=summary&menuCode=report" target="_blank" title="새창열림"><img src="https://voyager.skplanet.com/resources/images/mail/kid/btn02.jpg" alt="실적 상세 보기" style="vertical-align: top;border:0;"/></a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table border="0" cellspacing="0" cellpadding="0" width="600" style="padding-bottom:5px;">
                            <thead>
                            <tr>
                                <th width="160" style="font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#848484; border-bottom:1px solid #e5e9ec; height:33px;padding-right:20px; padding-top:10px; text-align:right;">&nbsp;</th>
                                <th width="180" style="font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#848484; border-bottom:1px solid #e5e9ec; height:33px;padding-right:20px; padding-top:10px; text-align:right;">
                                    ${thisDate}(최근 30일 평균 대비)
                                </th>
                                <th width="220" style="font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#848484; border-bottom:1px solid #e5e9ec; height:33px;padding-right:20px; padding-top:10px; text-align:right;">
                                    ${thisPeriod}(최근 3개월 동일기간 대비)
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th align="left" style="padding-top:5px; padding-left:20px; font-size: 13px; font-family: '돋움', dotum, sans-serif; color:#3c3c3c; font-weight:bold; line-height:2.5;">
                                    ${ocbDauDimension} ${ocbDauDimensionUrl}
                                </th>
                                <td style="padding-top:5px; font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#a5a9b1;padding-right:20px;text-align:right; line-height:2.5;">
                                    <span style="color:#464646; font-size: 13px; padding-left:5px; font-weight:bold;">${ocbDauBasicValue} ${ocbDauDimensionUnit}</span>
                                    <span style="font-size: 13px; font-family: '돋움', dotum, sans-serif; color:${ocbDauIncreaseColor}; font-weight:bold;">(${ocbDauIncreaseValue})</span>
                                </td>
                                <td style="padding-top:5px; font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#a5a9b1;padding-right:20px;text-align:right; line-height:2.5;">
                                    월평균
                                    <span style="color:#464646; font-size: 13px; padding-left:5px; font-weight:bold;">${ocbMauBasicValue} ${ocbMauDimensionUnit}</span>
                                    <span style="font-size: 13px; font-family: '돋움', dotum, sans-serif; color:${ocbMauIncreaseColor}; font-weight:bold;">(${ocbMauIncreaseValue})</span>
                                </td>
                            </tr>
                            <tr>
                                <th align="left" style="padding-left:20px; font-size: 13px; font-family: '돋움', dotum, sans-serif; color:#3c3c3c; font-weight:bold; line-height:2.5;">
                                    ${ocbTrDimension} ${ocbTrDimensionUrl}
                                </th>
                                <td style="font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#a5a9b1;padding-right:20px;text-align:right; line-height:2.5;">
                                    <span style="color:#464646; font-size: 13px; padding-left:5px; font-weight:bold;">${ocbTrBasicValue} ${ocbTrDimensionUnit}</span>
                                    <span style="font-size: 13px; font-family: '돋움', dotum, sans-serif; color:${ocbTrIncreaseColor}; font-weight:bold;">(${ocbTrIncreaseValue})</span>
                                </td>
                                <td style="font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#a5a9b1;padding-right:20px;text-align:right; line-height:2.5;">
                                    당월누적
                                    <span style="color:#464646; font-size: 13px; padding-left:5px; font-weight:bold;">${ocbMtrBasicValue} ${ocbMtrDimensionUnit}</span>
                                    <span style="font-size: 13px; font-family: '돋움', dotum, sans-serif; color:${ocbMtrIncreaseColor}; font-weight:bold;">(${ocbMtrIncreaseValue})</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <!-- //OCB -->
                #if ($ocbComment != "")
                <tr>
                    <td style="background:url(https://voyager.skplanet.com/resources/images/mail/kid/note.jpg) no-repeat #f2f4f7; padding-left:40px; height:75px; font-weight: normal; font-size: 13px; font-family: '돋움', dotum, sans-serif; color:#828692;">
                        <textarea style="font-size: 12px; font-family: '돋움', dotum, sans-serif; width:97.8%; height:53px; border:none; background: #f2f4f7; line-height:1.4; margin:10px; 0 10px;" readonly>${ocbComment}</textarea>
                    </td>
                </tr>
                #end
                <!-- Syrup -->
                <tr>
                    <td bgcolor="828692" style="border-top:4px solid #e5e9ec;">
                        <table border="0" cellspacing="0" cellpadding="0" width="600">
                            <tr>
                                <td id="syrup" width="490" height="38">
                                    <img src="https://voyager.skplanet.com/resources/images/mail/kid/title_syrup.jpg" style="vertical-align:top;">
                                </td>
                                <td align="left">
                                    <a href="https://voyager.skplanet.com/#/reports/syrup?categoryCode=summary&menuCode=report" target="_blank" title="새창열림"><img src="https://voyager.skplanet.com/resources/images/mail/kid/btn02.jpg" alt="실적 상세 보기" style="vertical-align: top;border:0;"/></a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table border="0" cellspacing="0" cellpadding="0" width="600" style="padding-bottom:5px;">
                            <thead>
                            <tr>
                                <th width="160" style="font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#848484; border-bottom:1px solid #e5e9ec; height:33px;padding-right:20px; padding-top:10px; text-align:right;">&nbsp;</th>
                                <th width="180" style="font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#848484; border-bottom:1px solid #e5e9ec; height:33px;padding-right:20px; padding-top:10px; text-align:right;">
                                    ${thisDate}(최근 30일 평균 대비)
                                </th>
                                <th width="220" style="font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#848484; border-bottom:1px solid #e5e9ec; height:33px;padding-right:20px; padding-top:10px; text-align:right;">
                                    ${thisPeriod}(최근 3개월 동일기간 대비)
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th align="left" style="padding-top:5px; padding-left:20px; font-size: 13px; font-family: '돋움', dotum, sans-serif; color:#3c3c3c; font-weight:bold; line-height:2.5;">
                                    ${syrupDauDimension} ${syrupDauDimensionUrl}
                                </th>
                                <td style="padding-top:5px; font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#a5a9b1;padding-right:20px;text-align:right; line-height:2.5;">
                                    <span style="color:#464646; font-size: 13px; padding-left:5px; font-weight:bold;">${syrupDauBasicValue} ${syrupDauDimensionUnit}</span>
                                    <span style="font-size: 13px; font-family: '돋움', dotum, sans-serif; color:${syrupDauIncreaseColor}; font-weight:bold;">(${syrupDauIncreaseValue})</span>
                                </td>
                                <td style="padding-top:5px; font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#a5a9b1;padding-right:20px;text-align:right; line-height:2.5;">
                                    월평균
                                    <span style="color:#464646; font-size: 13px; padding-left:5px; font-weight:bold;">${syrupMauBasicValue} ${syrupMauDimensionUnit}</span>
                                    <span style="font-size: 13px; font-family: '돋움', dotum, sans-serif; color:${syrupMauIncreaseColor}; font-weight:bold;">(${syrupMauIncreaseValue})</span>
                                </td>
                            </tr>
                            <tr>
                                <th align="left" style="padding-left:20px; font-size: 13px; font-family: '돋움', dotum, sans-serif; color:#3c3c3c; font-weight:bold; line-height:2.5;">
                                    ${syrupTrDimension} ${syrupTrDimensionUrl}
                                </th>
                                <td style="font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#a5a9b1;padding-right:20px;text-align:right; line-height:2.5;">
                                    <span style="color:#464646; font-size: 13px; padding-left:5px; font-weight:bold;">${syrupTrBasicValue} ${syrupTrDimensionUnit}</span>
                                    <span style="font-size: 13px; font-family: '돋움', dotum, sans-serif; color:${syrupTrIncreaseColor}; font-weight:bold;">(${syrupTrIncreaseValue})</span>
                                </td>
                                <td style="font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#a5a9b1;padding-right:20px;text-align:right; line-height:2.5;">
                                    당월누적
                                    <span style="color:#464646; font-size: 13px; padding-left:5px; font-weight:bold;">${syrupMtrBasicValue} ${syrupMtrDimensionUnit}</span>
                                    <span style="font-size: 13px; font-family: '돋움', dotum, sans-serif; color:${syrupMtrIncreaseColor}; font-weight:bold;">(${syrupMtrIncreaseValue})</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <!-- //Syrup -->
                #if ($syrupComment != "")
                <tr>
                    <td style="background:url(https://voyager.skplanet.com/resources/images/mail/kid/note.jpg) no-repeat #f2f4f7; padding-left:40px; height:75px; font-weight: normal; font-size: 13px; font-family: '돋움', dotum, sans-serif; color:#828692;">
                        <textarea style="font-size: 12px; font-family: '돋움', dotum, sans-serif; width:97.8%; height:53px; border:none; background: #f2f4f7; line-height:1.4; margin:10px; 0 10px;" readonly>${syrupComment}</textarea>
                    </td>
                </tr>
                #end
                <!-- 11번가 -->
                <tr>
                    <td bgcolor="828692" style="border-top:4px solid #e5e9ec;">
                        <table border="0" cellspacing="0" cellpadding="0" width="600">
                            <tr>
                                <td id="sk11" width="490" height="38">
                                    <img src="https://voyager.skplanet.com/resources/images/mail/kid/title_11st.jpg" style="vertical-align:top;">
                                </td>
                                <td align="left">
                                    <a href="https://voyager.skplanet.com/#/reports/sk11st?categoryCode=summary&menuCode=report" target="_blank" title="새창열림"><img src="https://voyager.skplanet.com/resources/images/mail/kid/btn02.jpg" alt="실적 상세 보기" style="vertical-align: top;border:0;"/></a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table border="0" cellspacing="0" cellpadding="0" width="600" style="padding-bottom:5px;">
                            <thead>
                            <tr>
                                <th width="160" style="font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#848484; border-bottom:1px solid #e5e9ec; height:33px;padding-top:10px; text-align:right;">&nbsp;</th>
                                <th width="180" style="font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#848484; border-bottom:1px solid #e5e9ec; height:33px;padding-right:20px; padding-top:10px; text-align:right;">
                                    ${thisDate}(최근 30일 평균 대비)
                                </th>
                                <th width="220" style="font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#848484; border-bottom:1px solid #e5e9ec; height:33px;padding-right:20px; padding-top:10px; text-align:right;">
                                    ${thisPeriod}(최근 3개월 동일기간 대비)
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td height="14"></td>
                            </tr>
                            <!--
                            <tr>
                                <th align="left" style="padding-bottom:0px; padding-left:20px; font-size: 13px; font-family: '돋움', dotum, sans-serif; color:#3c3c3c; font-weight:bold; height:15px;">
                                    ${sk11GmvDimension} ${sk11GmvDimensionUrl}
                                </th>
                                <td style="padding-bottom:0px; font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#a5a9b1;padding-right:20px;text-align:right;">
                                    <span style="color:#464646; font-size: 13px; padding-left:5px; font-weight:bold;">${sk11GmvBasicValue} ${sk11GmvDimensionUnit}</span>
                                    <span style="font-size: 13px; font-family: '돋움', dotum, sans-serif; color:${sk11GmvIncreaseColor}; font-weight:bold;">(${sk11GmvIncreaseValue})</span>
                                </td>
                                <td style="padding-bottom:0px; font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#a5a9b1;padding-right:20px;text-align:right;">
                                    당월누적
                                    <span style="color:#464646; font-size: 13px; padding-left:5px; font-weight:bold;">${sk11MgmvBasicValue} ${sk11MgmvDimensionUnit}</span>
                                    <span style="font-size: 13px; font-family: '돋움', dotum, sans-serif; color:${sk11MgmvIncreaseColor}; font-weight:bold;">(${sk11MgmvIncreaseValue})</span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3" style="font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#a5a9b1; padding-left:20px;" height="15">(B2B 직거래 금액 제외)</td>
                            </tr>
                            <tr>
                                <td height="5"></td>
                            </tr>
                            <tr>
                                <th align="left" style="padding-left:20px;  font-size: 13px; font-family: '돋움', dotum, sans-serif; color:#3c3c3c; font-weight:bold; height:15px;">
                                    ${sk11MobileGmvDimension} ${sk11MobileGmvDimensionUrl}
                                </th>
                                <td style="font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#a5a9b1;padding-right:20px;text-align:right;">
                                    <span style="color:#464646; font-size: 13px; padding-left:5px; font-weight:bold;">${sk11MobileGmvBasicValue} ${sk11MobileGmvDimensionUnit}</span>
                                    <span style="font-weight: normal; font-size: 13px; font-family: '돋움', dotum, sans-serif; color:${sk11MobileGmvIncreaseColor}; font-weight:bold;">(${sk11MobileGmvIncreaseValue})</span>
                                </td>
                                <td style="font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#a5a9b1;padding-right:20px;text-align:right;">
                                    당월누적
                                    <span style="color:#464646; font-size: 13px; padding-left:5px; font-weight:bold;">${sk11MobileMgmvBasicValue} ${sk11MobileMgmvDimensionUnit}</span>
                                    <span style="font-weight: normal; font-size: 13px; font-family: '돋움', dotum, sans-serif; color:${sk11MobileMgmvIncreaseColor}; font-weight:bold;">(${sk11MobileMgmvIncreaseValue})</span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3" style="font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#a5a9b1; padding-left:20px; height:14px;"></td>
                            </tr>
                            <tr>
                                <td height="5"></td>
                            </tr>
                            -->
                            <tr>
                                <th align="left" style="padding-left:20px; font-size: 13px; font-family: '돋움', dotum, sans-serif; color:#3c3c3c; font-weight:bold; height:15px;">
                                    ${sk11MobileLvDimension} ${sk11MobileLvDimensionUrl}
                                </th>
                                <td style="font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#a5a9b1;padding-right:20px;text-align:right;">
                                    <span style="color:#464646; font-size: 13px; padding-left:5px; font-weight:bold;">${sk11MobileLvBasicValue} ${sk11MobileLvDimensionUnit}</span>
                                    <span style="font-size: 13px; font-family: '돋움', dotum, sans-serif; color:${sk11MobileLvIncreaseColor}; font-weight:bold;">(${sk11MobileLvIncreaseValue})</span>
                                </td>
                                <td style="font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#a5a9b1;padding-right:20px;text-align:right;">
                                    당월누적
                                    <span style="color:#464646; font-size: 13px; padding-left:5px; font-weight:bold;">${sk11MobileMlvBasicValue} ${sk11MobileMlvDimensionUnit}</span>
                                    <span style="font-size: 13px; font-family: '돋움', dotum, sans-serif; color:${sk11MobileMlvIncreaseColor}; font-weight:bold;">(${sk11MobileMlvIncreaseValue})</span>
                                </td>
                            </tr>
                            <tr>
                                <td height="9"></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <!-- //11번가 -->
                #if ($sk11Comment != "")
                <tr>
                    <td style="background:url(https://voyager.skplanet.com/resources/images/mail/kid/note.jpg) no-repeat #f2f4f7; padding-left:40px; height:75px; font-weight: normal; font-size: 13px; font-family: '돋움', dotum, sans-serif; color:#828692;">
                        <textarea style="font-size: 12px; font-family: '돋움', dotum, sans-serif; width:97.8%; height:53px; border:none; background: #f2f4f7; line-height:1.4; margin:10px; 0 10px;" readonly>${sk11Comment}</textarea>
                    </td>
                </tr>
                #end
                <!-- T store -->
                <!--
                <tr>
                    <td bgcolor="828692" style="border-top:4px solid #e5e9ec;">
                        <table border="0" cellspacing="0" cellpadding="0" width="600">
                            <tr>
                                <td id="tstore" width="490" height="38">
                                    <img src="https://voyager.skplanet.com/resources/images/mail/kid/title_tstore.jpg" style="vertical-align:top;">
                                </td>
                                <td align="left">
                                    <a href="https://voyager.skplanet.com/#/reports/tstore?categoryCode=summary&menuCode=report" target="_blank" title="새창열림"><img src="https://voyager.skplanet.com/resources/images/mail/kid/btn02.jpg" alt="실적 상세 보기" style="vertical-align: top;border:0;"/></a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table border="0" cellspacing="0" cellpadding="0" width="600" style="padding-bottom:5px;">
                            <thead>
                            <tr>
                                <th width="160" style="font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#848484; border-bottom:1px solid #e5e9ec; height:33px;padding-right:20px; padding-top:10px; text-align:right;">&nbsp;</th>
                                <th width="180" style="font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#848484; border-bottom:1px solid #e5e9ec; height:33px;padding-right:20px; padding-top:10px; text-align:right;">
                                    ${thisDate}(최근 30일 평균 대비)
                                </th>
                                <th width="220" style="font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#848484; border-bottom:1px solid #e5e9ec; height:33px;padding-right:20px; padding-top:10px; text-align:right;">
                                    ${thisPeriod}(최근 3개월 동일기간 대비)
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th align="left" style="padding-top:5px; padding-left:20px; font-size: 13px; font-family: '돋움', dotum, sans-serif; color:#3c3c3c; font-weight:bold; line-height:2.5;">
                                    ${tstorePayUserDimension} ${tstorePayUserDimensionUrl}
                                </th>
                                <td style="padding-top:5px; font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#a5a9b1;padding-right:20px;text-align:right; line-height:2.5;">
                                    <span style="color:#464646; font-size: 13px; padding-left:5px; font-weight:bold;">${tstorePayUserBasicValue} ${tstorePayUserDimensionUnit}</span>
                                    <span style="font-size: 13px; font-family: '돋움', dotum, sans-serif; color:${tstorePayUserIncreaseColor}; font-weight:bold;">(${tstorePayUserIncreaseValue})</span>
                                </td>
                                <td style="padding-top:5px; font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#a5a9b1;padding-right:20px;text-align:right; line-height:2.5;">
                                    당월누적
                                    <span style="color:#464646; font-size: 13px; padding-left:5px; font-weight:bold;">${tstoreMpayUserBasicValue} ${tstoreMpayUserDimensionUnit}</span>
                                    <span style="font-size: 13px; font-family: '돋움', dotum, sans-serif; color:${tstoreMpayUserIncreaseColor}; font-weight:bold;">(${tstoreMpayUserIncreaseValue})</span>
                                </td>
                            </tr>
                            <tr>
                                <th align="left" style="padding-left:20px; font-size: 13px; font-family: '돋움', dotum, sans-serif; color:#3c3c3c; font-weight:bold; line-height:2.5;">
                                    ${tstoreTransactAmountDimension} ${tstoreTransactAmountDimensionUrl}
                                </th>
                                <td style="font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#a5a9b1;padding-right:20px;text-align:right; line-height:2.5;">
                                    <span style="color:#464646; font-size: 13px; padding-left:5px; font-weight:bold;">${tstoreTransactAmountBasicValue} ${tstoreTransactAmountDimensionUnit}</span>
                                    <span style="font-size: 13px; font-family: '돋움', dotum, sans-serif; color:${tstoreTransactAmountIncreaseColor}; font-weight:bold;">(${tstoreTransactAmountIncreaseValue})</span>
                                </td>
                                <td style="font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#a5a9b1;padding-right:20px;text-align:right; line-height:2.5;">
                                    당월누적
                                    <span style="color:#464646; font-size: 13px; padding-left:5px; font-weight:bold;">${tstoreMtransactAmountBasicValue} ${tstoreMtransactAmountDimensionUnit}</span>
                                    <span style="font-size: 13px; font-family: '돋움', dotum, sans-serif; color:${tstoreMtransactAmountIncreaseColor}; font-weight:bold;">(${tstoreMtransactAmountIncreaseValue})</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                -->
                <!-- //T store -->
                <!--
                #if ($tstoreComment != "")
                <tr>
                    <td style="background:url(https://voyager.skplanet.com/resources/images/mail/kid/note.jpg) no-repeat #f2f4f7; padding-left:40px; height:75px; font-weight: normal; font-size: 13px; font-family: '돋움', dotum, sans-serif; color:#828692;">
                        <textarea style="font-size: 12px; font-family: '돋움', dotum, sans-serif; width:97.8%; height:53px; border:none; background: #f2f4f7; line-height:1.4; margin:10px; 0 10px;" readonly>${tstoreComment}</textarea>
                    </td>
                </tr>
                #end
                -->
                <!-- T map -->
                <!--
                <tr>
                    <td bgcolor="828692" style="border-top:4px solid #e5e9ec;">
                        <table border="0" cellspacing="0" cellpadding="0" width="600">
                            <tr>
                                <td id="tmap" width="490" height="38">
                                    <img src="https://voyager.skplanet.com/resources/images/mail/kid/title_tmap.jpg" style="vertical-align:top;">
                                </td>
                                <td align="left">
                                    <a href="https://voyager.skplanet.com/#/reports/tmap?categoryCode=summary&menuCode=report" target="_blank" title="새창열림"><img src="https://voyager.skplanet.com/resources/images/mail/kid/btn02.jpg" alt="실적 상세 보기" style="vertical-align: top;border:0;"/></a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table border="0" cellspacing="0" cellpadding="0" width="600" style="padding-bottom:5px;">
                            <thead>
                            <tr>
                                <th width="160" style="font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#848484; border-bottom:1px solid #e5e9ec; height:33px; padding-top:10px; text-align:right;">&nbsp;</th>
                                <th width="180" style="font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#848484; border-bottom:1px solid #e5e9ec; height:33px;padding-right:20px; padding-top:10px; text-align:right;">
                                    ${thisDate}(최근 30일 평균 대비)
                                </th>
                                <th width="220" style="font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#848484; border-bottom:1px solid #e5e9ec; height:33px;padding-right:20px; padding-top:10px; text-align:right;">
                                    ${thisPeriod}(최근 3개월 동일기간 대비)
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th align="left" style="padding-top:5px; padding-bottom:0px; padding-left:20px; font-size: 13px; font-family: '돋움', dotum, sans-serif; color:#3c3c3c; font-weight:bold; line-height: 2.5; padding-bottom:5px;">
                                    DAU / MAU ${tmapDauDimensionUrl}
                                </th>
                                <td style="padding-top:5px; padding-bottom:0px; font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#a5a9b1;padding-right:20px;text-align:right; line-height: 2.5; padding-bottom:5px;">
                                    <span style="color:#464646; font-size: 13px; padding-left:5px; font-weight:bold;">${tmapDauBasicValue} ${tmapDauDimensionUnit}</span>
                                    <span style="font-size: 13px; font-family: '돋움', dotum, sans-serif; color:${tmapDauIncreaseColor}; font-weight:bold;">(${tmapDauIncreaseValue})</span>
                                </td>
                                <td style="padding-top:5px; padding-bottom:0px; font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#a5a9b1;padding-right:20px;text-align:right; line-height: 2.5; padding-bottom:5px;">
                                    당월누적
                                    <span style="color:#464646; font-size: 13px; padding-left:5px; font-weight:bold;">${tmapMauBasicValue} ${tmapMauDimensionUnit}</span>
                                    <span style="font-size: 13px; font-family: '돋움', dotum, sans-serif; color:${tmapMauIncreaseColor}; font-weight:bold;">(${tmapMauIncreaseValue})</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                -->
                <!-- //T map -->
                <!--
                #if ($tmapComment != "")
                <tr>
                    <td style="background:url(https://voyager.skplanet.com/resources/images/mail/kid/note.jpg) no-repeat #f2f4f7; padding-left:40px; height:75px; font-weight: normal; font-size: 13px; font-family: '돋움', dotum, sans-serif; color:#828692;">
                        <textarea style="font-size: 12px; font-family: '돋움', dotum, sans-serif; width:97.8%; height:53px; border:none; background: #f2f4f7; line-height:1.4; margin:10px; 0 10px;" readonly>${tmapComment}</textarea>
                    </td>
                </tr>
                #end
                -->
                <!-- T cloud -->
                <!--
                <tr>
                    <td bgcolor="828692" style="border-top:4px solid #e5e9ec;">
                        <table border="0" cellspacing="0" cellpadding="0" width="600">
                            <tr>
                                <td id="tcloud" width="490" height="38">
                                    <img src="https://voyager.skplanet.com/resources/images/mail/kid/title_tcloud.jpg" style="vertical-align:top;">
                                </td>
                                <td align="left">
                                    <a href="https://voyager.skplanet.com/#/reports/tcloud?categoryCode=summary&menuCode=report" target="_blank" title="새창열림"><img src="https://voyager.skplanet.com/resources/images/mail/kid/btn02.jpg" alt="실적 상세 보기" style="vertical-align: top;border:0;"/></a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table border="0" cellspacing="0" cellpadding="0" width="600" style="padding-bottom:5px;">
                            <thead>
                            <tr>
                                <th width="160" style="font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#848484; border-bottom:1px solid #e5e9ec; height:33px;padding-right:20px; padding-top:10px; text-align:right;">&nbsp;</th>
                                <th width="180" style="font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#848484; border-bottom:1px solid #e5e9ec; height:33px;padding-right:20px; padding-top:10px; text-align:right;">
                                    ${thisDate}(최근 30일 평균 대비)
                                </th>
                                <th width="220" style="font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#848484; border-bottom:1px solid #e5e9ec; height:33px;padding-right:20px; padding-top:10px; text-align:right;">
                                    ${thisPeriod}(최근 3개월 동일기간 대비)
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th align="left" style="padding-top:5px; padding-left:20px; font-size: 13px; font-family: '돋움', dotum, sans-serif; color:#3c3c3c; font-weight:bold; line-height:2.5;">
                                    ${tcloudUvDimension} ${tcloudUvDimensionUrl}
                                </th>
                                <td style="padding-top:5px; font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#a5a9b1;padding-right:20px;text-align:right; line-height:2.5;">
                                    <span style="color:#464646; font-size: 13px; padding-left:5px; font-weight:bold;">${tcloudUvBasicValue} ${tcloudUvDimensionUnit}</span>
                                    <span style="font-size: 13px; font-family: '돋움', dotum, sans-serif; color:${tcloudUvIncreaseColor}; font-weight:bold;">(${tcloudUvIncreaseValue})</span>
                                </td>
                                <td style="padding-top:5px; font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#a5a9b1;padding-right:20px;text-align:right; line-height:2.5;">
                                    당월누적
                                    <span style="color:#464646; font-size: 13px; padding-left:5px; font-weight:bold;">${tcloudMuvBasicValue} ${tcloudMuvDimensionUnit}</span>
                                    <span style="font-size: 13px; font-family: '돋움', dotum, sans-serif; color:${tcloudMuvIncreaseColor}; font-weight:bold;">(${tcloudMuvIncreaseValue})</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                -->
                <!-- //T cloud -->
                <!--
                #if ($tcloudComment != "")
                <tr>
                    <td style="background:url(https://voyager.skplanet.com/resources/images/mail/kid/note.jpg) no-repeat #f2f4f7; padding-left:40px; height:75px; font-weight: normal; font-size: 13px; font-family: '돋움', dotum, sans-serif; color:#828692;">
                        <textarea style="font-size: 12px; font-family: '돋움', dotum, sans-serif; width:97.8%; height:53px; border:none; background: #f2f4f7; line-height:1.4; margin:10px; 0 10px;" readonly>${tcloudComment}</textarea>
                    </td>
                </tr>
                #end
                -->
                <!-- hoppin -->
                <!--
                <tr>
                    <td bgcolor="828692" style="border-top:4px solid #e5e9ec;">
                        <table border="0" cellspacing="0" cellpadding="0" width="600">
                            <tr>
                                <td id="hoppin" width="490" height="38">
                                    <img src="https://voyager.skplanet.com/resources/images/mail/kid/title_hoppin.jpg" style="vertical-align:top;">
                                </td>
                                <td align="left">
                                    <a href="https://voyager.skplanet.com/#/reports/hoppin?categoryCode=summary&menuCode=report" target="_blank" title="새창열림"><img src="https://voyager.skplanet.com/resources/images/mail/kid/btn02.jpg" alt="실적 상세 보기" style="vertical-align: top;border:0;"/></a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table border="0" cellspacing="0" cellpadding="0" width="600" style="padding-bottom:5px;">
                            <thead>
                            <tr>
                                <th width="160" style="font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#848484; border-bottom:1px solid #e5e9ec; height:33px;padding-right:20px; padding-top:10px; text-align:right;">&nbsp;</th>
                                <th width="180" style="font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#848484; border-bottom:1px solid #e5e9ec; height:33px;padding-right:20px; padding-top:10px; text-align:right;">
                                    ${thisDate}(최근 30일 평균 대비)
                                </th>
                                <th width="220" style="font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#848484; border-bottom:1px solid #e5e9ec; height:33px;padding-right:20px; padding-top:10px; text-align:right;">
                                    ${thisPeriod}(최근 3개월 동일기간 대비)
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th align="left" style="padding-top:5px; padding-left:20px; font-size: 13px; font-family: '돋움', dotum, sans-serif; color:#3c3c3c; font-weight:bold; line-height:2.5;">
                                    ${hoppinContentsUserDimension} ${hoppinContentsUserDimensionUrl}
                                </th>
                                <td style="padding-top:5px; font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#a5a9b1;padding-right:20px;text-align:right; line-height:2.5;">
                                    <span style="color:#464646; font-size: 13px; padding-left:5px; font-weight:bold;">${hoppinContentsUserBasicValue} ${hoppinContentsUserDimensionUnit}</span>
                                    <span style="font-size: 13px; font-family: '돋움', dotum, sans-serif; color:${hoppinContentsUserIncreaseColor}; font-weight:bold;">(${hoppinContentsUserIncreaseValue})</span>
                                </td>
                                <td style="padding-top:5px; font-weight: normal; font-size: 11px; font-family: '돋움', dotum, sans-serif; color:#a5a9b1;padding-right:20px;text-align:right; line-height:2.5;">
                                    당월누적
                                    <span style="color:#464646; font-size: 13px; padding-left:5px; font-weight:bold;">${hoppinMcontentsUserBasicValue} ${hoppinMcontentsUserDimensionUnit}</span>
                                    <span style="font-size: 13px; font-family: '돋움', dotum, sans-serif; color:${hoppinMcontentsUserIncreaseColor}; font-weight:bold;">(${hoppinMcontentsUserIncreaseValue})</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                -->
                <!-- //hoppin -->
                <!--
                #if ($hoppinComment != "")
                <tr>
                    <td style="background:url(https://voyager.skplanet.com/resources/images/mail/kid/note.jpg) no-repeat #f2f4f7; padding-left:40px; height:75px; font-weight: normal; font-size: 13px; font-family: '돋움', dotum, sans-serif; color:#828692;">
                        <textarea style="font-size: 12px; font-family: '돋움', dotum, sans-serif; width:97.8%; height:53px; border:none; background: #f2f4f7; line-height:1.4; margin:10px; 0 10px;" readonly>${hoppinComment}</textarea>
                    </td>
                </tr>
                #end
                -->
                <!-- introductory description -->
                <tr>
                    <td>
                        <img src="https://voyager.skplanet.com/resources/images/mail/kid/introductory.jpg" alt="" />

                    </td>
                </tr>
                <!-- //introductory description -->
                <tr>
                    <td height="10"></td>
                </tr>

                <!-- //content detail -->
            </table>
        </td>
    </tr>
    <!-- footer -->
    <tr>
        <td bgcolor="242831">
            <table border="0" cellspacing="0" cellpadding="0" width="620">
                <tr>
                    <td><img src="https://voyager.skplanet.com/resources/images/mail/kid/footer01.jpg" alt="" /></td>
                    <td style="font-weight: normal; font-size: 10px; font-family: '돋움', dotum, sans-serif; color:#aaaaaa; ">
                        <img src="https://voyager.skplanet.com/resources/images/mail/kid/copyright.jpg">
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <!-- // footer -->
    <!-- //content -->
</table>
</body>
</html>
