<!-- sidebar start -->
<nav>
    <div id="sidebar" class="nav-collapse">
        <div class="leftside-navigation dashboard-lnb">
            <div class="slide_btn" ng-click="slide();">
                <span>
                    <i class="fa fa-angle-left fa-35"></i>
                </span>
            </div>
            <div class="board-set">
                <h1>관리 페이지</h1>
                <!--<button id="user_set" type="button" class="btn btn-white" data-ng-click="changeModifyMode()"><i class="fa fa-gear"></i></button>-->
            </div>
            <ul class="sidebar-menu" id="nav-accordion">
                <li class="sub-menu bm-dashboard" data-ng-repeat="category in adminMenuItems.categories" repeat-done="doneRepeatSidebar()" data-ng-click="selectCategory(category)" ng-show="checkVisible(category)">
                    <a href="javascript:;" ng-class="{active: categoryCode == category.code}" id="category-menu-{{category.code}}">
                        {{category.name}}
                    </a>
                    <ul class="sub" data-ng-if="category.summaryReportYn != 'Y'">
                        <li ng-class="{active: menuCode == menu.code}" data-ng-repeat="menu in category.menus" ng-show="checkVisible(menu)">
                            <a href data-ng-click="selectAdminMenu(category.code, menu.code)" title="{{menu.name}}">{{menu.name}}</a>
                        </li>
                    </ul>
                    <div class="dimmed"></div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- sidebar end -->
<section class="container-wrap" ng-init="init()" resize>
    <section id="container" class="container">
        <!-- content start -->
        <section id="main-content">
            <article class="wrapper">
                <div class="row content-wrap commponent-wrap">
                    <div ng-include="templateUrl"></div>
                </div>
            </article>
        </section>
        <!-- content end -->
    </section>
</section>
