<!-- sidebar start -->
<nav>
    <div id="sidebar" class="nav-collapse">
        <div class="leftside-navigation">
            <div class="slide_btn" ng-click="slide();">
                <span>
                    <i class="fa fa-angle-left fa-35"></i>
                </span>
            </div>
            <h1 class="tit">Help Desk</h1>
            <ul class="sidebar-menu" id="nav-accordion">
                <li class="sub-menu bm-dashboard" data-ng-repeat="category in helpdeskMenuItems.categories" repeat-done="doneRepeatSidebar()" data-ng-click="selectCategory(category)" ng-show="checkVisible(category)">
                    <a href="javascript:;" ng-class="{active: categoryCode == category.code}" id="category-menu-{{category.code}}">
                        {{category.name}}
                    </a>
                    <ul class="sub" data-ng-if="category.summaryReportYn != 'Y'">
                        <li ng-cloak ng-class="{active: menuCode == menu.code}" data-ng-repeat="menu in category.menus">
                            <a href data-ng-click="selectHelpDeskMenu(category.code, menu.code)" title="{{menu.name}}">{{menu.name}}</a>
                        </li>
                    </ul>
                    <div class="dimmed"></div>
                </li>
            </ul>
            <div class="dimmed"></div>

            <!-- bookmark area start -->
            <!--<favorite-bar />-->
            <!-- bookmark area end -->
        </div>
    </div>
</nav>
<!-- sidebar end -->
<section class="container-wrap" ng-init="init()" resize>
    <section id="container" class="container">
        <!-- content start -->
        <div ng-include="loadHelpDeskUrl"></div>
        <!-- content end -->

    </section>
</section>

<script type="text/javascript" src="resources/app/common/services/helpdesk-factory.js"></script>
<script type="text/javascript" src="resources/app/common/directives/helpdesk-directive.js"></script>
