<!-- sidebar start -->
<nav>
    <div id="sidebar" class="nav-collapse">
        <div class="leftside-navigation">
            <div class="slide_btn" ng-click="slide();">
                <span>
                    <i class="fa fa-angle-left fa-35"></i>
                </span>
            </div>
            <h1>
                <span data-ng-hide="menuContext.service.imageUrl" class="mar-t110 mar-l10" style="width:185px; height: 67px">
                   {{menuContext.service.name}}
                </span>
                <span data-ng-hide="!menuContext.service.imageUrl">
                      <img ng-src="{{menuContext.service.imageUrl}}" alt="{{menuContext.service.name}}" />
                </span>
            </h1>
            <ul class="sidebar-menu" id="nav-accordion">
                <li class="sub-menu" ng-cloak data-ng-repeat="category in menuContext.service.categories" repeat-done="doneRepeatSidebar()" data-ng-click="selectCategory(category)" ng-show="checkVisible(category)">
                    <a href ng-class="{active: menuContext.category.code == category.code}" id="category-menu-{{category.code}}">
                        {{category.name}}
                    </a>
                    <ul class="sub" data-ng-if="category.summaryReportYn != 'Y'">
                        <li ng-cloak data-ng-repeat="menu in category.menus" ng-show="checkVisible(menu)"
                            ng-class="{active: menuContext.category.code == category.code && menuContext.menu.code == menu.code}">
                            <a href data-ng-click="selectMenu(category, menu)" title="{{menu.name}}">{{menu.name}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- favorite start -->
        <favorite-bar />
        <!-- favorite end -->
    </div>
</nav>
<!-- sidebar end -->
<section class="container-wrap">
    <section id="container" class="container">
        <!-- main content start -->
        <section id="main-content">
            <article class="wrapper" ng-show="reportTabs.length">
                <div class="page-tab">
                    <ul class="obj-clear">
                        <li ng-cloak ng-repeat="item in reportTabs" data-ng-click="showReportTab(item)"
                            ng-class="{active: menuContext.service.code == item.service.code && menuContext.category.code == item.category.code && menuContext.menu.code == item.menu.code}">
                            <div class="tab-list">
                                <a class="tab-name" href="javascript:void(0);">{{item.menu.name || item.category.name}}</a>
                                <button data-ng-click="removeReportTab(item)"><span class="fa fa-times"></span></button>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="row content-wrap">
                    <div class="col-md-12">
                        <div ng-cloak ng-repeat="item in reportTabs">
                            <div ng-include="item.templateUrl"
                                 ng-show="menuContext.service.code == item.service.code && menuContext.category.code == item.category.code && menuContext.menu.code == item.menu.code"></div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
        <!-- main content end -->
	</section>
</section>
