<section class="main-container" resize ng-controller="mainIndexCtrl" data-ng-init="init()">
	<section class="container">
		<div class="main-banner">
            <ul rn-carousel rn-carousel-indicator rn-carousel-auto-slide="3" rn-carousel-control="true"
                rn-carousel-pause-on-hover="true" class="my-slider standard">
                <li>
                    <img src="resources/images/main/carousel01.jpg" class="img-responsive" >
                </li>
                <li>
                    <img src="resources/images/main/carousel02.jpg" class="img-responsive" >
                </li>
                <li>
                    <img src="resources/images/main/carousel03.jpg" class="img-responsive" >
                </li>
                <li>
                    <img src="resources/images/main/carousel04.jpg" class="img-responsive" >
                </li>
                <li>
                    <img src="resources/images/main/carousel05.jpg" class="img-responsive" >
                </li>
                <li>
                    <img src="resources/images/main/carousel06.jpg" class="img-responsive" >
                </li>
                <!--<li style="text-align: center;">-->
                    <!--<iframe width="100%" height="334px" src="//www.youtube.com/embed/Xgz0_iiiRYA" frameborder="0" allowfullscreen></iframe>-->
                <!--</li>-->
            </ul>
            <!--<img src="resources/images/main/main_banner_lg.jpg">-->
        </div>
		<article class="row main-article">
			<div class="login-area obj-clear">
				<div class="login-con user-login" ng-show="user">
					<p><strong>{{user.fullname}}</strong> 님이 로그인 되었습니다.</p>
				</div>
				<section class="column user-number-area">
					<h1 class="banner-title">Voyager 업무요청</h1>
					<div class="description">
						JIRA 서비스데스크를 통해 아래와 같은 Voyager 업무요청을 할 수 있습니다.
						<li>Voyager 권한 발급 요청</li>
						<li>Voyager 데이터 관련 문의</li>
						<li>Voyager 리포트 신규/수정 개발 요청</li>
					</div>
					<div class="page-link">
						<span>업무요청 바로가기
							<a href="http://jira.skplanet.com/secure/Dashboard.jspa?selectPageId=12005" target="_blank">
								<img src="resources/images/btn/btn_page_link.png"/>
							</a>
						</span>
					</div>
				</section>
			</div>
			<div class="main-ad-column02 obj-clear">
				<section class="notice-area">
					<div class="notice">
						<div class="content">
							<h1 class="banner-title">공지사항</h1>
							<h2 class="banner-title">{{mainNotice.title}}</h2>
							<div class="description">
								<!--<p>{{mainNotice.context | characters:123 : true}}</p>-->
								<p class="mainNoticeContext" ng-bind-html="mainNotice.context"></p>
							</div>
							<div class="page-link">
								<!--<span>모든 공지사항 보기</span>-->
								<!--<a href="#/helpdesk/notice/notice">-->
									<!--<img src="resources/images/btn/btn_page_link_g.png" alt="공지사항 페이지 이동" />-->
								<!--</a>-->
								<span>공지사항 상세보기</span>
								<a href="" ng-click="goDetailNotice()">
									<img src="resources/images/btn/btn_page_link_g.png" alt="공지사항 상세보기"/>
								</a>
							</div>
						</div>
					</div>
				</section>
				<section class="column qna-area">
					<h1 class="banner-title">Q&amp;A</h1>
					<h2 class="banner-title">Voyager 접속 아이디와 비밀번호는?</h2>
					<div class="description">
						<p>P net 접속 아이디/비밀번호와 동일합니다.</p>
					</div>
					<div class="page-link">
						<span>담당자 : Data Analysis Service그룹 이욱환 매니저</span>
					</div>
				</section>
				<section class="column column-section indicator-area">
					<h1 class="banner-title">데이터활용가이드</h1>
					<div class="description">
                        <p>Data에 대한 경험이 없는 구성원이 자신에게 필요한 정보를 직관적이고도  쉽게 접근할 수 있도록 하는 가이드입니다.</p><br/>
					</div>
					<div class="page-link">
						데이터활용가이드 보기
						<a href="http://wiki.skplanet.co.kr/pages/viewpage.action?pageId=58056382" target="_blank">
							<img src="resources/images/btn/btn_page_link.png"/>
						</a>
					</div>
				</section>
			</div>
			<section class="main-ad-column01 column-section service-page-view" style="padding-top:33px;">
					<h1 class="banner-title">Dataset Sharing</h1>
					<h2 class="banner-title">{{mainDss.subject}}</h2>
					<div class="description">
						<p>{{mainDss.content | characters:350 : true}}</p>
					</div>
					<div class="page-link">
						<span>상세 보고서 보기</span>
						<a ng-href="#/dss/detail/{{mainDss.id}}">
							<img src="resources/images/btn/btn_page_link.png"/>
						</a>
					</div>
			</section>
		</article>
	</section>
</section>

<script type="text/javascript" src="resources/app/common/controllers/main-index.js"></script>
<!--<script type="text/javascript" src="resources/app/common/services/"></script>-->
<!--<script type="text/javascript" src="resources/app/common/directives/"></script>-->
