<section data-ng-controller="templateCtrl02" data-ng-init="init02()">
    <ul>
        <li class="part1 user">
            <div class="bg_chart"></div><!--추이배경-->
            <article>
                <span class="ico"></span>
                <h2>월 누적 유료 이용자수</h2>
                <div class="num"></div><!--숫자-->
                <dl class="down"><!--class="up"-->
                    <dt>지난 3개월 동일기간 대비 <span>- 4.89%</span></dt>
                    <dd><span></span><font>10,850</font>명</dd>
                </dl>
            </article>
        </li>
    </ul>
</section>
<script type="text/javascript" src="resources/kid/controller/templateCtrl02.js"></script>