<div ng-controller="smwMbrJoinCtrl" data-ng-init="init()" ng-style="style()" resize>
    <syrup-report-search-box search-callback="search" search-config="searchConfig" menu-context="menuContext"></syrup-report-search-box>

    <div class="non-sub-title obj-section">
        <report-sub-nav excelConfig="excelConfig"></report-sub-nav>
    </div>

    <div class="data-area" ng-style="dataAreaStyle()" resize>
        <fixed-header id="smwMbrJoinForGrid_h"></fixed-header>
        <div id="smwMbrJoinForGrid" class="pivot-board01" report-indicator="pageState"></div>
    </div>
</div>
<link href="resources/pivot/pivot.css" media="screen" rel="stylesheet" type="text/css">
<script type="text/javascript" src="resources/pivot/pivot.js"></script>
<script type="text/javascript" src="resources/app/syrup/dashboard/smwMbrJoinCtrl.js"></script>
