<html>
<head>
<meta charset="utf-8">
</head>
<body>
	<p>
	${menuname} 데이터(${filename})의 PTS 전송이 완료 되었습니다.<br>
	PTS시스템(pts.skplanet.com)에서 확인할 수 있습니다.<br><br>
	*회원ID의 경우 1000만건, TR의 경우 100만건 추출 제한이 있습니다.<br>
	*기타사항은 SK플래닛 노수갑M, 신중섭M 에게 문의해 주세요.
	</p>
</body>
</html>