<div ng-controller="platformCtrl" ng-init="init()">
    <!-- searchBox start -->
    <dashboard-oc-search-box search-callback="search" menu-context="menuContext" search-config="searchConfig"></dashboard-oc-search-box>
    <!-- searchBox end -->
    <div class="data-widget obj-section" resize>
        <ul class="widget-list obj-clear">
             <li class="graph" ng-repeat="dashboardItem in dashboardList">
                <div class="list-header">
                    <h2><strong>{{dashboardItem.bm}}</strong> | {{dashboardItem.keyIndex}}</h2>

                    <div class="inquiry-period black">
                        {{formatedStartDate}}~{{formatedEndDate}} ({{searchDateType}}일)
                    </div>
                    <div class="info-hover">
                        <button data-ng-click="openInfoDialog('sparkline_oc')">
                            <img src="resources/images/ico/ico_info.png" alt="위젯 정보"/>
                        </button>
                    </div>
                    <div class="info-line black">
                        <span class="currentOC">----</span> : 금년실적
                        <div data-ng-if="dashboardItem.oldDataSet">
                            <span class="past">----</span> : 전년실적
                        </div>
                        <div data-ng-if="dashboardItem.average7DayDataSet">
                            <span class="avg7">----</span> : 7일이동평균
                        </div>
                        <div data-ng-if="dashboardItem.average30DayDataSet">
                            <span class="avg30">----</span> : 30일이동평균
                        </div>
                    </div>
                </div>
                <div class="summary">
                    <h3>{{dashboardItem.keyIndex}}</h3>
                    <strong class="total"> {{dashboardItem.currentData}} </strong>
                    <p class="result">
                        <span id="{{dashboardItem.id}}CurDate"></span>
                    </p>
                </div>
                <button class="closed"><img src="resources/images/ico/close01.png" alt="위젯 닫기"/></button>
                <div id="{{dashboardItem.id}}" class="sparkline">
                </div>
            </li>
        </ul>
        <div data-ng-if="dashboardList == null" ng-style="dataAreaStyleNoTab(50)" resize>
            <br/><br/><h2>{{dashboardListMsg}}</h2>
        </div>
    </div>
</div>
<script type="text/javascript" src="resources/app/dashboard/oc/platformCtrl.js"></script>
