<div cg-busy="$ctrl.okPromise">
	<div class="modal-header">
		<button type="button" class="close" aria-label="Close" ng-click="$ctrl.dismiss()"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title">DI 타겟 등록</h4>
	</div>
	<div class="modal-body">
		<form class="form-horizontal" name="form">
			<div class="panel panel-info">
				<div class="panel-heading">회원프로파일</div>
				<div class="panel-body">
					<div class="form-group">
						<label class="col-sm-4 control-label">성별</label>
						<div class="col-sm-8">
							<div class="radio">
								<label><input type="radio" ng-model="$ctrl.options.gndrFgCd" value="1">남</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.gndrFgCd" value="2">여</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">연령 (만 나이 기준)</label>
						<div class="col-sm-8">
							<div class="radio">
								<label><input type="radio" ng-model="$ctrl.options.age" value="15-19">15-19</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.age" value="20-24">20-24</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.age" value="25-29">25-29</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.age" value="30-34">30-34</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.age" value="35-39">35-39</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.age" value="40-44">40-44</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.age" value="45-49">45-49</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.age" value="50-54">50-54</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.age" value="55-59">55-59</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.age" value="60-999">60세이상</label>&nbsp;&nbsp;&nbsp;
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">거주 지역</label>
						<div class="col-sm-4">
							<select class="form-control" ng-options="region.dtlCd as region.dtlCdNm for region in $ctrl.regions" ng-model="$ctrl.options.homeHjdLgrpCd"
								ng-change="$ctrl.selectRegion('home')"></select>
						</div>
						<div class="col-sm-4">
							<select class="form-control" ng-options="hjdMgrpCd.dtlCd as hjdMgrpCd.dtlCdNm for hjdMgrpCd in $ctrl.homeHjdMgrpCdList" ng-model="$ctrl.options.homeHjdMgrpCd"></select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">직장 지역</label>
						<div class="col-sm-4">
							<select class="form-control" ng-options="region.dtlCd as region.dtlCdNm for region in $ctrl.regions" ng-model="$ctrl.options.jobpHjdLgrpCd"
								ng-change="$ctrl.selectRegion('jobp')"></select>
						</div>
						<div class="col-sm-4">
							<select class="form-control" ng-options="hjdMgrpCd.dtlCd as hjdMgrpCd.dtlCdNm for hjdMgrpCd in $ctrl.jobpHjdMgrpCdList" ng-model="$ctrl.options.jobpHjdMgrpCd"></select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">기미혼여부</label>
						<div class="col-sm-8">
							<div class="radio">
								<label><input type="radio" ng-model="$ctrl.options.mrrgYn" value="1">기혼</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.mrrgYn" value="2">미혼</label>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="panel panel-info">
				<div class="panel-heading">동의여부</div>
				<div class="panel-body">
					<div class="form-group">
						<label class="col-sm-4 control-label">이메일 수신 동의 여부</label>
						<div class="col-sm-8">
							<div class="radio">
								<label><input type="radio" ng-model="$ctrl.options.emailRcvAgrmtYn" value="1">동의</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.emailRcvAgrmtYn" value="2">미동의</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">광고성 SMS 수신 동의 여부</label>
						<div class="col-sm-8">
							<div class="radio">
								<label><input type="radio" ng-model="$ctrl.options.advtSmsRcvAgrmtYn" value="1">동의</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.advtSmsRcvAgrmtYn" value="2">미동의</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">정보성 SMS 수신 동의 여부</label>
						<div class="col-sm-8">
							<div class="radio">
								<label><input type="radio" ng-model="$ctrl.options.ifrmtSmsRcvAgrmtYn" value="1">동의</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.ifrmtSmsRcvAgrmtYn" value="2">미동의</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">OCB 앱 푸시 알림 동의 여부</label>
						<div class="col-sm-8">
							<div class="radio">
								<label><input type="radio" ng-model="$ctrl.options.pushRcvAgrmtYn" value="1">동의</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.pushRcvAgrmtYn" value="2">미동의</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">혜택/모바일전단 푸시 동의 여부</label>
						<div class="col-sm-8">
							<div class="radio">
								<label><input type="radio" ng-model="$ctrl.options.bnftMlfPushAgrmtYn" value="1">동의</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.bnftMlfPushAgrmtYn" value="2">미동의</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">포인트 사용/적립 푸시 동의 여부</label>
						<div class="col-sm-8">
							<div class="radio">
								<label><input type="radio" ng-model="$ctrl.options.pntUseRsvngPushAgrmtYn" value="1">동의</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.pntUseRsvngPushAgrmtYn" value="2">미동의</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">친구와 함께쓰기 푸시 동의 여부</label>
						<div class="col-sm-8">
							<div class="radio">
								<label><input type="radio" ng-model="$ctrl.options.tusePushAgrmtYn" value="1">동의</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.tusePushAgrmtYn" value="2">미동의</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">동전 알림 푸시 동의 여부</label>
						<div class="col-sm-8">
							<div class="radio">
								<label><input type="radio" ng-model="$ctrl.options.coinNotiPushAgrmtYn" value="1">동의</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.coinNotiPushAgrmtYn" value="2">미동의</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">위치정보활용 동의 여부</label>
						<div class="col-sm-8">
							<div class="radio">
								<label><input type="radio" ng-model="$ctrl.options.locUtlzAgrmtYn" value="1">동의</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.locUtlzAgrmtYn" value="2">미동의</label>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="panel panel-info">
				<div class="panel-heading">모바일전단 모수</div>
				<div class="panel-body">
					<div class="form-group">
						<label class="col-sm-4 control-label">매장전단발송가능여부</label>
						<div class="col-sm-8">
							<div class="radio">
								<label><input type="radio" ng-model="$ctrl.options.mlfShpAgrmtYn" value="1">동의</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.mlfShpAgrmtYn" value="2">미동의</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">상권전단발송가능여부</label>
						<div class="col-sm-8">
							<div class="radio">
								<label><input type="radio" ng-model="$ctrl.options.mlfTrdareaAgrmtYn" value="1">동의</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.mlfTrdareaAgrmtYn" value="2">미동의</label>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="panel panel-info">
				<div class="panel-heading">가입 서비스</div>
				<div class="panel-body">
					<div class="form-group">
						<label class="col-sm-4 control-label">OCB닷컴 가입 여부</label>
						<div class="col-sm-8">
							<div class="radio">
								<label><input type="radio" ng-model="$ctrl.options.ocbcomJoinYn" value="1">가입</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.ocbcomJoinYn" value="2">미가입</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.ocbcomJoinYn" value="U">장기휴면</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">OCB App 가입 여부</label>
						<div class="col-sm-8">
							<div class="radio">
								<label><input type="radio" ng-model="$ctrl.options.ocbAppJoinYn" value="1">가입</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.ocbAppJoinYn" value="2">미가입</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.ocbAppJoinYn" value="U">장기휴면</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">OCB Plus 가입 여부</label>
						<div class="col-sm-8">
							<div class="radio">
								<label><input type="radio" ng-model="$ctrl.options.ocbPlusJoinYn" value="1">가입</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.ocbPlusJoinYn" value="2">미가입</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.ocbPlusJoinYn" value="U">장기휴면</label>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="panel panel-info">
				<div class="panel-heading">회원 등급</div>
				<div class="panel-body">
					<div class="form-group">
						<label class="col-sm-4 control-label">6.2.9 등급</label>
						<div class="col-sm-8">
							<div class="radio">
								<label><input type="radio" ng-model="$ctrl.options.seg629Cd" value="4N">신규</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.seg629Cd" value="1A">캐쉬백우수</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.seg629Cd" value="1B">캐쉬백단골</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.seg629Cd" value="2A">제휴사고정</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.seg629Cd" value="2B">제휴사단골</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.seg629Cd" value="3G">일반</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.seg629Cd" value="5D">휴면</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.seg629Cd" value="6D">이탈</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.seg629Cd" value="X">잠재</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">New Seq 등급</label>
						<div class="col-sm-8">
							<div class="radio">
								<label><input type="radio" ng-model="$ctrl.options.trfcSegCd" value="01">신규 인지</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.trfcSegCd" value="02">신규 미인지</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.trfcSegCd" value="03">신규 Never Use</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.trfcSegCd" value="04">우수</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.trfcSegCd" value="05">High P/F</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.trfcSegCd" value="06">High TR</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.trfcSegCd" value="07">일반</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.trfcSegCd" value="08">기존 유실적 미인지</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.trfcSegCd" value="09">기존 휴면</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.trfcSegCd" value="10">기존 이탈</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.trfcSegCd" value="11">기존 Never Use</label>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="panel panel-info">
				<div class="panel-heading">앱/웹 이용 실적</div>
				<div class="panel-body">
					<div class="form-group">
						<label class="col-sm-4 control-label">기간별 OCB닷컴 로그인 실적</label>
						<div class="col-sm-8">
							<div class="radio">
								<label><input type="radio" ng-model="$ctrl.options.ocbcomMth07FnlLgnDt" ng-value="$ctrl.months[1]">1개월내</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.ocbcomMth07FnlLgnDt" ng-value="$ctrl.months[2]">2개월내</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.ocbcomMth07FnlLgnDt" ng-value="$ctrl.months[3]">3개월내</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.ocbcomMth07FnlLgnDt" ng-value="$ctrl.months[4]">4개월내</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.ocbcomMth07FnlLgnDt" ng-value="$ctrl.months[5]">5개월내</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.ocbcomMth07FnlLgnDt" ng-value="$ctrl.months[6]">6개월내</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">기간별 앱 이용 실적</label>
						<div class="col-sm-8">
							<div class="radio">
								<label><input type="radio" ng-model="$ctrl.options.ocbAppMth07FnlUseDt" ng-value="$ctrl.months[1]">1개월내</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.ocbAppMth07FnlUseDt" ng-value="$ctrl.months[2]">2개월내</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.ocbAppMth07FnlUseDt" ng-value="$ctrl.months[3]">3개월내</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.ocbAppMth07FnlUseDt" ng-value="$ctrl.months[4]">4개월내</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.ocbAppMth07FnlUseDt" ng-value="$ctrl.months[5]">5개월내</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.ocbAppMth07FnlUseDt" ng-value="$ctrl.months[6]">6개월내</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">기간별 출석체크 실적</label>
						<div class="col-sm-8">
							<div class="radio">
								<label><input type="radio" ng-model="$ctrl.options.appAtdcMth07FnlUseDt" ng-value="$ctrl.months[1]">1개월내</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.appAtdcMth07FnlUseDt" ng-value="$ctrl.months[2]">2개월내</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.appAtdcMth07FnlUseDt" ng-value="$ctrl.months[3]">3개월내</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.appAtdcMth07FnlUseDt" ng-value="$ctrl.months[4]">4개월내</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.appAtdcMth07FnlUseDt" ng-value="$ctrl.months[5]">5개월내</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.appAtdcMth07FnlUseDt" ng-value="$ctrl.months[6]">6개월내</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">기간별 룰렛 실적</label>
						<div class="col-sm-8">
							<div class="radio">
								<label><input type="radio" ng-model="$ctrl.options.rletMth07FnlUseDt" ng-value="$ctrl.months[1]">1개월내</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.rletMth07FnlUseDt" ng-value="$ctrl.months[2]">2개월내</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.rletMth07FnlUseDt" ng-value="$ctrl.months[3]">3개월내</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.rletMth07FnlUseDt" ng-value="$ctrl.months[4]">4개월내</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.rletMth07FnlUseDt" ng-value="$ctrl.months[5]">5개월내</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.rletMth07FnlUseDt" ng-value="$ctrl.months[6]">6개월내</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">기간별 게임 실적</label>
						<div class="col-sm-8">
							<div class="radio">
								<label><input type="radio" ng-model="$ctrl.options.gameMth07FnlUseDt" ng-value="$ctrl.months[1]">1개월내</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.gameMth07FnlUseDt" ng-value="$ctrl.months[2]">2개월내</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.gameMth07FnlUseDt" ng-value="$ctrl.months[3]">3개월내</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.gameMth07FnlUseDt" ng-value="$ctrl.months[4]">4개월내</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.gameMth07FnlUseDt" ng-value="$ctrl.months[5]">5개월내</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.gameMth07FnlUseDt" ng-value="$ctrl.months[6]">6개월내</label>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="panel panel-info">
				<div class="panel-heading">서비스별 이용 실적</div>
				<div class="panel-body">
					<div class="form-group">
						<label class="col-sm-4 control-label">OCB Plus 기간별 유실적 여부</label>
						<div class="col-sm-8">
							<div class="radio">
								<label><input type="radio" ng-model="$ctrl.options.ocbPlusMth07FnlYachvDt" ng-value="$ctrl.months[1]">1개월내</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.ocbPlusMth07FnlYachvDt" ng-value="$ctrl.months[2]">2개월내</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.ocbPlusMth07FnlYachvDt" ng-value="$ctrl.months[3]">3개월내</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.ocbPlusMth07FnlYachvDt" ng-value="$ctrl.months[4]">4개월내</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.ocbPlusMth07FnlYachvDt" ng-value="$ctrl.months[5]">5개월내</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.ocbPlusMth07FnlYachvDt" ng-value="$ctrl.months[6]">6개월내</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">OCB 락 기간별 유실적 여부</label>
						<div class="col-sm-8">
							<div class="radio">
								<label><input type="radio" ng-model="$ctrl.options.lckrMth07FnlYachvDt" ng-value="$ctrl.months[1]">1개월내</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.lckrMth07FnlYachvDt" ng-value="$ctrl.months[2]">2개월내</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.lckrMth07FnlYachvDt" ng-value="$ctrl.months[3]">3개월내</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.lckrMth07FnlYachvDt" ng-value="$ctrl.months[4]">4개월내</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.lckrMth07FnlYachvDt" ng-value="$ctrl.months[5]">5개월내</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.lckrMth07FnlYachvDt" ng-value="$ctrl.months[6]">6개월내</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">미리줌 기간별 유실적 여부</label>
						<div class="col-sm-8">
							<div class="radio">
								<label><input type="radio" ng-model="$ctrl.options.mzmMth07FnlYachvDt" ng-value="$ctrl.months[1]">1개월내</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.mzmMth07FnlYachvDt" ng-value="$ctrl.months[2]">2개월내</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.mzmMth07FnlYachvDt" ng-value="$ctrl.months[3]">3개월내</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.mzmMth07FnlYachvDt" ng-value="$ctrl.months[4]">4개월내</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.mzmMth07FnlYachvDt" ng-value="$ctrl.months[5]">5개월내</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.mzmMth07FnlYachvDt" ng-value="$ctrl.months[6]">6개월내</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">더줌 기간별 유실적 여부</label>
						<div class="col-sm-8">
							<div class="radio">
								<label><input type="radio" ng-model="$ctrl.options.azmMth07FnlYachvDt" ng-value="$ctrl.months[1]">1개월내</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.azmMth07FnlYachvDt" ng-value="$ctrl.months[2]">2개월내</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.azmMth07FnlYachvDt" ng-value="$ctrl.months[3]">3개월내</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.azmMth07FnlYachvDt" ng-value="$ctrl.months[4]">4개월내</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.azmMth07FnlYachvDt" ng-value="$ctrl.months[5]">5개월내</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.azmMth07FnlYachvDt" ng-value="$ctrl.months[6]">6개월내</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">상품전단 유실적 여부</label>
						<div class="col-sm-8">
							<div class="radio">
								<label><input type="radio" ng-model="$ctrl.options.prdLflMth07FnlYachvDt" ng-value="$ctrl.months[1]">1개월내</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.prdLflMth07FnlYachvDt" ng-value="$ctrl.months[2]">2개월내</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.prdLflMth07FnlYachvDt" ng-value="$ctrl.months[3]">3개월내</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.prdLflMth07FnlYachvDt" ng-value="$ctrl.months[4]">4개월내</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.prdLflMth07FnlYachvDt" ng-value="$ctrl.months[5]">5개월내</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.prdLflMth07FnlYachvDt" ng-value="$ctrl.months[6]">6개월내</label>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="panel panel-info">
				<div class="panel-heading">보유 카드</div>
				<div class="panel-body">
					<div class="form-group">
						<label class="col-sm-4 control-label">모바일카드 보유 여부</label>
						<div class="col-sm-8">
							<div class="radio">
								<label><input type="radio" ng-model="$ctrl.options.mblCardPossYn" value="1">보유 </label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.mblCardPossYn" value="2">미보유</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">자사카드 보유 여부</label>
						<div class="col-sm-8">
							<div class="radio">
								<label><input type="radio" ng-model="$ctrl.options.skpCardPossYn" value="1">보유 </label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.skpCardPossYn" value="2">미보유</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">제휴신용카드 보유 여부</label>
						<div class="col-sm-8">
							<div class="radio">
								<label><input type="radio" ng-model="$ctrl.options.crdtCardPossYn" value="1">보유 </label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.crdtCardPossYn" value="2">미보유</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">제휴체크카드 보유 여부</label>
						<div class="col-sm-8">
							<div class="radio">
								<label><input type="radio" ng-model="$ctrl.options.chkcrdPossYn" value="1">보유 </label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.chkcrdPossYn" value="2">미보유</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">통신카드 보유 여부</label>
						<div class="col-sm-8">
							<div class="radio">
								<label><input type="radio" ng-model="$ctrl.options.cmncnCardPossYn" value="1">보유 </label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.cmncnCardPossYn" value="2">미보유</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">EBC카드 보유 여부</label>
						<div class="col-sm-8">
							<div class="radio">
								<label><input type="radio" ng-model="$ctrl.options.encleanBnsCardPossYn" value="1">보유 </label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.encleanBnsCardPossYn" value="2">미보유</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">화물복지카드 보유 여부</label>
						<div class="col-sm-8">
							<div class="radio">
								<label><input type="radio" ng-model="$ctrl.options.freiWlfrCardPossYn" value="1">보유 </label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.freiWlfrCardPossYn" value="2">미보유</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">주유전용카드 보유 여부</label>
						<div class="col-sm-8">
							<div class="radio">
								<label><input type="radio" ng-model="$ctrl.options.rflExcsCardPossYn" value="1">보유 </label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.rflExcsCardPossYn" value="2">미보유</label>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="panel panel-info">
				<div class="panel-heading">업종별 유실적 여부</div>
				<div class="panel-body">
					<div class="form-group">
						<label class="col-sm-4 control-label">주유</label>
						<div class="col-sm-8">
							<div class="radio">
								<label><input type="radio" ng-model="$ctrl.options.rflMth07FnlYachvDt" ng-value="$ctrl.months[0]">당월</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.rflMth07FnlYachvDt" ng-value="$ctrl.months[1]">1개월내</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.rflMth07FnlYachvDt" ng-value="$ctrl.months[3]">3개월내</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.rflMth07FnlYachvDt" ng-value="$ctrl.months[6]">6개월내</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">통신</label>
						<div class="col-sm-8">
							<div class="radio">
								<label><input type="radio" ng-model="$ctrl.options.cmncnMth07FnlYachvDt" ng-value="$ctrl.months[0]">당월</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.cmncnMth07FnlYachvDt" ng-value="$ctrl.months[1]">1개월내</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.cmncnMth07FnlYachvDt" ng-value="$ctrl.months[3]">3개월내</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.cmncnMth07FnlYachvDt" ng-value="$ctrl.months[6]">6개월내</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">금융</label>
						<div class="col-sm-8">
							<div class="radio">
								<label><input type="radio" ng-model="$ctrl.options.fncMth07FnlYachvDt" ng-value="$ctrl.months[0]">당월</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.fncMth07FnlYachvDt" ng-value="$ctrl.months[1]">1개월내</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.fncMth07FnlYachvDt" ng-value="$ctrl.months[3]">3개월내</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.fncMth07FnlYachvDt" ng-value="$ctrl.months[6]">6개월내</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">기타 오프라인</label>
						<div class="col-sm-8">
							<div class="radio">
								<label><input type="radio" ng-model="$ctrl.options.etcMth07FnlYachvDt" ng-value="$ctrl.months[0]">당월</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.etcMth07FnlYachvDt" ng-value="$ctrl.months[1]">1개월내</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.etcMth07FnlYachvDt" ng-value="$ctrl.months[3]">3개월내</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.etcMth07FnlYachvDt" ng-value="$ctrl.months[6]">6개월내</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">온라인</label>
						<div class="col-sm-8">
							<div class="radio">
								<label><input type="radio" ng-model="$ctrl.options.onlnMth07FnlYachvDt" ng-value="$ctrl.months[0]">당월</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.onlnMth07FnlYachvDt" ng-value="$ctrl.months[1]">1개월내</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.onlnMth07FnlYachvDt" ng-value="$ctrl.months[3]">3개월내</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.onlnMth07FnlYachvDt" ng-value="$ctrl.months[6]">6개월내</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">온라인쿠폰</label>
						<div class="col-sm-8">
							<div class="radio">
								<label><input type="radio" ng-model="$ctrl.options.onlnMth07CpnFnlYachvDt" ng-value="$ctrl.months[0]">당월</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.onlnMth07CpnFnlYachvDt" ng-value="$ctrl.months[1]">1개월내</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.onlnMth07CpnFnlYachvDt" ng-value="$ctrl.months[3]">3개월내</label>&nbsp;&nbsp;&nbsp;
								<label><input type="radio" ng-model="$ctrl.options.onlnMth07CpnFnlYachvDt" ng-value="$ctrl.months[6]">6개월내</label>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="panel panel-info">
				<div class="panel-heading">보유 포인트</div>
				<div class="panel-body">
					<div class="form-group">
						<label class="col-sm-4 control-label">가용 포인트</label>
						<div class="col-sm-8">
							<div class="radio">
								<label><input type="radio" ng-model="$ctrl.options.avlPnt" value="0-0">0포인트</label><br>
								<label><input type="radio" ng-model="$ctrl.options.avlPnt" value="1-499">500포인트 미만</label><br>
								<label><input type="radio" ng-model="$ctrl.options.avlPnt" value="500-999">500포인트 이상 1,000포인트 미만</label><br>
								<label><input type="radio" ng-model="$ctrl.options.avlPnt" value="1000-2499">1000포인트 이상 2,500포인트 미만</label><br>
								<label><input type="radio" ng-model="$ctrl.options.avlPnt" value="2500-4999">2,500포인트 이상 5,000포인트 미만</label><br>
								<label><input type="radio" ng-model="$ctrl.options.avlPnt" value="5000-9999">5,000포인트 이상 10,000포인트 미만</label><br>
								<label><input type="radio" ng-model="$ctrl.options.avlPnt" value="10000-19999">10,000포인트 이상 20,000포인트 미만</label><br>
								<label><input type="radio" ng-model="$ctrl.options.avlPnt" value="20000-29999">20,000포인트 이상 30,000포인트 미만</label><br>
								<label><input type="radio" ng-model="$ctrl.options.avlPnt" value="30000-49999">30,000포인트 이상 50,000포인트 미만</label>
								<label><input type="radio" ng-model="$ctrl.options.avlPnt" value="50000-999999">50,000포인트 이상</label>
							</div>
						</div>
					</div>
				</div>
			</div>

		</form>
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn btn-primary" ng-click="$ctrl.ok()" ng-disabled="form.$invalid">등록</button>
		<button type="button" class="btn btn-default" ng-click="$ctrl.dismiss()">닫기</button>
	</div>
</div>