<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.2.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
       http://www.springframework.org/schema/util
       http://www.springframework.org/schema/util/spring-util-3.2.xsd">

    <context:component-scan base-package="com.skplanet.bisportal">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
    </context:component-scan>

    <context:property-placeholder location="classpath:config/*.properties" />

    <util:properties id="common" location="classpath:config/common.properties" />

    <bean id="ocbDataSource"
          class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${jdbc.ocb.oracle.driverClass}"/>
        <property name="url" value="${jdbc.ocb.oracle.url}"/>
        <property name="username" value="${jdbc.ocb.oracle.username}"/>
        <property name="password" value="${jdbc.ocb.oracle.password}"/>
        <property name="initialSize" value="5"/>
        <property name="maxActive" value="50"/>
        <property name="maxIdle" value="15" />
        <property name="minIdle" value="5" />
        <property name="testOnBorrow" value="false" />
        <property name="validationQuery" value="select 1 from dual" />
        <property name="timeBetweenEvictionRunsMillis" value="10000" />
        <property name="testWhileIdle" value="true" />
        <property name="numTestsPerEvictionRun" value="3" />
        <property name="minEvictableIdleTimeMillis" value="-1" />
    </bean>

    <bean id="ocbSqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="ocbDataSource" />
        <property name="configLocation" value="classpath:config/ocb/mybatis-config.xml" />
        <property name="mapperLocations" value="classpath*:sql/ocb/mybatis/mapper/**/*.xml" />
    </bean>

    <bean id="ocbSqlSession" class="org.mybatis.spring.SqlSessionTemplate" scope="prototype">
        <constructor-arg index="0" ref="ocbSqlSessionFactory" />
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true" />

    <bean id="contextSource" class="org.springframework.ldap.core.support.LdapContextSource">
        <property name="url" value="${ldap.url}" />
        <property name="base" value="${ldap.base}" />
        <property name="userDn" value="${ldap.userDn}" />
        <property name="password" value="${ldap.password}" />
    </bean>

    <bean id="ldapTemplate" class="org.springframework.ldap.core.LdapTemplate">
        <constructor-arg ref="contextSource" />
    </bean>

    <bean id="bipDataSource"
          class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${jdbc.bip.oracle.driverClass}"/>
        <property name="url" value="${jdbc.bip.oracle.url}"/>
        <property name="username" value="${jdbc.bip.oracle.username}"/>
        <property name="password" value="${jdbc.bip.oracle.password}"/>
        <property name="initialSize" value="5"/>
        <property name="maxActive" value="50"/>
        <property name="maxIdle" value="15" />
        <property name="minIdle" value="5" />
        <property name="testOnBorrow" value="false" />
        <property name="validationQuery" value="select 1 from dual" />
        <property name="timeBetweenEvictionRunsMillis" value="10000" />
        <property name="testWhileIdle" value="true" />
        <property name="numTestsPerEvictionRun" value="3" />
        <property name="minEvictableIdleTimeMillis" value="-1" />
    </bean>

    <bean id="bipSqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="bipDataSource" />
        <property name="configLocation" value="classpath:config/bip/mybatis-config.xml" />
        <property name="mapperLocations" value="classpath*:sql/bip/mybatis/mapper/**/*.xml" />
    </bean>

    <bean id="bipSqlSession" class="org.mybatis.spring.SqlSessionTemplate" scope="prototype">
        <constructor-arg index="0" ref="bipSqlSessionFactory" />
    </bean>

    <bean id="syrupDataSource"
          class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="#{common['jdbc.syrup.oracle.driverClass']}"/>
        <property name="url" value="#{common['jdbc.syrup.oracle.url']}"/>
        <property name="username" value="#{common['jdbc.syrup.oracle.username']}"/>
        <property name="password" value="#{common['jdbc.syrup.oracle.password']}"/>
        <property name="initialSize" value="#{common['jdbc.syrup.oracle.initialSize']}"/>
        <property name="maxActive" value="50"/>
        <property name="maxIdle" value="15" />
        <property name="minIdle" value="#{common['jdbc.syrup.oracle.initialSize']}" />
        <property name="testOnBorrow" value="false" />
        <property name="validationQuery" value="select 1 from dual" />
        <property name="timeBetweenEvictionRunsMillis" value="10000" />
        <property name="testWhileIdle" value="true" />
        <property name="numTestsPerEvictionRun" value="3" />
        <property name="minEvictableIdleTimeMillis" value="-1" />
    </bean>

    <bean id="syrupSqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="syrupDataSource" />
        <property name="configLocation" value="classpath:config/syrup/mybatis-config.xml" />
        <property name="mapperLocations" value="classpath*:sql/syrup/mybatis/mapper/**/*.xml" />
    </bean>

    <bean id="syrupSqlSession" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg index="0" ref="syrupSqlSessionFactory" />
    </bean>

    <bean id="transactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="bipDataSource" />
    </bean>

    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="smtp.gmail.com"/>
        <property name="port" value="25"/>
        <property name="username" value="voyagerstream@gmail.com" />
        <property name="password" value="voyageradmin" />
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="javaMailProperties">
            <props>
                <prop key="mail.transport.protocol">smtp</prop>
                <prop key="mail.smtp.auth">true</prop>
                <prop key="mail.smtp.starttls.enable">true</prop>
                <prop key="mail.debug">true</prop>
            </props>
        </property>
    </bean>

    <bean id="velocityEngine" class="org.springframework.ui.velocity.VelocityEngineFactoryBean">
        <property name="resourceLoaderPath" value="classpath:/templates/"/>
        <property name="preferFileSystemAccess" value="false"/>
        <property name="velocityProperties">
            <props>
                <prop key="input.encoding">utf-8</prop>
                <prop key="output.encoding">utf-8</prop>
            </props>
        </property>
    </bean>
</beans>
