<div class="section-content">
	<div>
		<form class="form-inline" name="searchForm">
			<div class="input-group">
				<span class="input-group-addon">발송일자</span>
				<input type="date" class="form-control" ng-model="periodFrom" uib-datepicker-popup is-open="popup.opened" ng-required="true">
				<span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="popup.opened=true"><i class="fa fa-calendar"></i></button></span>
			</div>
			<div class="input-group">
				<input type="date" class="form-control" ng-model="periodTo" uib-datepicker-popup is-open="popup2.opened" ng-required="true">
				<span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="popup2.opened=true"><i class="fa fa-calendar"></i></button></span>
			</div>
			<button type="button" class="btn btn-info" ng-click="searchCampaign()">조회</button>
			<button type="button" class="btn btn-default" ng-click="detailCampaign()" ng-disabled="gridApi.selection.getSelectedCount() <= 0">상세보기</button>
		</form>
		<div cg-busy="searchPromise">
			<div class="grid-div" ui-grid="gridOptionsList" ui-grid-pagination ui-grid-resize-columns ui-grid-selection></div>
		</div>
	</div>

	<legend>캠페인 상세 정보</legend>
	<div class="row">
		<div class="col-md-5" cg-busy="uploadPromise">
			<form class="form-horizontal" name="campaignForm">
				<div class="form-group">
					<div class="col-sm-offset-5 col-sm-7">
						<div class="btn-group btn-group-justified" role="group">
							<div class="btn-group" role="group">
								<button type="button" class="btn btn-success" ng-click="saveCampaign()" ng-disabled="!currCampaign.cmpgnNm || (currCampaign.stsFgCd && currCampaign.stsFgCd != '01')">저장</button>
							</div>
							<div class="btn-group" role="group">
								<button type="button" class="btn btn-danger" mwl-confirm on-confirm="deleteCampaign()" title="캠페인 삭제" message="선택된 캠페인을 삭제하시겠습니까?"
									confirm-text="삭제" placement="top" ng-disabled="!currCampaign.cmpgnId">삭제</button>
							</div>
							<div class="btn-group" role="group">
								<button type="button" class="btn btn-warning" mwl-confirm on-confirm="clearDetail()" message="캠페인 정보 입력을 취소하시겠습니까?" placement="top">취소/신규</button>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-5 control-label">캠페인코드</label>
					<div class="col-sm-7">
						<input type="text" class="form-control" ng-model="currCampaign.cmpgnId" readonly>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-5 control-label">캠페인명</label>
					<div class="col-sm-7">
						<input type="text" class="form-control" ng-model="currCampaign.cmpgnNm" ng-required="true" ng-minlength="3" ng-disabled="currCampaign.stsFgCd && currCampaign.stsFgCd != '01'">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-5 control-label">캠페인 발송 채널</label>
					<div class="col-sm-7">
						<select class="form-control" ng-init="currCampaign.cmpgnSndChnlFgCd = selectOptions[0].value" ng-options="option.value as option.label for option in selectOptions"
							ng-model="currCampaign.cmpgnSndChnlFgCd" ng-required="true" ng-disabled="currCampaign.stsFgCd && currCampaign.stsFgCd != '01'"></select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-5 control-label">머지일자</label>
					<div class="col-sm-7">
						<div class="input-group">
							<input type="date" class="form-control" ng-model="currCampaign.mergeDt" ng-required="true" uib-datepicker-popup datepicker-options="dateOptions"
								is-open="popup3.opened" ng-disabled="currCampaign.stsFgCd && currCampaign.stsFgCd != '01'">
							<span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="popup3.opened=true"><i class="fa fa-calendar"></i></button></span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-5 control-label">캠페인 대상자 등록</label>
					<div class="col-sm-7">
						<button type="button" class="btn btn-default" ngf-select="uploadCsv($file)" ng-model="file" ngf-pattern="'*/*'" ngf-accept="'*/*'"
							ngf-max-size="1GB" ng-disabled="campaignForm.$invalid || (currCampaign.stsFgCd && currCampaign.stsFgCd != '01')">CSV 파일 등록</button>
						<button type="button" class="btn btn-default" ng-click="openTargeting()" ng-disabled="campaignForm.$invalid || (currCampaign.stsFgCd && currCampaign.stsFgCd != '01')">타겟팅 조건 선택</button>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-5 control-label">전체건수 / 중복제거건수</label>
					<div class="col-sm-3">
						<input type="text" class="form-control text-right" ng-value="currCampaign.totCnt | number" readonly>
					</div>
					<div class="col-sm-3">
						<input type="text" class="form-control text-right" ng-value="currCampaign.dupDelCnt | number" readonly>
					</div>
				</div>
			</form>
		</div>

		<div class="col-md-7">
			<div class="text-right">
				<div class="btn-group btn-group-sm" role="group">
					<button type="button" class="btn btn-success" ng-click="addCell()" ng-disabled="campaignForm.$invalid || !currCampaign.cmpgnId || currCampaign.stsFgCd == '03' || currCampaign.stsFgCd == '04' || (currCampaign.stsFgCd == '02' && currCampagin.cmpgnSndChnlFgCd == 'PUSH')">셀 추가</button>
					<button type="button" class="btn btn-danger" mwl-confirm on-confirm="deleteCell()" title="셀 삭제" message="선택된 셀을 삭제하시겠습니까?"
						confirm-text="삭제" placement="left" ng-disabled="campaignForm.$invalid || gridApi2.selection.getSelectedCount() <= 0 || gridOptionsCellList.data.length <= 1 || currCampaign.stsFgCd == '03' || currCampaign.stsFgCd == '04' || (currCampaign.stsFgCd == '02' && currCampagin.cmpgnSndChnlFgCd == 'PUSH')">셀 삭제</button>
					<button type="button" class="btn btn-warning" ng-click="openRequestForm()" ng-disabled="gridApi2.selection.getSelectedCount() <= 0 || gridApi2.selection.getSelectedRows()[0].stsFgCd != '03'">전송요청</button>
				</div>
			</div>

			<div cg-busy="cellListPromise">
				<div class="grid-div" ui-grid="gridOptionsCellList" ui-grid-selection ui-grid-resize-columns ui-grid-edit></div>
			</div>
		</div>
	</div>
</div>