<div class="container-fluid section-body">
    <ng-include src="'partials/layout/sidebar.html'"></ng-include>
    <div class="col-md-11 section-content-wrapper">
        <div class="section-content">
            <div class="row">
                <div class="col-md-6">
                    <label>조회기간</label>
                    <form name="searchForm" class="form-inline">
                        <div class="input-group">
                            <input type="date" class="form-control" uib-datepicker-popup ng-model="periodFrom" is-open="popup.opened" ng-required="true">
                            <span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="popup.opened=true"><i class="glyphicon glyphicon-calendar"></i></button></span>
                        </div>
                        <div class="input-group">
                            <input type="date" class="form-control" uib-datepicker-popup ng-model="periodTo" is-open="popup2.opened" ng-required="true">
                            <span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="popup2.opened=true"><i class="glyphicon glyphicon-calendar"></i></button></span>
                        </div>
                        <button type="button" class="btn btn-info" ng-click="" ng-disabled="searchForm.$invalid">조회</button>
                    </form>
                    <div bg-busy="">
                        <div class="grid-div" ui-grid="gridOptionsList" ui-grid-pagination ui-grid-resize-columns></div>
                    </div>
                </div>

                <div class="col-md-6">

                </div>
            </div>
        </div>
    </div>
</div>