<div class="section-content">
	<div class="row upload-form">
		<div class="col-md-6">
			<form class="form-horizontal" name="form">
				<div class="form-group">
					<label class="col-sm-4 control-label">입력데이터</label>
					<div class="col-sm-8">
						<select class="form-control" ng-init="selectedOption = selectOptions[0]" ng-options="option.label for option in selectOptions"
							ng-model="selectedOption"></select>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-4 control-label">추출대상</label>
					<div class="col-sm-8">
						<select class="form-control" ng-init="selectedOption2 = selectOptions2[0]" ng-options="option.label for option in selectOptions2"
							ng-model="selectedOption2" ng-change="changeColumnVisible()"></select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label">고객성명 포함 여부</label>
					<div class="col-sm-8">
						<select class="form-control" ng-init="selectedOption4 = selectOptions4[0]" ng-options="option.label for option in selectOptions4"
							ng-model="selectedOption4"></select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label">일자기준</label>
					<div class="col-sm-8">
						<select class="form-control" ng-init="selectedOption3 = selectOptions3[0]" ng-options="option.label for option in selectOptions3"
							ng-model="selectedOption3"></select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label">조회기간</label>
					<div class="col-sm-4">
						<div class="input-group">
							<input type="text" class="form-control" ng-model="periodFrom" uib-datepicker-popup is-open="popup.opened" ng-required="true">
							<span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="popup.opened=true"><i class="fa fa-calendar"></i></button></span>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="input-group">
							<input type="text" class="form-control" ng-model="periodTo" uib-datepicker-popup is-open="popup2.opened" ng-required="true">
							<span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="popup2.opened=true"><i class="fa fa-calendar"></i></button></span>
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label>업로드</label>
				<div ngf-select="upload($file)" ngf-drop="upload($file)" ng-model="file" ngf-pattern="'*/*'" ngf-accept="'*/*'" ngf-max-size="1GB"
					class="drop-box" ngf-drag-over-class="'drop-box-dragover'" cg-busy="{promise:uploadPromise, message:uploadProgressLoadingMessage}">
					<i class="fa fa-upload fa-5x" aria-hidden="true"></i><br><br>파일 선택 또는 끌어놓기
				</div>
			</div>
		</div>
	</div>
	<hr>
	<div>
		<button type="button" class="btn btn-primary" ng-click="loadMembers()" ng-disabled="!extracted"><i class="fa fa-search"></i> 조회</button>
		<div cg-busy="membersPromise">
			<div class="grid-div" ui-grid="gridOptionsMembers" ui-grid-pagination ui-grid-resize-columns></div>
		</div>
	</div>
	<div ng-include="'partials/common/pts-form-tpl.html'"></div>
</div>