<!--<div ng-controller="kidCtrl" data-ng-init="init()">-->
    <div ng-cloak class="kidWrapper">
        <iframe frameborder="0" width="1280px" height="768px" ng-src="http://172.22.198.125"></iframe>
        <!--<object width="1280px" height="768px" data="http://172.22.198.125" type="text/html">-->
        <!--<a href="">인라인프레임이 표시되지 않는 분은 여기를 클릭하세요.</a>-->
        <!--</object>-->
    </div>
<!--</div>-->
<!--<script type="text/javascript" src="resources/app/dashboard/kid/kidCtrl.js"></script>-->
