<div class="col-md-12" ng-controller="orgCtrl" data-ng-init="init()" style="height: 1200px">
    <div class="page-title obj-clear">
        <h1 class="pull-left">{{menuContext.menu.name}}</h1>
        <div class="pagenation">
            {{menuContext.category.name}} <span>&gt;</span> {{menuContext.menu.name}}
        </div>
    </div>
    <div class="search-select-area obj-clear">
        <div class="select-box">
            <label for="searchOrgNm" class="text-check">부서명</label>
            <input id="searchOrgNm" class="select" type="text" data-ng-model="searchOrgNm" />
        </div>
        <div class="select-box">
            <label for="searchedGroupType" class="text-check ng-binding">부서유형</label>
            <select id="searchedGroupType" class="select ng-pristine ng-valid" data-ng-model="searchedGroupType" data-ng-change="changeGroupType()" data-ng-options="groupType.name for groupType in groupTypes">
            </select>
        </div>
        <a href="javascript:void(0);" class="btn btn-search pull-left" data-ng-click="searchOrg()">조회</a>
    </div>

    <div class="row mar-l5 mar-r5 mar-t5 mar-b5">
        <div class="col-md-4">
            <div class="mar-l5 mar-r5">
                <div class="page-title">
                    <h2>조직도</h2>
                </div>
                <dyna-tree config="userOrgTreeConfig" id="dynaUserOrgTree"></dyna-tree>
            </div>
        </div>
        <div class="col-md-5">
            <div class="mar-l5 mar-r5">
                <div class="page-title">
                    <h2>부서 정보</h2>
                </div>
                <div id="orgContainer"></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="mar-l5 mar-r5">
                <div class="page-title">
                    <h2>부서 권한</h2>
                </div>
                <div id="roleContainer"></div>
                <div class="mar-t10 pull-right">
                    <button class="btn btn-warning basic" id="viewMenuData" data-ng-click="activeRoleMenuModal();">메뉴 보기</button>
                    <button class="btn btn-warning basic mar-l10" id="saveRoleData" data-ng-click="saveRoleData();">저장</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 권한별 메뉴 보기 모달 -->
    <div id="roleMenuModal" class="modal fade custom-modal in" tabindex="-1" role="dialog" aria-labelledby="roleMenuModal" aria-hidden="true">
        <div class="modal-dialog">
            <section class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h1 class="modal-title" id="roleMenuModalLabel">권한별 메뉴</h1>
                </div>
                <div class="modal-body">
                    <div class="data-table hover-table" style="margin-top:10px;">
                        <table class="table">
                            <colgroup>
                                <col style="width:20%;">
                                <col style="width:20%;">
                                <col style="width:25%;">
                                <col style="width:35%;">
                            </colgroup>
                            <thead>
                            <tr>
                                <th>권한명</th>
                                <th>서비스명</th>
                                <th>카테고리명</th>
                                <th>메뉴명</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-ng-repeat="menu in menus">
                                <td>{{menu.roleName}}</td>
                                <td>{{menu.serviceName}}</td>
                                <td>{{menu.categoryName}}</td>
                                <td>{{menu.name}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- 권한별 메뉴 보기 모달 -->
</div>
<link href="resources/css/ui.dynatree.css" media="screen" rel="stylesheet" type="text/css">
<script type="text/javascript" src="resources/dynatree/jquery.dynatree.min.js"></script>
<script type="text/javascript" src="resources/app/admin/user/orgCtrl.js"></script>
