<md-toolbar>
    <div class="md-toolbar-tools">
        <h1>개인정보 조회 시스템</h1>

        <span flex></span>

        <md-button ui-sref="index.page({pageId: 'pan0101'})" aria-label="멤버 ID 일괄 전환">멤버 ID 일괄 전환</md-button>
        <md-button ui-sref="index.page({pageId: 'pan0102'})" aria-label="고객 정보 및 장기 거래 실적 조회">고객 정보 및 장기 거래 실적 조회</md-button>
        <md-button ui-sref="index.page({pageId: 'pan0103'})" aria-label="배치 적립 파일 검증">배치 적립 파일 검증</md-button>
        <md-button ui-sref="index.page({pageId: 'pan0104'})" aria-label="시효 만료 포인트 사전 고지">시효 만료 포인트 사전 고지</md-button>
        <md-button ui-sref="index.page({pageId: 'pan0105'})" aria-label="거래 실적 및 유실적 고객 추출">거래 실적 및 유실적 고객 추출</md-button>
        <md-button ui-sref="index.page({pageId: 'pan0106'})" aria-label="회원 프로파일 분석">회원 프로파일 분석</md-button>

        <span flex></span>

        <span class="md-caption">홍길동 님</span>
        <md-button class="md-fab md-mini" aria-label="로그아웃">
            <i class="fa fa-sign-out fa-lg" aria-hidden="true"></i>
            <md-tooltip>로그아웃</md-tooltip>
        </md-button>
    </div>
</md-toolbar>