<nav class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="HeaderCtrl" ng-cloak>
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" ng-click="isNavCollapsed = !isNavCollapsed">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a ng-show="isAuthenticated" class="navbar-brand" ng-href="/" uib-tooltip="홈으로" tooltip-placement="right"><i class="fa fa-home fa-lg" aria-hidden="true"></i></a>
			<span ng-hide="isAuthenticated" class="navbar-brand">개인정보 조회 시스템</span>
		</div>

		<div class="collapse navbar-collapse" uib-collapse="isNavCollapsed" ng-hide="isNavCollapsed">
			<ul class="nav navbar-nav" ng-show="isAuthenticated">
				<li ng-show="isAllowedMenu('PAN0101')" ui-sref-active="active"><a ui-sref="index.menu({menuId: 'pan0101'})">멤버 ID 일괄 전환</a></li>
				<li ng-show="isAllowedMenu('PAN0103')" ui-sref-active="active"><a ui-sref="index.menu({menuId: 'pan0103'})">배치 적립 파일 검증</a></li>
				<li ng-show="isAllowedMenu('PAN0104')" ui-sref-active="active"><a ui-sref="index.menu({menuId: 'pan0104'})">시효 만료 포인트 사전 고지</a></li>
				<li ng-show="isAllowedMenu('PAN0106')" ui-sref-active="active"><a ui-sref="index.menu({menuId: 'pan0106'})">회원 프로파일 분석</a></li>
				<li ng-show="isAllowedMenu('PAN0102')" ui-sref-active="active"><a ui-sref="index.menu({menuId: 'pan0102'})">고객 정보 기본 조회</a></li>
				<li ng-show="isAllowedMenu('PAN0107')" ui-sref-active="active"><a ui-sref="index.menu({menuId: 'pan0107'})">고객 정보 상세 조회</a></li>
				<li ng-show="isAllowedMenu('PAN0105')" ui-sref-active="active"><a ui-sref="index.menu({menuId: 'pan0105'})">거래 실적 및 유실적 고객 추출</a></li>
				<li ng-show="isAllowedMenu('PAN0108')" ui-sref-active="active"><a ui-sref="index.menu({menuId: 'pan0108'})">이메일 조회</a></li>
			</ul>
			<div ng-show="isAuthenticated">
				<ul class="nav navbar-nav navbar-right">
					<li><a role="button" ng-click="logout()" uib-tooltip="로그아웃" tooltip-placement="left"><i class="fa fa-sign-out fa-lg" aria-hidden="true"></i></a></li>
				</ul>
				<p class="navbar-text navbar-right hidden-xs hidden-sm hidden-md"><strong>{{name}}</strong> 님</p>
			</div>
		</div>
	</div>
</nav>