<div class="col-md-1 section-sidebar">
    <!--<div class="leftside-navigation">-->
        <!--<div class="slide_btn" ng-click="slide();">
                <span>
                    <i class="fa fa-angle-left fa-35"></i>
                </span>
            </div>-->
        <h3>{{title}}</h3>
        <!--<ul class="sidebar-menu" id="nav-accordion">
                <li class="sub-menu">
                    <a>모든 보고서</a>
                </li>
                <li class="sub-menu">
                    <a ng-class="{active: $state.is('main.dss.menu', {menu: 'add'})}" ui-sref="main.dss.menu({menu: 'add'})">
                        보고서 등록
                    </a>
                </li>
            </ul>-->
    <!--</div>-->
</div>