<div class="section-content">
	<div class="row">
		<div class="col-md-6">
			<form class="form-inline">
				<div class="form-group">
					<div class="input-group">
						<label class="input-group-addon">기준데이터</label>
						<select class="form-control" ng-init="selectedOption = selectOptions[0]" ng-options="option.label for option in selectOptions"
							ng-model="selectedOption"></select>
					</div>
				</div>
			</form>
			<br>
			<label>업로드</label>
			<label>양식 : 회원ID,카드번호(16자리),CI번호(88자리),한글성명,생년월일(8자리),성별(1:남자/2:여자) </label>
			<label>ex) 1111111111,111111111111,CINO,홍길동,19800101,1 </label>
			<button type="button" class="btn btn-default btn-xs" ng-click="downloadCsvFormat()"><i class="fa fa-download fa-sm"></i> 양식 다운로드</button>
			<div ng-include="'partials/common/upload-form-tpl.html'"></div>
		</div>
		<div class="col-md-6">
			<label>업로드 미리보기</label>
			<div cg-busy="previewPromise">
				<div ui-grid="gridOptionsPreview" ui-grid-resize-columns></div>
			</div>
		</div>
	</div>
	<hr>
	<div>
		<button type="button" class="btn btn-primary" ng-click="loadMembers()" ng-disabled="!uploadedItems"><i class="fa fa-search"></i> 조회</button>
		<div cg-busy="membersPromise">
			<div class="grid-div" ui-grid="gridOptionsMembers" ui-grid-pagination ui-grid-resize-columns></div>
		</div>
	</div>
	<div ng-include="'partials/common/pts-form-tpl.html'"></div>
</div>