<div ng-controller="monthKpiCtrl" data-ng-init="init()" ng-style="style(0)" resize table-id="tableId">
    <report-search-box search-callback="search" search-config="searchConfig" menu-context="menuContext"></report-search-box>

    <div class="non-sub-title obj-section">
        <report-sub-nav excel-config="excelConfig"></report-sub-nav>
    </div>

    <!--<high-chart config="highChartConfig"></high-chart>-->

    <div class="data-area jq-board" ng-style="dataAreaStyle()" resize>
        <div id="monthKpiGrid" report-indicator="pageState"></div>
    </div>
</div>
<script type="text/javascript" src="resources/app/tmap/kpi/monthKpiCtrl.js"></script>
