<div name="mstr" ng-controller="mstrCtrl" ng-init="init()" ng-style="style()">
    <div id="{{mstrId}}">
        <mstr-search-box search-callback="search" menu-context="menuContext" date-types="dateTypes" change-date-callback="changeDate"></mstr-search-box>
        <div class="data-area" ng-style="dataAreaStyle('mstr')" resize>
            <mstr-report iframe-id="mstrIframeId"></mstr-report>
        </div>
    </div>
</div>
<script type="text/javascript" src="resources/app/mstr/mstrCtrl.js"></script>
