<div class="row">
    <div class="col-md-2 section-sidebar" ng-include="'partials/layout/sidebar.html'"></div>
    <div class="col-md-10">
        <div class="section-content">
            <div class="container-fluid">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>입력데이터</label>
                        <select class="form-control" ng-init="selectedOption = selectOptions[0]" ng-options="option.label for option in selectOptions"
                            ng-model="selectedOption"></select>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <form name="form">
                        <label>업로드</label>
                        <div ngf-select="upload($file)" ngf-drop="upload($file)" name="file" ng-model="file" ngf-pattern="'*/*'" ngf-accept="'*/*'"
                            ngf-max-size="1GB" class="drop-box" ngf-drag-over-class="'drop-box-dragover'">
                            <i class="fa fa-upload fa-5x" aria-hidden="true"></i><br><br>파일 선택 또는 끌어놓기
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <div class="grid-div" ui-grid="gridOptionsPreview"></div>
                </div>
            </div>
            <div>
                <button type="button" class="btn btn-info" ng-click="loadMerged()">조회</button>
                <div class="grid-div" ui-grid="gridOptions" ui-grid-resize-columns></div>
            </div>
        </div>
    </div>
</div>