<div ng-controller="oneidFunnelCtrl" data-ng-init="init()" resize>
    <funnel-search-box search-callback="search" menu-context="menuContext"></funnel-search-box>
    <div class="data-area">
        <div id="oneidFunnel">
            <funnel-chart />
        </div>
        <div report-indicator="pageState"></div>
    </div>
</div>
<link href="resources/funnel/funnels.css" media="screen" rel="stylesheet" type="text/css">
<script type="text/javascript" src="resources/app/funnel/oneidFunnelCtrl.js"></script>
