<div ng-controller="oneidJoinPcCtrl1" data-ng-init="init()" resize>
    <report-search-box search-callback="search" search-config="searchConfig" menu-context="menuContext"></report-search-box>
    <div class="data-area">
        <div id="oneidFunnel1">
            <funnel-chart />
        </div>
        <div report-indicator="pageState"></div>
    </div>
</div>
<link href="resources/funnel/funnels.css" media="screen" rel="stylesheet" type="text/css">
<script type="text/javascript" src="resources/app/funnel/oneidJoinPcCtrl1.js"></script>
