<div ng-controller="oneidJoinPcCtrl2" data-ng-init="init()" resize>
    <report-search-box search-callback="search" search-config="searchConfig" menu-context="menuContext"></report-search-box>
    <div class="data-area">
        <div id="oneidFunnel2">
            <div class="funnel">
                <div class="floor">
                    <div class="entry">
                        <ul>
                            <li class="summary"><h4>33,376(entrance)</h4></li>
                            <li class="detail">
                                <ul>
                                    <li class="key">/aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</li>
                                    <li class="value">5,340</li>
                                </ul>
                                <ul>
                                    <li class="key">/a</li>
                                    <li class="value">5,340</li>
                                </ul>
                                <ul>
                                    <li class="key">/b</li>
                                    <li class="value">1,190</li>
                                </ul>
                                <ul>
                                    <li class="key">/c</li>
                                    <li class="value">211</li>
                                </ul>
                                <ul>
                                    <li class="key">/d</li>
                                    <li class="value">115</li>
                                </ul>
                                <ul>
                                    <li class="key">/e</li>
                                    <li class="value">93</li>
                                </ul>
                                <ul>
                                    <li class="key">/e</li>
                                    <li class="value">93</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="step">
                        <ul>
                            <li class="summary">
                                <ul>
                                    <li><h3>본인확인</h3></li>
                                    <li><span class="type">test:</span> /agree</li>
                                    <li><h3>33,376</h3></li>
                                    <li>
                                        <b class="funnel_bar_graph">
                                            <b style="width:24%"></b>
                                        </b>
                                    </li>
                                </ul>
                            </li>
                            <li class="detail">
                                <div class="arrow"><img src="resources/images/funnel/arrow-down-tail.png" style="width:{{funnelData.funnelTarget.nextStepRate}}%; height:60px;" /></div>
                                <div class="rate">
                                    <h4>
                                        7,942(23.79%) <span>continued to next step</span>
                                    </h4>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="exit">
                        <ul>
                            <li class="summary"><h4>25,434(exit)</h4></li>
                            <li class="detail">
                                <ul>
                                    <li class="key">/o</li>
                                    <li class="value">1125</li>
                                </ul>
                                <ul>
                                    <li class="key">/p</li>
                                    <li class="value">765</li>
                                </ul>
                                <ul>
                                    <li class="key">/q</li>
                                    <li class="value">335</li>
                                </ul>
                                <ul>
                                    <li class="key">/r</li>
                                    <li class="value">23</li>
                                </ul>
                                <ul>
                                    <li class="key">/s</li>
                                    <li class="value">11</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="entry">
                        <ul class="summary"></ul>
                    </div>
                    <div class="step">
                        <ul>
                            <li class="summary no-border"></li>
                            <li class="detail">
                                <div class="ext-arrow"><img /></div>
                            </li>
                        </ul>
                    </div>
                    <div class="exit">
                        <ul class="summary"></ul>
                    </div>
                    <div class="entry">
                        <ul class="summary"></ul>
                    </div>
                    <div class="step">
                        <ul>
                            <li class="summary no-border"></li>
                            <li class="detail">
                                <div class="ext-arrow"><img /></div>
                            </li>
                        </ul>
                    </div>
                    <div class="exit">
                        <ul class="summary"></ul>
                    </div>
                </div>
                <div class="floor">
                    <div class="entry">
                        <ul>
                            <li class="summary"><h4>0(entrance)</h4></li>
                        </ul>
                    </div>
                    <div class="step">
                        <ul>
                            <li class="summary">
                                <ul>
                                    <li><h3>개인정보입력</h3></li>
                                    <li><span class="type">test:</span> /userinfo</li>
                                    <li><h3>33,376</h3></li>
                                    <li>
                                        <b class="funnel_bar_graph">
                                            <b style="width:42%"></b>
                                        </b>
                                    </li>
                                </ul>
                            </li>
                            <li class="detail">
                                <div class="arrow"><img src="resources/images/funnel/arrow-down-tail.png" style="width:{{funnelData.funnelTarget.nextStepRate}}%; height:60px;" /></div>
                                <div class="rate">
                                    <h4>
                                        3,332(41.95%) <span>continued to next step</span>
                                    </h4>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="exit">
                        <ul>
                            <li class="summary"><h4>4,610(exit)</h4></li>
                            <li class="detail">
                                <ul>
                                    <li class="key">/o</li>
                                    <li class="value">1125</li>
                                </ul>
                                <ul>
                                    <li class="key">/p</li>
                                    <li class="value">765</li>
                                </ul>
                                <ul>
                                    <li class="key">/q</li>
                                    <li class="value">335</li>
                                </ul>
                                <ul>
                                    <li class="key">/r</li>
                                    <li class="value">23</li>
                                </ul>
                                <ul>
                                    <li class="key">/s</li>
                                    <li class="value">11</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="entry">
                        <ul>
                            <li class="summary"><h4>0(entrance)</h4></li>
                        </ul>
                    </div>
                    <div class="step">
                        <ul>
                            <li class="summary">
                                <ul>
                                    <li><h3>개인정보입력</h3></li>
                                    <li><span class="type">test:</span> /userinfo</li>
                                    <li><h3>33,376</h3></li>
                                    <li>
                                        <b class="funnel_bar_graph">
                                            <b style="width:42%"></b>
                                        </b>
                                    </li>
                                </ul>
                            </li>
                            <li class="detail">
                                <div class="arrow"><img src="resources/images/funnel/arrow-down-tail.png" style="width:{{funnelData.funnelTarget.nextStepRate}}%; height:60px;" /></div>
                                <div class="rate">
                                    <h4>
                                        3,332(41.95%) <span>continued to next step</span>
                                    </h4>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="exit">
                        <ul>
                            <li class="summary"><h4>4,610(exit)</h4></li>
                            <li class="detail">
                                <ul>
                                    <li class="key">/o</li>
                                    <li class="value">1125</li>
                                </ul>
                                <ul>
                                    <li class="key">/p</li>
                                    <li class="value">765</li>
                                </ul>
                                <ul>
                                    <li class="key">/q</li>
                                    <li class="value">335</li>
                                </ul>
                                <ul>
                                    <li class="key">/r</li>
                                    <li class="value">23</li>
                                </ul>
                                <ul>
                                    <li class="key">/s</li>
                                    <li class="value">11</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="entry">
                        <ul>
                            <li class="summary"><h4>0(entrance)</h4></li>
                        </ul>
                    </div>
                    <div class="step">
                        <ul>
                            <li class="summary">
                                <ul>
                                    <li><h3>개인정보입력</h3></li>
                                    <li><span class="type">test:</span> /userinfo</li>
                                    <li><h3>33,376</h3></li>
                                    <li>
                                        <b class="funnel_bar_graph">
                                            <b style="width:42%"></b>
                                        </b>
                                    </li>
                                </ul>
                            </li>
                            <li class="detail">
                                <div class="arrow"><img src="resources/images/funnel/arrow-down-tail.png" style="width:{{funnelData.funnelTarget.nextStepRate}}%; height:60px;" /></div>
                                <div class="rate">
                                    <h4>
                                        3,332(41.95%) <span>continued to next step</span>
                                    </h4>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="exit">
                        <ul>
                            <li class="summary"><h4>4,610(exit)</h4></li>
                            <li class="detail">
                                <ul>
                                    <li class="key">/o</li>
                                    <li class="value">1125</li>
                                </ul>
                                <ul>
                                    <li class="key">/p</li>
                                    <li class="value">765</li>
                                </ul>
                                <ul>
                                    <li class="key">/q</li>
                                    <li class="value">335</li>
                                </ul>
                                <ul>
                                    <li class="key">/r</li>
                                    <li class="value">23</li>
                                </ul>
                                <ul>
                                    <li class="key">/s</li>
                                    <li class="value">11</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="floor">
                    <div class="entry">
                        <ul class="summary"></ul>
                    </div>
                    <div class="step">
                        <ul>
                            <li class="summary">
                                <ul>
                                    <li><h3><span>회원 가입 완료</span>(3,332)</h3></li>
                                    <li><p>9.98% Funnel Conversion Rate</p></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="exit">
                        <ul class="summary"></ul>
                    </div>
                </div>
            </div>
        </div>
        <div report-indicator="pageState"></div>
    </div>
</div>
<link href="resources/funnel/funnels.css" media="screen" rel="stylesheet" type="text/css">
<script type="text/javascript" src="resources/app/funnel/oneidJoinPcCtrl2.js"></script>
